<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>my coupon list sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/detail.css" />
		<link rel="stylesheet" href="../../css/show.css" />
		<style>
			html,body{ background: #fff;}
			#wrap{ background: #fff; padding-bottom: 30px;}
			.none-data{ display: flex; justify-content: center; align-items: center; margin-top: 20%;}
			.none-data i{ font-size: 48px; color: #aaa; margin-right: 10px;}
			.none-data span{ font-size: 16px; color: #aaa;}
			.coupon-title{ margin-top: 10px; padding: 0 15px; position: relative;}
			.coupon-title h2{ color: #222; font-size: 16px;}
			.coupon-title .how-use{position: absolute;right: 10px;top: 0px;font-size: 12px;color: #5a5a5a;text-decoration: underline;height: 20px;line-height: 20px;}
			.coupon-list.unavaliable li .left{ border-right-color: #aaa;}
			.coupon-list.unavaliable li:before{background-color: #aaa; }
			.coupon-list.unavaliable li .coupon-val{ color: #aaa;} 
			.coupon-list.unavaliable li .coupon-val span{ color: #aaa;}     
			.coupon-list.unavaliable li .coupon-range{ color: #aaa;}   
			.coupon-list.unavaliable li .coupon-name{ color: #aaa;}   
			.coupon-list.unavaliable li .coupon-date i{ color: #aaa;}
			.coupon-list.unavaliable li .coupon-date span{ color: #aaa; line-height: 22px;}
			
			.coupon-list li{ overflow: visible;}
			.coupon-list li.expire-mode{ margin-bottom: 35px;}
			.expire-alert{ position: absolute; right: 0; bottom: -22px; font-size: 14px;}
			.expire-alert span{ display: inline; color: #E62117; font-size: 14px;}
			
			.coupon-list .disabled-msg{ position: absolute; top: 2px; right: 5px; 
			width: 50px; height: 50px; background: #f1f1f1; border-radius: 50%; transform: rotate(30deg);
			color: #999; text-align: center; font-size: 12px; 
			word-break:break-all; display: flex; align-items: center; justify-content: center;}
			.pulldownload.bottom{ position: fixed; top: auto; bottom: 5px;}
			.coupon-title+.none-data{ margin-top: 0;}
		</style>
    	<script type="text/javascript" src="../../script/api.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>

	<body>
		
		<div id="wrap" v-show="show" v-cloak><!---->
			<div v-if="items_0.length>0 || items_1.length>0" class="coupon-title">
				<h2 i18n-tag>Available</h2>
				<!-- <a class="how-use" href="javascript:;" tapmode i18n-tag onclick="openHowUseCoupon();">How to use coupon?</a> -->
			</div>
			<div v-if="(items_0.length==0)" class="none-data">
				<i class="ourmallfont icon0-coupon"></i>
				<span i18n-tag>No Available Coupon</span>
			</div>
			<ul v-if="items_0.length>0" class="coupon-list" >
				
				<!--<li class="expire-mode">
					<div class="left">
						<div class="coupon-val"><span class="currency">€</span>20 <span class="off">OFF</span></div>
						<div class="coupon-range nui-ellipsis1">On orders € 200+</div>
					</div>
					<div class="right">
						<div class="coupon-date">
							<i class="ourmallfont icon0-time"></i>
							<span>30 Apr 2017</span>
						</div>
					</div>
					<div class="expire-alert">
						Expired within <span>1</span>  hours
					</div>
				</li>-->
				
				<li v-for="(item,index) in items_0" v-bind:class="{'expire-mode': item.leftTimestamp && (item.leftTimestamp < 86400)}" >
					<div class="left" v-bind:style="item.useLimitAmount>0 ? '':'justify-content:center'">
						<div class="coupon-val"><span v-if="item.couponType==1" class="currency" v-text="getDisplayCurrency('symbol')"></span>{{roundFixed(item.couponTxt)}} <span class="off" i18n-tag>OFF</span></div>
						<div v-if="item.useLimitAmount>0" class="coupon-range nui-ellipsis1"><ourmall i18n-tag>Items Total</ourmall> {{getDisplayCurrency('symbol') + ' ' + item.useLimitAmount}} +</div>
					</div>
					<div class="right">
						<div class="coupon-date">
							<i class="ourmallfont icon0-time"></i>
							<span>{{item.dateValidTo}}</span>
						</div>
					</div>
					<div v-if="item.leftTimestamp && (item.leftTimestamp < 86400)" class="expire-alert">
						<ourmall i18n-tag>Expired within</ourmall> <span>{{formatNS(item.leftTimestamp)}}</span>
					</div>
				</li>
			</ul>
			<div v-if="items_1.length>0" class="coupon-title">
				<h2 i18n-tag>Unavailable</h2>
			</div>
			<ul v-if="items_1.length>0" class="coupon-list unavaliable" >
				
				<!--<li>
					<div class="left">
						<div class="coupon-val"><span class="currency">€</span>20 <span class="off">OFF</span></div>
						<div class="coupon-range nui-ellipsis1">On orders € 200+</div>
					</div>
					<div class="right">
						<div class="coupon-name">Universal Coupon</div>
						<div class="coupon-date">
							<i class="ourmallfont icon0-time"></i>
							<span>30 Apr 2017</span>
						</div>
					</div>
					<div class="disabled-msg">Used</div>
				</li>-->
				
				<li v-for="(item,index) in items_1" >
					<div class="left" v-bind:style="item.useLimitAmount>0 ? '':'justify-content:center'">
						<div class="coupon-val"><span v-if="item.couponType==1" class="currency" v-text="getDisplayCurrency('symbol')"></span>{{roundFixed(item.couponTxt)}} <span class="off" i18n-tag>OFF</span></div>
						<div v-if="item.useLimitAmount>0" class="coupon-range nui-ellipsis1"><ourmall i18n-tag>Items Total</ourmall> {{getDisplayCurrency('symbol') + ' ' + item.useLimitAmount}} +</div>
					</div>
					<div class="right">
						<div class="coupon-date">
							<i class="ourmallfont icon0-time"></i>
							<span>{{item.dateValidTo}}</span>
						</div>
					</div>
					<div v-if="item.status == '2'" class="disabled-msg" i18n-tag>Used</div>
					<div v-else-if="item.status == '3'" class="disabled-msg" i18n-tag>Expired</div>
				</li>
			</ul>
			
		</div>
		<div class="pulldownload">
	        <div class="loader"></div>
		</div>
	</body>
	
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js"></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
	<script src="../../script/vue.min.js"></script>
	<script type="text/javascript">
        // load langugae property files
        loadProperties();

        var page_0 = 1,
		page_1 = 1,
		loadFlag = true,
		totalPage_0 = 0,
		totalPage_1 = 0,
		loadFlag = true;
	function AR() {
		//用户信息
        var localUinfo = localStorage.getItem('OURMALL_USERINFO');
        localUinfo = localUinfo ? JSON.parse(localUinfo) : {};
        var customerId = localUinfo.customerId;
        var myCouponList = function(){};
		//上拉加载
		nui.pullAppend(function(){
			if($('.pulldownload').is(':visible') || !loadFlag){
				return false;
			}

			if(page_0 <= totalPage_0 && totalPage_1 == 0) {
				myCouponList("append");
				return;
			}else if(page_0 > totalPage_0 && totalPage_1 == 0){
				myCouponList("append",1);
				return;
			}else if(page_1 <= totalPage_1 && totalPage_1 != 0){
				myCouponList("append",1);
				return;
			}else if(page_1 > totalPage_1 && totalPage_1 != 0){
				$('.pulldownload').hide();
				nui.toast($.i18n.prop("No more data"));
			}			
		});
		//下拉刷新
		nui.pullrefresh(function(){
			if($('.pulldownload').is(':visible') || !loadFlag){
				return false;
			}
			//重置
			couponListVM.show = false;
			page_0 = 1;
			page_1 = 1;
			totalPage_0 = 0;
			totalPage_1 = 0;
			$(".pulldownload").removeClass('bottom');
			myCouponList();
		})		
		var couponData = new Object;
		couponData.Avaliable = new Array;
		couponData.Unavaliable = new Array;

		var couponListVM = new Vue({
			el:'#wrap',
			data: {
				show: false,
				items_0: couponData.Avaliable,
				items_1: couponData.Unavaliable
			},
			methods:{
				formatNS :function(ns){
					var second = parseInt(ns);
					var minute = 0;
					var hour = 0;
					if(second < 60){
						result = '00:00:' + (second<10 ? '0' + second : second);
					}else if(second < 3600){
						minute = parseInt(second/60);
						second = parseInt(second%60);
						result = '00:' + (minute < 10 ? '0' + minute : minute) + ':' + (second<10 ? '0' + second : second);
					}else{
						minute = parseInt(second/60);
						second = parseInt(second%60);
						hour = parseInt(minute/60);
						minute = parseInt(minute%60);
						result = (hour < 10 ? '0' + hour : hour) + ':' + (minute < 10 ? '0' + minute : minute) + ':' + (second<10 ? '0' + second : second);
					}
					return result;
					
				}
			}
		});
		var countdown = 0;
		myCouponList = function(type,isExpire){
			if(!loadFlag || $('.pulldownload').is(':visible')) {
				return false;
			}
			$('.pulldownload').show();
			loadFlag = false;
			var mcOption = {
				customerId: customerId,
				page: isExpire == 1 ? page_1:page_0,
				isExpire: isExpire == 1 ? 1:undefined
			}
			$.mamall_request('coupon.my', mcOption, function(r) {
				if (r.ErrorCode == '9999'){
					clearInterval(countdown);
					if(type == 'append'){
						for(var i = 0; i<r.Data.coupon.length; i++){
							couponData[isExpire == 1 ? 'Unavaliable':'Avaliable'].push(r.Data.coupon[i]);
						}
					}else{
						couponData.Avaliable.splice(0,couponData.Avaliable.length);//清空原来
						couponData.Unavaliable.splice(0,couponData.Unavaliable.length);
						for(var i = 0; i<r.Data.coupon.length; i++){
							couponData[isExpire == 1 ? 'Unavaliable':'Avaliable'].push(r.Data.coupon[i]);
						}
					}
					if(isExpire == 1){
						totalPage_1 = r.Data.pagenation.totalpage;
						if(totalPage_1 == 0) totalPage_1 = 1
						page_1 ++;
						couponListVM.show = true;
					}else{
						totalPage_0 = r.Data.pagenation.totalpage;
						if(totalPage_0 == 0) totalPage_0 = 1
						page_0 ++;
					}
					if(couponData.Avaliable.length != 0) couponListVM.show = true;
					$(".pulldownload").hide();
					if(couponData.Avaliable.length != 0 || couponData.Unavaliable.length != 0) $(".pulldownload").addClass('bottom');
					//倒计时
					countdown = setInterval(function(){
						for( var i = 0; couponData.Avaliable.length > i; i++){
							if(couponData.Avaliable[i].leftTimestamp > 0){
								couponData.Avaliable[i].leftTimestamp = couponData.Avaliable[i].leftTimestamp - 1;
							}else{
								couponData.Unavaliable.push(couponData.Avaliable[i]);
								couponData.Avaliable.splice(i,1);	
							}
						}
					},1000)
				}else{
					
				}
				loadFlag = true;
				if(couponData.Avaliable.length<10 && page_0 > totalPage_0 && totalPage_0 != 0 && totalPage_1 == 0){
					myCouponList("append",1);
				}
				},undefined,api);
			}
		myCouponList();// 获取初始数据
		//打开弹层how-use-coupon-mask
		openHowUseCoupon = function(){
			api.openFrame({
				name:'how-use-coupon-mask',
		        url: 'widget://html/account/how-use-coupon-mask.html',
				pageParam: {
				},
				bounces: false,
				bgColor: 'rgba(0,0,0,.7)',
				vScrollBarEnabled: false,
				hScrollBarEnabled: false,
				rect:{
					h:api.winHeight,
					w:api.winWidth
				},
			});
		}
	}

	</script>
</html>