<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>my orders group</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../font/ourmall/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />	
		<link rel="stylesheet" href="../../css/my-order.css" />
		<link rel="stylesheet" href="../../css/pay-wait-mask.css" />
		<style>
			html,body{ background: #f6f6f6; }
			.pay-countdown{ position: absolute; top:0; left: 0; right:0; background:#00bfa5; padding: 0 15px; display: none;}
			.pay-countdown .arrow{ position: absolute; left: 70%; bottom:-12px; width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent;
			border-top: 16px solid #00bfa5;}
			.pay-countdown p{ color: #fff; height: 32px; line-height: 32px;}
			.pay-countdown p span{ display: inline-block; margin: 0 3px; padding: 0 3px; background:#fff; line-height: 20px;}
			.pay-action.countdown{ position: relative; padding-top: 35px;}
			.pay-action.countdown .pay-countdown{ display: block;}
			.text-danger{ color: #ff0000; }
			.pro-info .right h3 .label{ color: #E62117;}
			.status-waitPicking{
				background: #F8E7E8;
			    padding: 3px 15px;
			    border-radius: 10px;
			    color: #B61316;
			}
			.status-picking{
				background: #feefde;
			    padding: 3px 15px;
			    border-radius: 10px;
			    color: #ff8c16;
			}
			.status-partShipping{
				background: #e1eefd;
			    padding: 3px 15px;
			    border-radius: 10px;
			    color: #6daefc;
			}
			.status-shipping{
				background: #e0fef2;
			    padding: 3px 15px;
			    border-radius: 10px;
			    color: #3ecd95;
			}
		</style>
		<link rel="stylesheet" href="../../css/skin.css"/>
	</head>

	<body class="my-orders-group">
		<ul class="button-menu">
			<li class="iconfont icon-fanhuidingbu" tapmode onclick="scrollToTop()" id="scroll-top"></li>
		</ul>
		<div id="wrap">
			<ul class="order-list" id="orderList">
				<li>
					
				</li>
			</ul>
			<div class="pulldownload" style="position: relative; top: 5px; left: 0px; margin: 10px auto;">
		    	<div class="loader" style="top: 4px;"></div>
		  	</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js" ></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
	<script src="../../script/iscroll.js"></script>
	<script type="text/html" id="orderListTemp">
		<%if(OrderList.length>=1){%>
			<% 
			for(var i=0; OrderList.length>i; i++){
				if(! OrderList[i].code) { continue; }
				if(($api.getStorage('LIST_PULL_REFRESH_FLAG') != 'true') && ($('li[data-code="' + OrderList[i].code + '"]').length > 0)) { continue; }		
			%>
			<li data-code="<%=OrderList[i].code%>">
				<div class="pay-title" tapmode <%=("onclick='openOrderDetail(\""+OrderList[i].code+"\")'")%>>
					<div class="order-id">
						No.<span><%=OrderList[i].code%></span>
					</div>
					<div class="order-state">
						<%if(OrderList[i].hasRefundApplication == '1'){%>
							 <span class="status-shipping" style="background-color: #222; color: #fff;"><%=$.i18n.prop("Refunding")%></span>
						<%}else{%>
							<%if(OrderList[i].status == '1'){%>
								<%=$.i18n.prop("Unpaid")%>
							<%}else if(OrderList[i].status == '2'){%>	
								<%if(OrderList[i].hasPicking== '1'){%>
									<span class="status-picking"><%=$.i18n.prop("Order picking")%></span>
			                    <%}else if(OrderList[i].hasPicking== '2'){%>
			                    	<span class="status-waitPicking"><%=$.i18n.prop("Waiting for picking")%></span>
			                    <%}%>
							<%}else if(OrderList[i].status == '3'){%>
								<%if(OrderList[i].orderStatus==2){%>
								<span class="status-partShipping"><%=$.i18n.prop("Partial shipped")%></span>
								<%}else if(OrderList[i].orderStatus==3){%>
			                    <span class="status-shipping"><%=$.i18n.prop("Shipped")%></span>
								<%}%>
							<%}else if(OrderList[i].status == '5'){%>	
								<%=$.i18n.prop("Finished")%>
							<%}else if(OrderList[i].status == '9'){%>
								<%=$.i18n.prop("Canceled")%>
							<%}%>	
						<%}%>	
						
						
					</div>
				</div>
				<%for(var j=0; OrderList[i].orderPlus.length>j; j++){%>
				<div class="pro-info" tapmode <%=("onclick='openOrderDetail(\""+OrderList[i].code+"\")'")%>>
					<div class="left">
						<div class="img-wrap">
							<img src="../../image/placeholder300.png"  data-lazyload="true" data-original="<%=OrderList[i].orderPlus[j].img%>">
						</div>
					</div>	
					<div class="right">
						<h3 class="nui-ellipsis1">
							<%=OrderList[i].orderPlus[j].name%>
							<%if(OrderList[i].orderPlus[0].secKillId){%>
								<span class="text-danger"><%=$.i18n.prop("[Flash Deals]")%></span>
							<%}%>
						</h3>
						<div class="attr">
							<span class="nui-ellipsis1"><%=OrderList[i].orderPlus[j].propertyValue%></span>
							<span class="text-success"><%=OrderList[i].orderPlus[j].txtRefund%></span>
						</div>
						<div class="num-amount">
							<span class="num">×<span><%=OrderList[i].orderPlus[j].quantity%></span></span>
							<span class="amount"><%=getDisplayCurrency('symbol',OrderList[i].currency)%> <span><%=roundFixed(parseFloat(parseFloat(OrderList[i].orderPlus[j].price)*parseFloat(OrderList[i].currencyRate)))%></span></span>
						</div>
					</div>
				</div>
				<%}%>
				<div class="pay-info">
					<div class="pay-type">
						<%=$.i18n.prop("Payment")%>: 
						<span>
							<%=OrderList[i].payTypeName%>
						</span>
					</div>
					<div class="pay-amount">
						<%=$.i18n.prop("Total")%>: <span><%=getDisplayCurrency('symbol',OrderList[i].currency)%> <%=roundFixed(parseFloat(parseFloat(OrderList[i].payTotal)*parseFloat(OrderList[i].currencyRate)))%></span>
					</div>
					<%if(OrderList[i].status == '1'){%>
					<div class="pay-action countdown">
						<a href="javascript:;" data-code="<%=OrderList[i].code%>" data-paytype="<%=OrderList[i].payType%>" data-totalPrice="<%=roundFixed(parseFloat(parseFloat(OrderList[i].payTotal)*parseFloat(OrderList[i].currencyRate)))%>" data-goodsAmount="<%=OrderList[i].paymentArray[OrderList[i].code].goodsAmount%>" data-shippingAmount="<%=OrderList[i].paymentArray[OrderList[i].code].shippingAmount%>" data-couponAmount="<%=OrderList[i].paymentArray[OrderList[i].code].couponAmount%>"  tapmode onclick = "payAction(this)"><%=$.i18n.prop("PAY NOW")%></a>
						<%if(OrderList[i].groupBuyId>0&&!OrderList[i].groupBuyIsExpire){%>
						<div class="pay-countdown" data-second="<%=OrderList[i].groupBuyRemainTime%>">
					  		<p><%=$.i18n.prop("Pay your order within the limited time")%> <span data-time='H'>--</span> : <span data-time='M'>--</span> : <span data-time='S'>--</span></p>
					  		<div class="arrow"></div>
					  	</div>
					  	<%}%>
					  	<%if(typeof OrderList[i].secKillTime == 'number' && OrderList[i].secKillTime > 0){%>
					  		<div class="pay-countdown" data-second="<%=OrderList[i].secKillTime%>">
					  		<p><%=$.i18n.prop("Pay your order within the limited time")%> <span data-time='H'>--</span> : <span data-time='M'>--</span> : <span data-time='S'>--</span></p>
					  		<div class="arrow"></div>
					  	</div>
					  	<%}%>
					</div>
					<%}%>
					<%if(OrderList[i].status == '3'){%>
					<div class="pay-action track-receive-btn">
						<a href="javascript:;" class="track-info" data-code="<%=OrderList[i].code%>"   tapmode onclick = "goTrackInfo(this)"><%=$.i18n.prop("TRACK INFO")%></a>
						<a href="javascript:;" class="received"  data-code="<%=OrderList[i].code%>"   tapmode onclick = "finishOrder(this)"><%=$.i18n.prop("RECEIVED")%></a>
					</div>
					<%}%>
				</div>
			</li>	
			<%}%>
		<%}else{%>
			<div class="no-orders">
				<p><i class="ourmallfont icon0-task"></i></p>
				<p><%=$.i18n.prop("No orders")%></p>
			</div>
		<%}%>	
	</script>
	<script>
	if(localStorage.getItem('DEFAULT_APP_LANGUAGE')== 'fa')
	  $('head').append('<link rel="stylesheet" type="text/css" href="../../css/style-rtl.css">');
    // load langugae property files
    loadProperties();

    function remainSeconds(){
			$('.pay-countdown[data-second]').each(function(){
				var el = $(this);
				setTimeout(function(){
					var second = parseInt(el.attr('data-second'));
					if(second <= 0){
						el.attr('data-second',0);
						el.find('[data-time]').text('00');
						el.parents('li').remove();
					}else{
						second--;
						el.attr('data-second',second);
						el.find('[data-time=H]').text(formatSecondsHMS(second,'h'));
						el.find('[data-time=M]').text(formatSecondsHMS(second,'m'));
						el.find('[data-time=S]').text(formatSecondsHMS(second,'s'));
					}
				},0);
			});
		}
		//执行倒计时
		var t_remainSeconds = setInterval(remainSeconds,1000); 
		var findOrderList = inviteFriends = payAction = openOrderDetail = goTrackInfo = finishOrder = function(){};
		var orderCode;
		function AR(){
			var ajpush = api.require('ajpush');
			//检查是不是关闭了推送功能
			ajpush.isPushStopped(function(ret) {
			    if(ret && ret.isStopped == true){
					checkPushStatusAlert('order');
			    }
			});

			//初始值
			var pageStatu = api.pageParam.pageStatu,	
				page = 1,
				localUinfo = JSON.parse(localStorage.getItem('OURMALL_USERINFO')),
				orderListData,
				totalPage,
				loadFlag = true;
			var retryTimes = 0;	
			//取数据
			findOrderList = function(type){
				if(!loadFlag){
					return false;
				}
				loadFlag = false;
				$('.pulldownload').show();
				$.mamall_request('shop.orderlist', {
					customerId:localUinfo.customerId,
					status:pageStatu,
					page:page
				},function(r){
					loadFlag = true;
					if(r.ErrorCode == '9999') {
						retryTimes = 0;
						if(!type){
							$("#orderList").html('');
						}
						orderListData = r.Data;		
						totalPage = Math.ceil(r.Data.Pagination.totalCount/r.Data.Pagination.rowsPerPage);
						$("#orderList").append(baidu.template("orderListTemp",orderListData));
						imgLoad();
						page ++;
						$('.pulldownload').hide();
					} else if(r == 'timeout' && retryTimes < 2) {
						retryTimes ++;
						findOrderList(type);
					} else {
						$(".pulldownload").hide();
						api.refreshHeaderLoadDone();
						retryTimes = 0;
					}
				}, undefined, api);
			}
			findOrderList();
			//下拉刷新
			nui.pullrefresh(function(){
				if($('.pulldownload').is(':visible') || !loadFlag){
					return false;
				}
				page = 1;
				findOrderList();
			},'#f6f6f6');
			//上拉加载
			nui.pullAppend(function(){
				if($('.pulldownload').is(':visible') || !loadFlag){
					return false;
				}
				if(page > totalPage ) {
					$('.pulldownload').hide();
					nui.toast($.i18n.prop("No more data"));
					return;
				}
				findOrderList("append");
			});
			goTrackInfo = function(obj)
			{
				orderCode = $(obj).attr("data-code");
				$api.openWin({
					name: 'order-track-info',
					url: 'widget://html/account/order-trackinfo.html',
					animation:{
						type:"movein",
						subType:"form_right"
					},
					pageParam:{
						orderCode:orderCode,
					}
				});
				return;
			};
			payAction = function(obj){
				orderCode = $(obj).attr("data-code");
				var payType = $(obj).attr("data-paytype"),
					totalPrice = parseFloat($(obj).attr("data-totalPrice")),
					orderItemCount = 1,
					orderItemName = ['ZoodMall:' + orderCode];
				var tradeCode = $(obj).attr("data-tradecode");
				//信用卡
				if(payType == 3){
					$api.openWin({
					    name: 'card-pay',
					    url: 'widget://html/cardpay/card-pay.html',
					    animation:{
					    	type:"movein",
					    	subType:"form_right"
					    },
					    pageParam:{
					    	orderCode:orderCode,
					    	totalPrice:totalPrice,
					    	orderItemName:orderItemName,
					    	orderItemCount:orderItemCount
					    }
					});
					return;		
				}
				payMask();
				api.addEventListener({
				    name: 'cancelPay'
				}, function(ret, err) {
				    payMask('failed');
				    setTimeout(function(){
						api.execScript({
						    name: 'main',
						    script: 'paySuccess()'
						});	
						
					},2000);
				});						
				var paymentData = new Object;
				paymentData[orderCode] = new Object;
				paymentData[orderCode].goodsAmount = $(obj).attr("data-goodsAmount");
				paymentData[orderCode].shippingAmount = $(obj).attr("data-shippingAmount");
				paymentData[orderCode].couponAmount = $(obj).attr("data-couponAmount");
				startPaypost(localUinfo.customerId,paymentData);						
				
			}
			//cardPay回调
			api.addEventListener({
			    name: 'cardPayReturn'
			}, function(ret, err) {
				payMask();
				api.closeWin({
					name: 'card-pay'
				});
				if(ret.value.key == 'success'){
					cardPayReturn("success");
				}else{
					cardPayReturn("failed",ret.value.message);
				}
			    
			});	
			openOrderDetail = function(code){
				$api.openWin({
				    name: 'order-detail',
				    url: 'widget://html/account/order-detail.html',
				    reload:true,
				    animation:{
				    	type:"movein",
				    	subType:"form_right"
				    },
				    pageParam:{
				    	code:code
				    }
				});
			}
			finishOrder = function(obj){
				api.confirm({
					title: '',
				    msg: $.i18n.prop("Confirm to finish this order?"),
				    buttons: [$.i18n.prop("OK"), $.i18n.prop("CANCEL")]
				}, function(ret, err) {
				    var index = ret.buttonIndex;
				    var orderCode = $(obj).attr("data-code");
				    if(index==1){
				    	$.mamall_request('shop.finishorder', {
							customerId:localUinfo.customerId,
							code:orderCode
						},function(r){
							if(r.ErrorCode == '9999') {
								nui.toast($.i18n.prop("Confirmed succeed"));
								setTimeout(function(){
									api.execScript({
										name: 'my-orders',
										script:'api.closeFrameGroup({name: "my-orders-group"})'
									});
									$api.openWin({
											name:'my-orders',
											url : 'widget://html/account/my-orders.html',
											animation: {
												type: "movein",
												subType: "from_right"
											},
											reload:true,	
											pageParam:{
												status:5
											}
									});
								},2000);
								
							}else{
								nui.toast(r.Message);
							}
							
						}, undefined, api);
				    }
				});
			}
			inviteFriends = function(obj) {
				var link = $(obj).attr("data-sharelink");
				var img = $(obj).attr("data-shareimg");
		    	if(! link) {
		    		nui.toast($.i18n.prop("Share failed, please try later!"));
		    		return;
		    	}
				var shareData = { 
					title:'', 
					text: 'You deserve this amazing item. Buy with me! '+link, 
					imgPaths: [img], 
					url:link,
					orderCode:$(obj).attr("data-code")

				}
				openShareMask(undefined,shareData); //显示所有分享方式
			}					
		}


	</script>	
</html>