<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>order items rate sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../font/ourmall/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />	
		<link rel="stylesheet" href="../../css/pay-wait-mask.css" />
		<link rel="stylesheet" href="../../css/my-order.css" />
		<style>
			html,body{ background: #fff; }
			.review-star i{ color: #E0E0E0;}
			.review-star i.active{ color: #F5511E;}
		    .review-star i.active:before{content: "\e606";}
		</style>
		<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>

	<body>
		<div id="wrap" v-cloak>
			<div class="order-item" v-for="(item,index) in itemList">
				<div class="item-detail">
			        <a href="javascript:;" class="product order-content">
			        	<div class="left img-wrap" style="background-image: url(../../image/placeholder300.png);" data-lazyload="true" :data-original="item.productImg" data-autowh></div>
						<div class="right">
							 <p class="nui-ellipsis2" v-text="item.productName"></p>
						</div>
			        </a>
			    </div>
			    <div class="rate-content-input">
					<textarea v-model.trim="item.reviewTxt" :value="item.reviewTxt" :readonly="!isWrite" v-bind:class="{error: (alertError && !item.reviewTxt)}"  name="rateContent" :placeholder="$.i18n.prop('Say something about your item...')" rows="3"></textarea>
				</div>
				<div class="upload-rate-wrap">
					<div class="rate-list-wrap">
						<ul class="rate-list-content" >
							<li  class="img-wrap" v-for="(img,imgIndex) in item.reviewShow" v-bind:class="{active : img.uploaded}">
								<div v-if="img.scale"  tapmode :onclick="'openPreview(this,'+ index +');'" :style="{'background-image':'url(data:image/jpg;base64,'+img.img+')','background-size': +(img.scale*108)+'%'}" class="img"></div>
								<div v-else  tapmode :onclick="'openPreview(this,'+ index +');'"  style="background-image: url(../../image/placeholder300.png);" class="img" data-lazyload="true" :data-original="img.Url" data-autowh></div>
								<a v-if="img.scale" href="javascript:;" tapmode @click="removeImg(index,imgIndex)"><i class="iconfont icon-guanbi"></i></a>
							</li>
							<li v-if="isWrite" class="rate-list-add" v-show="item.reviewShow.length<3">
								<a href="javascript:;"  tapmode :onclick="'uploadShowPic('+ index +');'">
									<i class="iconfont icon-jiahao"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="rate-star">
					<div class="review-star">
						<i class="ourmallfont icon0-star-0" :class="item.reviewStar>=n ? 'active':''" v-for="n in 5" v-on:click="clickStar(index,n)"></i>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script src="../../script/vue.min.js"></script>
	<script src="../../script/lrz/lrz.bundle.js"></script>
	<script type="text/javascript">
        // load langugae property files
        loadProperties();

        var isSend = saveComment = openPreview = submitContent = submitImg = pageBack = saveMask = function(){};
		var imgPx = 1125; //照片压缩像素
		var photoBrowserFlag,photoBrowser;
		var isEdit = false,isSubmit = false;
		var ajaxFlag = false;
		var orderReviewVM = new Vue({
			el: '#wrap',
			data: {
				itemList: [],
				isWrite: false,
				alertError: false
			},
			updated:function(){
				imgLoad();
			},
			methods:{
				clickStar: function(i,grade){
					if(!this.isWrite) return;
					this.itemList[i].reviewStar = grade
				},
				addImg: function(rst,scale,_Url,_index){
					this.itemList[_index].reviewShow.push({img:rst.base64.split('base64,').pop(), scale : scale, Url : _Url, uploaded: false});
				},
				removeImg: function(parentIndex,index){
					this.itemList[parentIndex].reviewShow.splice(index,1);
				}	
			}
		});
		orderReviewVM.$watch('isWrite',function(){
			isSend();
		});
		orderReviewVM.$watch('itemList',function(){
			isEdit = false,isSubmit = true;
			for( var i = 0; i < this.itemList.length; i++){
				if(this.itemList[i].reviewTxt || this.itemList[i].reviewShow.length > 0){
					isEdit = true;
					break;
				}
			}
			for( var i = 0; i < this.itemList.length; i++){
				if(!this.itemList[i].reviewTxt){
					isSubmit = false;
					break;
				}
			}
		},{deep: true})
		//添加图片
		var _imgW, _imgH;
		var uploadShowPic = function(_index){
			if(!orderReviewVM.isWrite) return;
			api.confirm({
				title: '',
			    msg: $.i18n.prop("Please choose a picture."),
			    buttons: [$.i18n.prop("Camera"), $.i18n.prop("Photo")]
			}, function(ret, err) {
			    var index = ret.buttonIndex;
			    if(index == 0) return;
			  	api.getPicture({
				    sourceType: index == 1 ? 'camera':'library',
				    encodingType: 'jpg',
				    mediaValue: 'pic',
				    destinationType: 'url',
				    quality: 90,
				    saveToPhotoAlbum: false
				}, function(ret, err) {
				    if (ret) {
				    	var _img, imgSet = {width : imgPx};
				    	_img = new Image();
				    	_img.onload = function(){
					    	_imgW = this.width,
					        _imgH = this.height;
					        imgShow(_imgW,_imgH,_img.src,_index);
					    };
					    _img.src = ret.data;
				    } 
				});
			    
			});
		}
		var imgShow = function(_imgW,_imgH,_Url,_index){
			var scale = 1;
			if(_imgW>=_imgH){
	      		imgSet = {width : _imgW>imgPx ? imgPx:_imgW};
	      		scale = _imgW/_imgH
	      	}else{
	      		imgSet = {height : _imgH>imgPx ? imgPx:_imgH};
	      		scale = 1
	      	} 
	      	//转base64
		    lrz( _Url , imgSet ).then(function (rst){
		    		orderReviewVM.addImg(rst,scale,_Url,_index);
		        })
		        .catch(function (err) {
		            // 处理失败会执行
		            api.alert({
		            	title:'',
		            	msg:$.i18n.prop("Picture format error! JPG,GIF,PNG is required.")
		            },function(ret,err){});
		        })
		        .always(function () {
		            // 不管是成功失败，都会执行 
		        });
	      	
		}
		
		function AR() {
			$('input').each(function(){
				if($(this).attr('placeholder')) {
					$(this).attr('placeholder', $.i18n.prop($(this).attr('placeholder')));
				}
			});
			var productsItem = api.pageParam.productsData;
			var orderCode = api.pageParam.orderCode;
			var localUinfo = localStorage.getItem("OURMALL_USERINFO");
    		localUinfo = localUinfo ? JSON.parse(localUinfo) : {};
    		photoBrowser = api.require('photoBrowser');
			for( var i = 0; i < productsItem.length; i++){
				orderReviewVM.itemList.push({
					productName: productsItem[i].name,
					productImg: productsItem[i].img,
					reviewTxt:'',
					reviewShow:[],
					reviewStar:5,
					imgUploadIndex:0,
					productId: productsItem[i].productId
				})
			}
			saveMask = function(_text){
				api.showProgress({
				    style: 'default',
				    animationType: 'fade',
				    title: $.i18n.prop("Posting..."),
				    text: _text
				});
			}
			//获取初始信息
			api.showProgress({
			    style: 'default',
			    animationType: 'fade',
			    title: $.i18n.prop("Loading..."),
			    text: ''
			});
			jQuery.mamall_request('product.hascomment',{
				customerId: localUinfo.customerId,
				orderCode: orderCode	
			},
			function(r){
				if('9999' == r.ErrorCode) {
					var cData = r.Data.Comment;
					if(r.Data.hasComment == true){
						orderReviewVM.isWrite = false;
						for(var key in cData){
							for(var i = 0; i < orderReviewVM.itemList.length; i++){
								if(key == orderReviewVM.itemList[i].productId){
									orderReviewVM.itemList[i].reviewTxt = cData[key].title;
									orderReviewVM.itemList[i].reviewStar = cData[key].rank;
									for(var j = 0; j < cData[key].img.length; j++){
										orderReviewVM.itemList[i].reviewShow.push({Url : cData[key].img[j], uploaded: false})
									}
								}
							}
						}
					}else{
						orderReviewVM.isWrite = true;
					}
				}else{
					orderReviewVM.isWrite = true;
				}	
				imgLoad();
				api.hideProgress();
			},undefined,api);
			isSend = function(){
				api.execScript({
					name:'order-items-rate',
					script: orderReviewVM.isWrite ? '$(".upload-rate-send").removeAttr("disabled")' : '$(".upload-rate-send").attr("disabled","disabled")'
				})	
			}
			openPreview = function(obj,_index){
				var index = $(obj).parent().index();
				var imgUrlArr = new Array;
				for( var i = 0; i < orderReviewVM.itemList[_index].reviewShow.length; i++){
					imgUrlArr.push(orderReviewVM.itemList[_index].reviewShow[i].Url);
				}
				photoBrowser.open({
				    images: imgUrlArr,
				    bgColor: '#000',
				    activeIndex:index
				}, function(ret, err) {
				    if (ret) {
				    	photoBrowserFlag = ret;
				        if(ret.eventType == 'click'){
				       	 	photoBrowser.close();
				        }
				    }
				});
			
			}
			saveComment = function(){
				if(!isSubmit){
					for( var i = 0; i < orderReviewVM.itemList.length; i++){
						if(!orderReviewVM.itemList[i].reviewTxt){
							orderReviewVM.alertError = true;
							break;
						}
					}
					api.alert({
		            	title:'',
		            	msg:$.i18n.prop("Please tell us something about this item.")
		            },function(ret,err){
		            	var _top = $("textarea.error:first").parents('.order-item').offset().top;
		            	$('html,body').animate({scrollTop:_top},500);
		            });		
					return;
				}
				ajaxFlag = true;
				orderReviewVM.isWrite = false;
				saveMask($.i18n.prop("Please be patient."));
				var _id,_productId;
				var thisIndex = 0;
				var apiOption = new Array;
				var submitContent = function(){
					saveMask($.i18n.prop("Please be patient."));
					if(thisIndex < orderReviewVM.itemList.length){
						if(orderReviewVM.itemList[thisIndex].reviewTxt || orderReviewVM.itemList[thisIndex].reviewShow.length>0){
							jQuery.mamall_request('product.addcomment',{
								customerId: localUinfo.customerId,
								title: orderReviewVM.itemList[thisIndex].reviewTxt,
								productId: productsItem[thisIndex].productId,
								productPropertyValue: productsItem[thisIndex].propertyValue,
								orderCode: orderCode,
								rank: orderReviewVM.itemList[thisIndex].reviewStar
							}, function(r) {
								if('9999' == r.ErrorCode) {
									_id = r.Data.id,
									_productId = r.Data.productId
									if(orderReviewVM.itemList[thisIndex].reviewShow.length > 0){
										//继续提交图片
										submitImg();
									}else{
										thisIndex++;
										submitContent();
									}
								}else{
									api.alert({
					            		title:'',
					            		msg:$.i18n.prop("Post failed. Please try again")
					            	},function(ret,err){
					            		api.hideProgress();
					            		orderReviewVM.isWrite =  true;
					            		ajaxFlag = false;
					            	});
								}
							},undefined,api);
						}else{
							thisIndex++;
							submitContent();
						}	
					}else{
						saveMask($.i18n.prop("Post succeed"));
						jQuery.mamall_request('a:Web.ProductComment.imgFinishAddShow',{
							id: _id,
							productId: _productId
						}, function(r) {
							//最后完成上传
							setTimeout(function(){
								api.hideProgress();
								api.execScript({
									name:'order-items-rate',
									script:'api.closeWin();'
								});
							},500)
							return;
						},undefined,api);
					}
				};
				submitImg = function(){
					var totalImg = orderReviewVM.itemList[thisIndex].reviewShow.length;
					if(orderReviewVM.itemList[thisIndex].imgUploadIndex < totalImg){
						var addImgOption = new Object;
						addImgOption = {
							id: _id,
							productId: _productId,
							imgs: '{"img":"'+orderReviewVM.itemList[thisIndex].reviewShow[orderReviewVM.itemList[thisIndex].imgUploadIndex].img+'","suffix":"jpg"}',
						}
						saveMask('images '+(orderReviewVM.itemList[thisIndex].imgUploadIndex + 1)+' / '+totalImg);
						jQuery.mamall_request('a:web.ProductComment.customerCommentImgAdd',addImgOption, function(r) {
							if('9999' == r.ErrorCode) {
								if(r.Data == '1'){
									orderReviewVM.itemList[thisIndex].reviewShow[orderReviewVM.itemList[thisIndex].imgUploadIndex].uploaded = true;
									orderReviewVM.itemList[thisIndex].imgUploadIndex += 1;
									submitImg();
								}
							}else{
								api.hideProgress();
								api.confirm({
									title: '',
								    msg: $.i18n.prop("Post failed. Continue to post?"),
								    buttons: [$.i18n.prop("Continue"), $.i18n.prop("Cancel")]
								}, function(ret, err) {
								    if(ret.buttonIndex == 1){
								    	submitImg();
								    }else{
								    	orderReviewVM.isWrite =  true;
								    	ajaxFlag = false;
								    }
								});
							}	
						},undefined,api,50000);
					}else{
						thisIndex++;
						submitContent();
					}
				};				
				submitContent();
			}
			pageBack = function(photoBrowserFlag){
				if( photoBrowserFlag && photoBrowserFlag.eventType == 'show'){
					photoBrowser.close();
					photoBrowserFlag.eventType = 'hide';
					return;
				}else if(orderReviewVM.isWrite == true && isEdit == true || ajaxFlag == true){
					api.confirm({
						title: '',
					    msg: $.i18n.prop("Leave the page and discard the changes?"),
					    buttons: [$.i18n.prop("Stay"), $.i18n.prop("Leave")]
					}, function(ret, err) {
					   if(ret.buttonIndex == 1){
					   		return;		
					   }else if(ret.buttonIndex == 2){
					   		api.execScript({
								name:'order-items-rate',
								script:'goBack()'
							});	
					   }
					})
					return;
				}else{
					api.execScript({
						name:'order-items-rate',
						script:'goBack()'
					});
				}
			}
		}
	</script>

</html>