<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>order trackinfo sub tab</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../font/ourmall/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />	
		<link rel="stylesheet" href="../../css/pay-wait-mask.css" />
		<link rel="stylesheet" href="../../css/my-order.css" />
		<style>
			html,body{ background: #fff; }
			
		</style>
	</head>

	<body>
		<div id="wrap">
		    <div class="tab-content">
				<div class="order-item">
					<div class="mui-media">
						<a href="javascript:;"><img class="mui-media-object mui-pull-left" src="../../image/placeholder300.png"></a>
					</div>
					<div class="trackinfo-update">
						<p class="order-num"><ourmall i18n-tag>Track No</ourmall>. <span></span></p>
						<div class="hide-info">
							<ul class="mui-table-view">

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pulldownload" style="position: relative; top: 5px; left: 0px; margin: 10px auto;">
    		<div class="loader" style="top: 4px;"></div>
	  </div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js" ></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
	<script type="text/html" id="trackInfoContentTemp">
		<div class="mui-media">
			<%if(trackInfo[key].img){%>
			<%for(var j=0; trackInfo[key].img.length>j; j++){%>
			<a href="javascript:;"><img class="mui-media-object mui-pull-left" src="<%=trackInfo[key].img[j]%>"></a>
			<%}%>
			<%}%>
			<a href="javascript:;" class="items"><%=trackInfo[key].total%><span> <ourmall i18n-tag>Items</ourmall></span></a>
		</div>
		<div class="trackinfo-update">
			<%if(trackInfo[key].mark){%>
			<p class="order-num"><%=$.i18n.prop("Track No")%>. <span><%=trackInfo[key].mark%></span></p>
			<div class="hide-info">
				<ul class="mui-table-view">
					<%if(trackInfo[key].history && trackInfo[key].history != 'null'){%>
					<%for(var i=0; trackInfo[key].history.length>i; i++){%>
					<li class="mui-table-view-cell <%if(i==0){%>active <%}%>">
						<p ><%=trackInfo[key].history[i].content%> </p>
						<p class="text-muted"><%=getLocalTimeFromDatetime(trackInfo[key].history[i].time, 'en')%></p>
					</li>
					<%}%>
					<%}%>
				</ul>
			</div>
			<% } %>
		</div>
	</script>
	<script type="text/javascript">
        // load langugae property files
        loadProperties();

        var loadingTrackInfoContent = function(){};
		function AR(){
			api.pageParam.data.key = api.pageParam.package;
			$("#wrap .order-item").html(baidu.template("trackInfoContentTemp",api.pageParam.data));
		}
	</script>

</html>
