<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>order trackinfo sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../font/ourmall/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />	
		<link rel="stylesheet" href="../../css/pay-wait-mask.css" />
		<link rel="stylesheet" href="../../css/my-order.css" />
		<style>
			html,body{ background: #fff; }
			
		</style>
		<link rel="stylesheet" href="../../css/skin.css"/>
	</head>

	<body>
		<div id="wrap">
			<div class="mui-table-view-cell mui-media trackinfo-top">
				<a href="javascript:;" class="product order-content">
					<div class="left">
						<div class="img-wrap">
							<img src="../../image/placeholder300.png">
						</div>
					</div>
					<div class="right">
						<p class="mui-ellipsis"><ourmall i18n-tag>Order No</ourmall>. <span> </span></p>
						<p class='mui-ellipsis'><ourmall i18n-tag>Items</ourmall>: <span> </span></p>
					</div>
				</a>
		    </div>
			<!--多个运单-->
			<div class="trackinfo-detail">
				<p class="track-text mui-ellipsis-2" i18n-tag>TRACK INFO</p>
				<div class="package-category" id="package" >
					<!--<a class="mui-control-item active" href="javascript:;"  tapmode onclick="randomSwitchBtn(this,'order-trackinfo-package',0)"  ><ourmall i18n-tag>Package</ourmall>1</a>-->
				</div>

			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js" ></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>

	<script type="text/html" id="trackInfoTemp">
		<p class="track-text mui-ellipsis-2"><%=$.i18n.prop("TRACK INFO")%></p>
		<div class="trackinfo-update">
			<%if(trackInfo.length==1){%>
				<p class="order-num"><%=$.i18n.prop("Track No")%>. <span><%=trackInfo[0].mark%></span></p>
				<div class="hide-info">
					<ul class="mui-table-view">
						<%if(trackInfo[0].history && trackInfo[0].history != 'null'){%>
						<%for(var i=0; trackInfo[0].history.length>i; i++){%>
							<li class="mui-table-view-cell <%if(i==0){%>active <%}%>">
								<p ><%=trackInfo[0].history[i].content%> </p>
								<p class="text-muted"><%=getLocalTimeFromDatetime(trackInfo[0].history[i].time, 'en')%></p>
							</li>
						<%}%>
						<%}%>
					</ul>
				</div>
			<% } %>
		</div>
	</script>
	<script type="text/javascript">
        // load langugae property files
        loadProperties();

        var tabsActive = openOrderGroupFrame = loadingTrackInfo = function(){};
		var isSelectMore = false;
		function AR() {
			
			
			var localUinfo = JSON.parse(localStorage.getItem('OURMALL_USERINFO'));
			var UILoading = api.require('UILoading');
			loadingTrackInfo = function()
			{
				var loadingId = '';
				UILoading.flower({
					center: {
						x: api.winWidth / 2.0,
						y: api.winHeight / 2.0
					},
					size: 40,
					fixed: true
				}, function(ret) {
					loadingId = ret;
				});

				$.mamall_request('product.trackinfo', {
					customerId:localUinfo.customerId,
					code:api.pageParam.code
				},function(r){
					if(loadingId){
						UILoading.closeFlower(loadingId);
					}
					if(r.ErrorCode == '9999') {
						trackInfoData = r.Data;
						var historyJson = trackInfoData.trackInfo;
						$("#wrap .trackinfo-top .left img").prop("src",trackInfoData.codeItem.img);
						$("#wrap .trackinfo-top .right p:first span").html(trackInfoData.codeItem.code);
						$("#wrap .trackinfo-top .right p:last span").html(trackInfoData.codeItem.count);
						if(historyJson.length == 1) //单个物流
						{
							//$("#package").
							$("#package").parent().html(baidu.template("trackInfoTemp",trackInfoData));
						}else
						{

							var trackInfoTab='',isActive='', tabDataArr=new Array() ;var PackAgeName;
							for(var j =0;j<historyJson.length ;j++)
							{
								PackAgeName = $.i18n.prop("Package")+(j+1);
								if(historyJson[j].status == 1)
								{
									PackAgeName = $.i18n.prop("Pending");
								}
								isActive = j==0 ? 'active' :'';
								trackInfoTab += '<a class="mui-control-item '+isActive+'" href="javascript:;" tapmode onclick="randomSwitchBtn(this,\'order-trackinfo-package\','+j+')"  >'+PackAgeName+'</a>';
								tabDataArr[j] = {
									name: 'order-trackinfo-package',
									url: 'widget://html/account/order-trackinfo-sub-tab.html',
									bgColor: '#fff',
									pageParam:{
										package:j,
										data:trackInfoData
									},
									reload:true
								};
							}
							var _y = document.getElementById("package").offsetTop,
									_yy = document.getElementById("package").offsetHeight,
									header_h = api.pageParam.header_h;
							api.openFrameGroup({
								name: 'group1',
								background: '#fff',
								rect: {
									y: _y+_yy+header_h+40,
									h:$(window).height()-_y-_yy-40,
								},
								index: 0,
								frames: tabDataArr
							}, function(ret, err) {
								var index = ret.index;
								var tabs = document.getElementById("package").children;
								for(var i = 0; i < tabs.length; i++) {
									if(i == index) {
										nui.toggleClass(tabs[i], 'active', 'add')
									} else {
										nui.toggleClass(tabs[i], 'active', 'remove')
									}
								}
							});
							$("#package").html(trackInfoTab);
							//More隐藏
							if(historyJson.length>3){
								jQuery(".trackinfo-detail .mui-control-item").eq(3).before("<a class='mui-control-item more'>More<span class='iconfont icon-jiantou-copy'></span></a>");
								jQuery(".trackinfo-detail .mui-control-item").eq(3).nextAll(".mui-control-item").hide();

								jQuery(".trackinfo-detail").on("click",".mui-control-item.more",function(){
									isSelectMore = true;
									jQuery(".trackinfo-detail .mui-control-item.more").remove();
									jQuery(".mui-control-item").show();
									var _y = document.getElementById("package").offsetTop,
										_yy = document.getElementById("package").offsetHeight,
										header_h = api.pageParam.header_h;
									api.closeFrameGroup({
									    name: 'group1'
									});
									api.openFrameGroup({
										name: 'group',
										background: '#fff',
										rect: {
											y: _y+_yy+header_h,
											h:$(window).height()-_y-_yy,
										},
										index: 0,
										frames: tabDataArr
									}, function(ret, err) {
										var index = ret.index;
										var tabs = document.getElementById("package").children;
										for(var i = 0; i < tabs.length; i++) {
											if(i == index) {
												nui.toggleClass(tabs[i], 'active', 'add')
											} else {
												nui.toggleClass(tabs[i], 'active', 'remove')
											}
										}
									});
								})
							};
						}
					} else {
						//
					}
				}, undefined, api);
			};
			loadingTrackInfo();
			
		}

    function randomSwitchBtn(obj, name, index) {

        var tabs = document.getElementById("package").children;
				for(var i = 0; i < tabs.length; i++) {		
					if(i == index) {
						nui.toggleClass(tabs[i], 'active', 'add')
					} else {
						nui.toggleClass(tabs[i], 'active', 'remove')
					}
				}
		if(isSelectMore)
		{
			api.setFrameGroupIndex({
				name: 'group',
				index: index
			});
		}else{
			api.setFrameGroupIndex({
				name: 'group1',
				index: index
			});
		}
    }
	</script>

</html>