/*body {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    background-color: #efeff4;
    -webkit-overflow-scrolling: touch;
}*/
.account-info ul:before,.account-info ul:after{
	display: none;
}
ul li a.mui-navigate-right{
	color: #5a5a5a;
}
 ul li a.mui-navigate-right i{
	color: #767676;
}
.account-bg{
	width: 100%;
	padding-bottom: 60%;
	background: url(../image/6.jpg) no-repeat left top;
	background-size: 100%;
	position: relative;
	margin-bottom: 10px;
}
.account-bg a.avatar-wrap{
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -26px;
}
.account-bg a.setting{
	position: absolute;
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    right: 0;
    top: 12px;
}
.account-bg .title{
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.account-bg .title>i{
	color: #ccc;
}
.account-bg .title>a{
	color: #fff;
}
.account-info ul{
	margin-top: 10px;
	position: relative;
}
ul.mui-table-view li{
	position: relative;
    overflow: hidden;
    padding: 11px 15px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
li.m-b-10{
	margin-bottom: 10px;
}
ul.mui-table-view li a.mui-navigate-right{
	position: relative;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-flex;
    display: flex;
    font-size: 16px;
    padding: 2px 0;
    width: 100%;
    }
ul.mui-table-view li a .left{
	align-content: flex-start;
    flex-grow: 1;
}
 ul.mui-table-view li a .mui-badge-danger {
    padding: 0 6px;
    border-radius: 100px;
    background-color: #e62117;
    line-height: 1.5rem;
    height: 1.5rem;
    color: #fff;
    font-size: .75rem;
}
ul.mui-table-view li a .mui-badge-warning,.order-card .mui-badge-warning{
	background: transparent;
    color: #e62117;
    border: 1px solid #e62117;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px 0 6px;
    border-radius: 10px;
}
.text-danger{
	color: #e62117;
}
.account-bg .bonus-detail{
	position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
}
.account-bg .bonus-detail a{
	flex-grow: 1;
    text-align: center;
    padding: 0 10%;
    color: #fff;
}
.account-bg .bonus-detail a p{
	color: #fff;
	font-size: 16px;
}
.account-bg .bonus-detail a p.bonus-num,.account-bg .bonus-detail a p.balance-num{
	font-size: 20px;
}
.account-bg .bonus-detail:after{   
	content: "";
	width: 1px;
    height: 40px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.withdraw {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 3;
    width: 100%;
}
.withdraw a {
	width: 50%;
    background: #fcdc02;
    color: #e62117;
    border-bottom: 4px solid #f1a800;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    box-shadow: 2px 2px 8px #fff inset;
    padding: 10px 30px 10px 0;
    box-sizing: border-box;
    text-align: center;
}
.withdraw a.active{
	padding: 10px;
	background: #f1f1f1;
    color: #767676;
    border-bottom: 3px solid #ccc;
    box-shadow: 2px 2px 8px #ccc inset;
}
.withdraw a.white .icon-pic{
	margin-right: -30px;
}
.withdraw a.white .icon-pic i{
	border: 1px solid #e62117;
    border-radius: 50%;
    margin-right: 8px;
}
.withdraw a .add-num{
	position: absolute;
	left:auto;
}
.account-bg a.avatar-wrap {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -26px;
}
.avatar-wrap {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 3px #fff solid;
    overflow: hidden;
    box-shadow: 1px 1px 6px #ddd;
    background-color: #fff;
}
.avatar-wrap>img {
    width: 53px;
    height: 53px;
}
.mui-badge-warning.no-content{
	padding: 3px!important;
	background: #e62117!important;
	height: 0;
	margin-top: 6px;
}
.order-card{
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-height: 44px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-top: 1px solid #ddd;
    margin: 10px 0 0;
    padding-top: 5px;
}
.order-card .card-detail{
	position: relative;
    padding: 10px 0;
    width: 25%;
}
.order-card .card-detail a{
	display: inline-block;
    text-align: center;
    color: #767676;
    font-size: 14px;
    width: 100%;
}
.order-card .card-detail .mui-badge-warning{
	background: #fff;
    color: #f0353d;
    border: 1px solid #f0353d;
    padding: 1px 4px;
    position: absolute;
    top: 2px;
    left: 56%;
}
.order-card .card-detail a i{
	font-size: 20px;
}
.icon0-crown.active{
	color: #f4d215;
}
.nui-headers h4{
	line-height: 45px;
    text-align: center;
    font-weight: normal;
    color: #676767;
}
.setting-list{
	background: #efeff4;
}
.setting-list li{
	padding: 8px 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    display: -webkit-flex;
    background: #fff;
}
.setting-list li.social{
	border-bottom: none;
}
.setting-list li .left{
	flex-grow: 1;
	
}
.setting-list li .left span,.setting-list li a .left{
	font-size: 16px;
    color: #767676;
}
.setting-list li a span{
	font-size: 14px;
}
.setting-list li button{
	background: #b2b2b2;
    box-shadow: 0px 0px 2px #a4a4a4 inset;
    padding: 0 25px;
    border-radius: 25px;
    position: relative;
    height: 25px;
}
.setting-list li button:before{
	content: "";
	display: inline-block;
    position: absolute;
    top: 1px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 5;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    left: 1px;
}
.setting-list li button.switch-on{
	background: #f75f23;
    box-shadow: 0 0 2px #b93a08 inset;
}
.setting-list li button.switch-on:before{
	left: 27px;
}
a.log-out{
	position: fixed;
    width: 70%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #fff;
    color: #e62117;
    bottom: 15%;
    border-radius: 3rem;
    /*min-width: 80%;*/
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border: 1px solid #e62117;
}
.login-page,.start-page {
    height: 100%;
    background: url(../image/background-login.jpg);
    background-repeat:  no-repeat;
    background-size: 102%;
    background-position: 0 0;
    padding-top: 0;
    /*animation: login 25s linear infinite alternate;
	-webkit-animation: login 25s linear infinite alternate;*/
}
.start-page{
	background-image: url(../image/qidongye.jpg);
}
@keyframes login{
	0%{background-position: 0px 0;}
	25% {background-position: 25% 0px ;}
	50% {background-position: 50% 0px ;}
	75% {background-position: 75% 0px ;}
	100% {background-position: 100% 0px ;}
}
@-webkit-keyframes login{
	0%{background-position: 0px 0;}
	25% {background-position: 25% 0px ;}
	50% {background-position: 50% 0px ;}
	75% {background-position: 75% 0px ;}
	100% {background-position: 100% 0px ;}
}
.login-page .wrapper{
	background-color: #2d3141;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: .6;
}
.start-page .wrapper{
	opacity: .6;
}
.login-page .blank {
    height: 10%;
    display: block;
}
.login-page .login-logo {
    margin: 0 auto 3rem;
    width: 7.25rem;
    height: 7.25rem;
    background: #ff0019 url(../image/logon.png) no-repeat;
    background-size: 100%;
    border-radius: .5rem;
    box-shadow: 1px 1px 8px #ff0019;
    z-index: 1;
    position: relative;
}
.start-page .login-logo{
	background: url(../image/logo-text.png) no-repeat;
	border: none;
	box-shadow: none;
	background-size: 100%;
	width: 13rem;
    height: 4rem;
    margin: 0 auto 1rem;
}
.start-page .slogen{
	color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    width: 100%;
    bottom: 3rem;
}
.start-page .slogen span{
	display: block;
    line-height: 30px;
}
.login-hr {
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
.login-page .login-btn-group {
    margin: 0 0 2rem;
    padding: 0;
}
.login-page .login-hr {
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    z-index: 1;
    position: relative;
}
.login-hr.signin:before,.login-hr.signin:after{
	content: "";
	width: 50px;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
}
.login-hr.signin:before{
	left: 50%;
	margin-left: -100px;
}
.login-hr.signin:after{
	right: 50%;
	margin-right: -100px;
}
.login-page .login-hr.Policy{
	position: absolute;
    bottom: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 0;
}
.login-page .login-btn-group>li {
    margin-bottom: 1.25rem;
    text-align: center;
}
.login-page .tp-login.facebook {
    background: #3b5998;
}

.login-page .btn {
    display: inline-block;
    padding: .125rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}
.login-page .tp-login {
    position: relative;
    width: 75%;
    max-width: 16rem;
    line-height: 1.75;
    color: #fff;
    padding: 0 2rem;
    text-align: left;
}
.tp-login>i {
    margin-right: .75rem;
    font-size: 1.5rem;
}
.btn>i {
    margin-left: -.5rem;
    margin-right: .5rem;
}
.tp-login>.icon-text {
    position: absolute;
    top: .375rem;
    left: 4.5rem;
}

.tp-login.google {
    background: #d73d32;
}
.tp-login {
    position: relative;
    width: 75%;
    max-width: 16rem;
    line-height: 1.75;
    color: #fff;
    padding: 0 2rem;
    text-align: left;
}
.login-hr a {
    color: #FFF;
}
#remindInfo{
	position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none; 
    background: url(../image/remind-line.png) no-repeat center top;
    background-size: 100%;
}
.account-top {
	display: none;
    position: fixed;
    height: 3rem;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: url(../image/6.jpg) no-repeat;
    background-size: cover;
    background-position: left top;
}
.account-top #nui-headers {
    position: fixed;
    z-index: 1;
    background: url(../image/6.jpg) no-repeat;
    background-size: cover;
    background-position: left top;
    height: 3rem;
    top: 0;
    left: 0;
    width: 100%;
}
.account-top #nui-headers.nui-headers .nui-header-item {
    background-color: transparent;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.account-top a.avatar-wrap{
	position: absolute;
	width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px #fff solid;
    overflow: hidden;
    box-shadow: 1px 1px 6px #ddd;
    background-color: #fff;
    left: 1rem;
    top: .3rem;
}
.account-top a.avatar-wrap img{
	width: 2rem;
    height: 2rem;
}
.account-top a.setting{
	position: absolute;
    width: 3rem;
    height: 3rem;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    right: 0;
    top: 0;
}
.account-top a.setting i{
	color: #FFF;
	font-size: 24px;
}
.account-top.header_status{
	height: 0px;
}
