.nui-header-item h2{ line-height: 34px; text-align: center; font-size: 16px; color: #767676;}
.nui-header-item h2 span{ display: inline; margin-left: 5px; font-size: 14px; color: #222;}
.cart-wrap .nodata{ padding-top: 30px;}
.cart-wrap .nodata .img-wrap{ margin: 30px 0;  text-align: center;}
.cart-wrap .nodata .img-wrap img{ display: inline-block;width: 30%;}
.cart-wrap .nodata .content-text{ padding-bottom: 20px;}
.cart-wrap .nodata .content-text p{color: #999; font-size: 14px; line-height: 22px; text-align: center;}
.cart-wrap .prolist{ background: #fff;}
.cart-wrap .prolist .like-pro-list-title{ color: #222; font-weight: bold;}
.cart-wrap .prolist .like-pro-list-title i{ display: inline-block; margin-right: 5px; width: 20px; height: 20px; padding: 0; line-height: 20px;
text-align: center; font-size: 14px; font-weight: normal;}
.cart-wrap .prolist ul{ display: flex;  flex-wrap:wrap;}
.cart-wrap .prolist li{ width: 33.33%; flex-grow: 1; padding: 8px;}
.cart-wrap .prolist li a{ display: block;  padding-bottom: 100%; position: relative; border:1px #ddd solid;
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
	}
.cart-wrap .prolist li a .info-bottom{ position: absolute; bottom:0; width: 100%; background-color: rgba(21,21,21,.7);
height: 22px; line-height: 22px; padding:0 5px;}
.cart-wrap .prolist li a .info-bottom span{ display: inline; color: #fff; line-height: 22px;}
.cart-action{ display: flex; position: fixed; bottom: 0; width: 100%; border-top:1px #ddd solid;}
.cart-action  .total{ width: 60%; max-width: 60%; background: #f1f1f1; padding: 0 15px; height: 50px; line-height: 50px;
font-size: 14px; }
.cart-action  .total span{ font-size: 16px;}
.cart-action  .total span.price span{ color: #E62117; }
.cart-action  .total span.price span.num{ font-weight: bold;}
.cart-action>a{ width: 40%; max-width: 40%; background-color: #E62117; color: #fff; line-height: 50px; text-align: center; font-weight: bold;}
.cart-action>a[disabled=disabled]{ background-color: #999; cursor: no-drop;}
.cart-action span{ display: inline;}
.nui-header-item span.nui-header-left-icon{ font-size: 1.25rem; box-shadow: none; -webkit-box-shadow: none;}


.cart-list{ background-color: #fff;}
.cart-list dl{ border-bottom: 1px #ddd solid;}
.cart-list dl+.cart-list dl{ border-bottom: none;}
.cart-list input[type=checkbox]+.ourmallfont{ color: #767676;}
.cart-list dt .check-all{ display: flex; align-items: center; border-bottom: 1px #ddd solid; height: 36px; padding: 0 10px;}
label.check-all>input[name=cart]{display: none;}
.cart-list dt .check-all>.ourmallfont{ position: relative; top: 1px;}
.cart-list dt .check-all .shop-title{ margin-left: 10px; height: 26px; line-height: 26px;max-width: 85%;display: inline-block;text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;}
.cart-list dt .check-all .shop-title>span{ display: inline;}
.cart-list dt .check-all .shop-title .ourmallfont{color: #E62117;}
.cart-list dt .check-all .shop-title .shop-name{ font-size: 16px;}
.cart-list dd{ display: flex; align-items: center; padding: 10px 10px 0; position: relative; -webkit-transform: translateX(0); transform: translateX(0); padding-bottom: 10px;}
.cart-list dd .check-pro{ margin-right: 10px; min-width: 16px;}
.cart-list dd .img-wrap{ margin-right: 10px; min-width: 106px; width: 106px; height: 106px; border:1px #ddd solid; overflow: hidden;}
.cart-list dd .img-wrap img{ display: inline-block; max-height: 106px;}
.cart-list dd .info{ width: 1rem; min-width: 55%; flex-grow: 1;}
.cart-list dd .info h3{ margin-bottom: 5px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;
line-height: 20px; max-height: 40px; font-size: 14px; font-weight: 300; min-width: 100%;}
.cart-list dd .info .price{ margin-bottom: 5px; color: #E62117;}
.cart-list dd .info .action{ margin-bottom: 5px; display: flex; justify-content: space-between; align-items: center; height: 26px;}
.cart-list dd .info .action .del{ color: #767676; font-size: 14px;}
.cart-list dd .info .number{ height: 26px; min-width: 60%; flex-grow: 1;}
.cart-list .nui-number-box{ height: 26px; width: 120px; border-radius: 4px;}
.cart-list .nui-number-box> button{ height: 24px; line-height: 24px; font-size: 22px; font-weight: 500;}
.cart-list .nui-number-box .nui-number-box-input{ height: auto;}
.cart-list .nui-number-box .nui-number-box-input input{ height: 24px; padding: 0 5px;}
.cart-list .attr-info{ display: flex; align-items: center;}
.cart-list .attr-info .attr{ margin-right: 10px; font-size: 14px;}
.cart-list .attr-info .attr>*{ display: inline;}
.cart-list .attr-info .edit a{ line-height: 16px;}
.cart-list .attr-info .edit a>i{ color: #0267B7; font-size: 14px;}
.cart-list input[type=checkbox]:checked+.icon0-nocheck{ color: #E62117;}
.cart-list input[type=checkbox]:checked+.icon0-nocheck:before{ content: '\e63c';}
.cart-list dd .side-btn{ position: absolute; top: 0; right:-60px; background-color: #E62117; height: 100%; width: 60px;}
.cart-list dd .side-btn span{ position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
font-size: 14px; color: #fff;}
.cart-list dd+dd{ border-top:1px #ddd solid;}
