.chat-bubble-list>li{ margin-bottom: 20px;}
.chat-bubble-list>li .chat-bubble-wrap{ display: flex;}
.chat-bubble-list>li.right .chat-bubble-wrap{ flex-direction: row-reverse;}
.chat-avatar{ width: 42px; height: 42px; border-radius: 50%; border:2px #fff solid; overflow: hidden; box-shadow: 0 0 6px #ccc;
 background-size: 102% auto; background-repeat: no-repeat; background-position: center;}
.chat-avatar>img{ width: 38px; height: 38px;}
.chat-bubble-list .chat-bubble{ position: relative; margin-left: 15px; max-width: 60%; padding: 8px 15px; background: #fff; border-radius: 8px; border-bottom: 1px #ddd solid;}
.chat-bubble-list>li.right .chat-bubble{ background:#E62117; margin-left: 0; margin-right: 15px;}
.chat-bubble-list .chat-bubble p{ margin: 0; color: #222; font-size: 14px; word-break: break-word;}
.chat-bubble-list .right .chat-bubble p{ line-height: 24px; color: #fff;}
.chat-bubble-list .chat-bubble .arrow{ position: absolute; top: 20px; left: -8px; width: 0; height: 0; border-color:transparent; border-style: solid;
margin-top: -8px; border-width: 8px 8px 8px 0; border-right-color: #fff;}
.chat-bubble-list .right .chat-bubble .arrow{ right:-8px; left:auto; border-width: 8px 0 8px 8px; border-left-color: #E62117;}
.chat-bubble-list .time{ margin: 12px 0 8px; text-align: center; font-size: 12px; color: #767676;}
.fixed-footer{ position: fixed; bottom: 0; left: 0; background:#fff; border-top:1px #ddd solid; width: 100%; padding-top: 8px; padding-bottom: 12px;}
.input-msg-group{ display: flex; justify-content: space-between; align-items: flex-end; padding: 0 15px;}
.input-msg-group textarea{ flex-grow:1; font-size: 14px; border: 1px transparent solid; border-bottom-color:#ddd; padding:0 10px; resize: none;
 margin-right: 5px; line-height: 16px; max-height: 98px; color: #767676;}
.input-msg-group .submit{ width: 45px; height: 34px; border:none; background:#E62117; color: #fff; padding: 0;}
.input-msg-group .submit i{ color: #fff; font-size: 24px; line-height: 34px;}
.input-msg-group .submit[disabled]{ background: #e6e6e6;}
.input-msg-group .submit[disabled] i{ color: #ccc;}

.message-focus{ display: block; position: relative; margin-bottom: 20px; padding: 10px 10px 10px 110px; background:#fff;}
.message-focus .p-pic{ position: absolute; top: 10px; left:10px; width: 90px; height: 90px;
 background-size:100%}
 .message-focus .right{ display: flex; flex-direction: column; justify-content: space-between; min-height: 90px;}
.message-focus .p-name{ margin-bottom: 5px; color: #767676; font-size: 14px;}
.message-focus .price{ flex-grow: 1; margin-bottom: 5px; color: #E62117; font-weight: 500; font-size: 16px;}
.message-focus .action{ text-align: right; font-size: 12px; color: #767676;}
.chat-bubble .loading{ position: absolute; top: 50%; left: -25px;  transform: translateY(-50%); color: #767676; }
.chat-bubble .loading i{ display: block; color: #767676; font-size: 22px; animation:rotate 1.5s infinite linear; }
@keyframes rotate{
    0%{
      transform:rotate(0deg);
     }
     100%{
       transform:rotate(360deg);
     }
  }