@font-face {
  font-family: "robotofont";
  src: url('../font/robotofont/roboto-regular-webfont.eot'); /* IE9*/
  src: url('../font/robotofont/roboto-regular-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  	   url('../font/robotofont/roboto-regular-webfont.woff') format('woff'), /* chrome, firefox */
       url('../font/robotofont/roboto-regular-webfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       url('../font/robotofont/roboto-regular-webfont.svg') format('svg'); /* iOS 4.1- */
}
html,body{
  font-family:"robotofont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@import "csshake/csshake-rotate.css";
* {
	/*word-break: break-all;*/
}
[v-cloak] { display: none }
.t-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header{
	height: 4.5rem;
	width: 100%;
	position: fixed;
	top: 0;
	background: transparent;
	left: 0;
	/*box-shadow: 0 1px 6px #ccc;
	-webkit-box-shadow: 0 1px 6px #ccc;*/
}

.header-container {
	height: 2rem;
	width: 100%;
	background: url(../image/6.jpg) no-repeat;
	background-size: cover;
	background-position: left top;
}

.header .header-input {
	height: 2rem;
	width: 100%;
	position: relative;
	padding: 0 2.75rem 0 2.75rem;
}

.header .header-input span {
	position: absolute;
	color: #999999;
	font-size: 0.75rem;
	height: 1.25rem;
	line-height: 1.25rem;
	left: 3.175rem;
	top: 0.375rem;
}

.header .header-input input {
	background: #FFFFFF;
	width: 100%;
	height: 1.625rem;
	margin: 0.2rem 0;
	line-height: 1.5rem;
	padding-left: 1.25rem;
	-webkit-border-radius: 0.125rem;
	-moz-border-radius: 0.125rem;
	border-radius: 0.125rem;
}

.header .logo {
	width: 5.5rem;
	position: absolute;
	left: 0.425rem;
	top: 0.425rem;
}

.header .right-btns {
	height: 3.5rem;
	line-height: 3.5rem;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
  width: 2.75rem;
}

.header .right-btns .badge {
	display: block;
	width: 0.4375rem;
	height: 0.4375rem;
	border: #FFFFFF 1px solid;
	background: #E62117;
	position: absolute;
	right: 0.375rem;
	top: 0.375rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.header .right-btns span {
	width: 2.75rem;
	float: left;
	position: relative;
	height: 3.5rem;
	padding-right: 0;
	text-align: center;
}

.header .right-btns .iconfont, .header .right-btns .ourmallfont{
	color: #FFFFFF;
	font-size: 1.25rem;
}

.header .right-btns .area {
	border: #FFFFFF 0.0625rem solid;
	height: 1.125rem;
	margin-top: 0.4375rem;
	-webkit-border-radius: 0.125rem;
	-moz-border-radius: 0.125rem;
	border-radius: 0.125rem;
	background-repeat: no-repeat;
	background-image: url(../image/flags/US@3x.png);
	background-size: 1.5625rem;
	background-position: center;
}

.nav-list {
	background-color: #FFFFFF;
	height: 2.5rem;
	position: absolute;
	top: 2rem;
	width: 100%;
}
.nav-list#home>ul{ display: flex; justify-content:space-between; align-items: center; width: 100%;}
.nav-list#home>ul li.active span{ color: #E62117;}
.nav-list ul li {
	height: 2.5rem;
	position: relative;
	width: 1px;
	flex-grow: 1;
}
.nav-list ul li:nth-child(3){
	min-width: 125px;
}
.nav-list ul li span {
	text-align: center;
	height: 2.5rem;
	line-height: 2.5rem;
	font-weight: 500;
	font-size: 14px;

}
.nav-list ul li:nth-child(2) span {
	
}

.nav-list ul li:nth-child(3) span {
	
}

.nav-list ul li.nui-after-line:after {
	height: 0;
}

#vlogger ul li {
	width: 50%;
}

#vlogger ul li:nth-child(1) span {
	background-position: -1.25rem 0;
}

#vlogger ul li:nth-child(2) span {
	background-position: -2.5rem 0;
}

.nav-list ul li.nui-after-line.active:after {
	height: 0.125rem;
	background: #e62117;
	z-index: 9999;
}

.common-section {
	width: 100%;
	background: #FFFFFF;
	padding: 0 0.625rem;
	position: relative;
	margin-top: 0.625rem;
}

.common-section .username {
	width: 100%;
	height: 1.5625rem;
	line-height: 1.5625rem;
	font-size: 1rem;
	padding-left: 4.375rem;
}

.common-section .username i {
	font-size: 0.875rem;
}
.common-section .username i.color1 {
	font-size: 0.875rem;
	color: orange;
}
.common-section .username i.color2 {
	font-size: 0.875rem;
	color: #999999;
}
.common-section .border {
	border: #999999 0.0625rem solid;
	boxshadow: 0.0625rem 0.0625rem 0.375rem #ddd;
	-webkit-box-shadow: 0.0625rem 0.0625rem 0.375rem #ddd;
}

.common-section .section-inner {
	width: 100%;
	/*height: 12.5rem;*/
	padding-bottom: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.common-section .section-inner .time {
	padding: 0.125rem 0.3125rem;
	background: rgba(45, 55, 57, .6);
	position: absolute;
	bottom: 0.3125rem;
	left: 0.625rem;
	color: #FFFFFF;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
}

.common-section .section-inner .icon {
	width: 3.125rem;
	height: 3.125rem;
	padding: 0.1875rem;
	position: absolute;
	top: -1.5625rem;
	left: 0.625rem;
	overflow: hidden;
	background: #FFFFFF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: -1px 1px 6px #767676;
	-webkit-box-shadow: -1px 1px 6px #767676;
}

.common-section .section-inner .icon-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.common-section .section-inner .img-list {
	width: 40%;
	padding-right: 0.625rem;
	position: absolute;
	right: 0;
	bottom: -1.5625rem;
}

.common-section .section-inner .img-list ul {
	position: relative;
	padding-bottom: 30%;
	width: 100%;
}

.common-section .section-inner .img-list li {
	width: 30%;
	-webkit-border-radius: 0.3125rem;
	-moz-border-radius: 0.3125rem;
	border-radius: 0.3125rem;
	background: #FFFFFF;
	box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px #ccc;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.common-section .section-inner .img-list li:after {
	content: "";
	z-index: 0;
	position: absolute;
	bottom: 0.275rem;
	right: 0.25rem;
	width: 50%;
	height: 36%;
	z-index: 0;
	border-radius: 20%;
	box-shadow: 6px 6px 10px #767676;
	transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
	background-color: transparent;
}

.common-section .section-inner .img-list li span {
	z-index: 5;
	width: 110%;
	position: relative;
	padding-bottom: 100%;
	border: #FFFFFF 0.125rem solid;
	overflow: hidden;
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-radius: 0.3125rem;
	-moz-border-radius: 0.3125rem;
	border-radius: 0.3125rem;
	box-shadow: 1px 1px 2px #ddd;
}

.common-section .section-inner .img-list li:nth-child(2) {
	right: 23%;
	z-index: 2;
}

.common-section .section-inner .img-list li:nth-child(3) {
	right: 46%;
	z-index: 4;
}

.common-section .section-inner .img-list li:nth-child(4) {
	right: 69%;
	z-index: 6;
}

.common-section .section-title {
	height: 1.5625rem;
	line-height: 1.5625rem;
	padding: 0 8.75rem 0 0.625rem;
}

.common-section .views,
.common-section .items {
	height: 1.875rem;
	line-height: 1.875rem;
	float: left;
	margin-left: 0.625rem;
	color: #999999;
}

.common-section .items {
	float: right;
	margin-right: 0.625rem;
}
.nui-header-item span.nui-header-right-icon,
.nui-header-item span.nui-header-left-icon{
    position: absolute;
    z-index: 10000;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    top: 4px;
    text-align: center;
    color: #999999;
}
.nui-header-item span.nui-header-right-icon.with-shadow,
.nui-header-item span.nui-header-left-icon.with-shadow {
    width: 4rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    top: 0;
    background: transparent!important;
    text-align: left;
}
.nui-header-item span.nui-header-right-icon:before,
.nui-header-item span.nui-header-left-icon:before{
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index: 10000;
    font-size: 20px;
    color: #999999;
}
.nui-header-item span.nui-header-right-icon.with-shadow:before,
.nui-header-item span.nui-header-left-icon.with-shadow:before{
	box-shadow: 1px 0 6px #ddd;
    -webkit-box-shadow: 1px 0 6px #ddd;
    font-size: 15px;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 16px;
    background: #fff;
    padding: 5px;
    position: absolute;
    top: .625rem;
    left: .625rem;
}
.nui-header-item span.nui-header-right-icon.with-shadow:before{
	right: .625rem;
	left: auto;
	line-height: 15px;
}
.nui-header-item span.nui-header-right-icon.with-shadow {
	right: 0;
	text-align: right;
}

.nui-header-item span.nui-header-left-icon.with-shadow {
	left: 0;
}

.common-section-1 {
	width: 100%;
	background: #FFFFFF;
	padding: 0 0.625rem;
	position: relative;
	margin-top: 0.625rem;
}

.common-section-1 .username {
	width: 100%;
	height: 1.5625rem;
	line-height: 1.5625rem;
	font-size: 1rem;
	padding-left: 4.375rem;
}

.common-section-1 .username i {
	font-size: 0.875rem;
	color: #999999;
}

.common-section-1 .border {
	padding-bottom: 0.1875rem;
	border: #999999 0.0625rem solid;
	boxshadow: 0.0625rem 0.0625rem 0.375rem #ddd;
	-webkit-box-shadow: 0.0625rem 0.0625rem 0.375rem #ddd;
}

.common-section-1 .section-inner {
	width: 100%;
	/*height: 8.125rem;*/
	padding-bottom: 30%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.common-section-1 .section-inner .arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 0.9375rem;
	width: 1.5625rem;
	z-index: 100;
	background: url(../image/main/arrow.png) no-repeat;
	background-size: 85%;
	background-position: center;
	-webkit-transform: translateX(-50%) scale(1.5, 1);
	-moz-transform: translateX(-50%) scale(1.5, 1);
	-ms-transform: translateX(-50%) scale(1.5, 1);
	-o-transform: translateX(-50%) scale(1.5, 1);
	transform: translateX(-50%) scale(1.5, 1);
}

.common-section-1 .section-inner .icon {
	width: 3.125rem;
	height: 3.125rem;
	padding: 0.1875rem;
	position: absolute;
	top: -1.5625rem;
	left: 0.625rem;
	overflow: hidden;
	background: #FFFFFF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: -1px 1px 6px #767676;
	-webkit-box-shadow: -1px 1px 6px #767676;
}

.common-section-1 .section-inner .icon-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.common-section-1 .img-list {
	position: relative;
	padding: 0.3125rem 0;
}

.common-section-1 .img-list li {
	position: relative;
	float: left;
	width: 33.333%;
	background: #FFFFFF;
}

.common-section-1 .img-list li:before,
.common-section-1 .img-list li:after {
	position: absolute;
	content: "";
	bottom: 19px;
	left: 0.625rem;
	z-index: 10;
	width: 35%;
	top: 65%;
	background: #777;
	-webkit-box-shadow: 0 11px 20px #777;
	-moz-box-shadow: 0 11px 10px #777;
	box-shadow: 0 11px 20px #777;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.common-section-1 .img-list li:after {
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
	right: 0.625rem;
	left: auto;
}

.common-section-1 .img-list li:first-child {
	padding-right: 0.3125rem;
}

.common-section-1 .img-list li:nth-child(2) {
	padding: 0 0.15625rem;
}

.common-section-1 .img-list li:last-child {
	padding-left: 0.3125rem;
}

.common-section-1 .img-list li span.img-item {
	background-size: cover;
	position: relative;
	width: 100%;
	z-index: 20;
	padding-bottom: 60%;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
}

.common-section-1 .img-list li span.iconfont {
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	z-index: 30;
	font-size: 1.5625rem;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.common-section-1 .img-list li span.time {
	padding: 0.1rem;
	font-size: .75rem;
	background: rgba(45, 55, 57, .6);
	display: inline-block;
	padding: .125rem 0.3125rem;
	border-radius: 0.25rem;
	color: #FFFFFF;
	position: absolute;
	left: 0.375rem;
	bottom: 0.375rem;
	z-index: 100;
}

.common-section-1 .subscribers,
.common-section-1 .views {
	padding: 0 0.625rem;
	line-height: 1.125rem;
	color: #999999;
}

.tabs {
	display: none;
	padding: 0.625rem;
	background: #FFFFFF;
}

.tabs li {
	float: left;
	border-color: #333333;
	border-style: solid;
	border-width: 1px;
	line-height: 1.5rem;
	font-size: .875rem;
	padding: 0 0.3125rem;
}

.tabs li:first-child {
	border-bottom-left-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 0.25rem;
	-moz-border-radius-topleft: 0.25rem;
	-moz-border-radius-bottomleft: 0.25rem;
}

.tabs li:last-child {
	border-left: none;
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 0.25rem;
	-moz-border-radius-topright: 0.25rem;
	-moz-border-radius-bottomright: 0.25rem;
}

.tabs li.active {
	border-color: #e62117;
	background: #e62117;
	color: #FFFFFF;
}

.tabs li.active span {
	color: #FFFFFF;
}

.tabs li span {
	display: inline;
	color: #999999;
}
.related-title{
	padding: 0.5rem 1.25rem;
	position: relative;
	color: #333333;
	margin-bottom: 0.625rem;
}
.related-title:after,.related-title:before{
	background: #333333;
}
.pro-list {
	padding: 0 0.625rem;
}

.pro-list ul {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.pro-list li {
	float: left;
	width: 50%;
	position: relative;
	margin-bottom: 0.625rem;
}

.pro-list li:nth-child(even) {
	padding-left: 0.3125rem;
}

.pro-list li:nth-child(odd) {
	padding-right: 0.3125rem;
}

.pro-list li .thumb {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 100%;
	position: relative;
}
.pro-list li .thumb span {
	position: absolute;
	display: inline-block;
	bottom: 5px;
	right: 7px;
	background-color: rgba(45, 55, 57, .6);
	color: #fff;
	font-size: 12px;
	border-radius: 4px;
	padding: 0 5px;
}

.pro-list li .pro-name {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.pro-list li .price-row {
	position: relative;
	padding: 0.3125rem 1.875rem 0.3125rem 0.3125rem;
}

.pro-list li .price-row .add-cart {
	position: absolute;
	right: 0;
	top: 0.3125rem;
	width: 1.875rem;
	height: 1.875rem;
	line-height: 1.875rem;
	text-align: center;
	background: #999;
	color: #fff;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	;
}

.pro-list li .price-row .price span {
	float: left;
	margin-right: 0.3125rem;
	line-height: 1.125rem;
}

.pro-list li .price-row .price span.new {
	font-size: 1rem;
	color: #333333;
	font-weight: bold;
}

.pro-list li .price-row .price span.old {
	font-size: 0.75rem;
	text-decoration: line-through;
	color: #999999;
}

.like-pro-list-title {
	width: 100%;
	height: 38px;
	line-height: 38px;
	margin-top: 0.5rem;
	padding: 0 0.625rem;
	background: #FFFFFF;
	font-size: 0.875rem;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	color: #333;
}

.like-pro-list-title i {
	background: #ff787f;
	color: #FFFFFF;
	font-size: 0.75rem;
	padding: 0.0625rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.like-pro-list {
	background: #FFFFFF;
	padding: 0.5rem;
}

.like-pro-list li {
	float: left;
	width: 33.333%;
	position: relative;
	padding: 0.125rem;
	margin: 0;
}

.like-pro-list li div.pro-thumb {
	width: 100%;
	position: relative;
	padding-bottom: 100%;
	border: .0625rem solid #ddd;
}

.like-pro-list li .pro-price {
	padding: 4px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	color: #fff;
}

.button-menu{
	z-index: 5500;
	width: 2.25rem;
	position: fixed;
	bottom: 2.875rem;
	right: 1.25rem;
}
.button-menu li{
	width: 2.25rem;
	height: 2.25rem;
	background: rgba(0,0,0,.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	line-height: 2.25rem;
	color: #FFFFFF;
	text-align: center;
	margin-top: 0.9375rem;
	font-size: 1.375rem;
}
.button-menu li.icon-fanhuidingbu{
	display: none;
}
.button-menu li.icon-zhuye{
	background: rgba(208,2,27,.5);
}
.button-menu li.icon0-coupon-side{
	border-radius: 1.125rem;
	background:rgba(230,33,23,.8);
}
.button-menu li.icon0-coupon-side>i,.button-menu li.icon0-coupon-side span{ display: none;}

.button-menu li.full.icon0-coupon-side{ width: 10rem; position: relative; right:7.75rem; display: flex !important; padding: 0 15px;}
.button-menu li.full.icon0-coupon-side>i,.button-menu li.full.icon0-coupon-side span{ display: inline-block; color: #fff; font-size: 14px;}
.button-menu li.full.icon0-coupon-side>i{ margin-right: 8px; font-size: 22px;}
.button-menu li.full.icon0-coupon-side span{ font-family: arial;}
.button-menu li.full.icon0-coupon-side span>span{ margin-left: 8px;}
.button-menu li.full.icon0-coupon-side:before{ content:"" !important;}


/*html5 load */
.loader {
  margin: 4px auto;
  font-size: 12px;
  position: relative;
  text-indent: -99999px;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.pulldownload{
	display:none; position: absolute; top: 16px; left: 50%; margin-left: -16px; z-index: 11;
	width: 32px; height: 32px; background: #fff; border-radius: 50%; box-shadow: 1px 1px 4px #767676;
	}
.pulldownload .loader{
	border-top-color: #e62117;
  border-right-color: #e62117;
  border-left-color: #e62117;
  }
.icon-twitter:before{position: relative; top:1px;}
.icon-Instagram:before{position: relative; top:1px;}
.icon-google:before{position: relative; top:1px;}
.nui-headers .icon-gouwuche.active:after{ content:""; width: 8px; height: 8px; background-color: #E62117; border-radius: 50%;
 position: absolute; top: 0; right: -3px;}

.mall-category,.show-category,.home-category{ position: absolute; top: 32px; width: 100%; height: 40px; 
background-color: #fff;
border-bottom:1px #ddd solid;
}
.mall-category .scroller,.show-category .scroller,.home-category .scroller,.deal-category .scroller{ position: absolute; z-index: 1; width: auto;}
.mall-category ul,.show-category ul,.home-category ul,.deal-category ul{ display: flex; }
.mall-category ul a,.show-category ul a,.home-category ul a,.deal-category ul a{ padding: 0 15px; height: 40px; line-height: 40px; white-space:nowrap; font-size: 14px;}
.mall-category ul .active a,.show-category ul .active a,.home-category ul .active a{ border-bottom: 1px #E62117 solid; color: #E62117;}
.mall-pro-list{ display: flex; flex-wrap: wrap;padding: .5%;}
.mall-pro-list li{ width: 49%; margin: 0.5%;background: #fff;}
.mall-pro-list li a{ width: 100%;display: block;position: relative;}
.mall-pro-list .img-wrap{ margin-bottom: 5px; width: 100%; padding-bottom: 100%; background-size:100% auto; position: relative;}
.mall-pro-list .img-wrap .s-num{ position: absolute; bottom:5px; right:7px; border-radius: 4px; 
background:rgba(45,55,57,.6); color: #fff; font-size: 12px; padding: 2px 5px;}
.mall-pro-list .img-wrap .s-num span{ display: inline; color: #fff;}
.mall-pro-list .pro-info{padding: 5px;}
.mall-pro-list .pro-info h4{ font-size: 14px; font-weight: normal; height: 22px; line-height: 22px; overflow: hidden;}
.mall-pro-list .pro-info .price>span{ display: inline-block;}
.mall-pro-list .pro-info .c-p{ margin-right: 5px; font-size: 16px; font-weight: bold;}
.mall-pro-list .pro-info .o-p{ font-size: 14px; text-decoration: line-through; color: #999;}
.mall-pro-list .pro-info .save{ line-height: 26px; color: #005aa9; font-size: 14px;}
.rating-box{ margin: 10px;  padding: 5px; background-color:#42b983; }
.rating-box p{ line-height: 26px; font-size: 18px; color: #fff; text-align: center; font-weight: 400; margin-top: 5px; margin-bottom: 10px;}
.rating-box .action,.rating-box .fb-action{ text-align: center;}
.rating-box .action a,.rating-box .fb-action a{ display: inline-block; border:1px #fff solid;  height: 26px;
 line-height: 24px; width: 40%; font-size: 14px; color: #fff;}
.rating-box .action a:first-child,.rating-box .fb-action a:first-child{ margin-right: 5%;}
.rating-box .action a.confirm,.rating-box .fb-action a.confirm{ background-color: #fff; color: #42b983; font-weight: 500;}
.mall-pro-list li[data-box="rating"]{ width: 100%;}
.rating-box .fb-box textarea{ margin-left: 5%; background-color: #fff; width: 90%; padding: 10px; font-size: 14px; resize: none; height: 100px;
max-height: 100px; margin-bottom: 10px;}

.header.statusbar{ height: 5.5rem;}
.header.statusbar .header-container{ height:3rem;}
.header.statusbar .logo{ top:1.5rem;}
.header.statusbar .nav-list{ top:3rem;}
.header.statusbar .header-input{ padding-top: 1rem;}
.header.statusbar .header-input span{ top: 1.375rem;}
.header.statusbar .right-btns{ top:1.5rem;}

.bouns-mask{ position: fixed; top: 0; bottom: 0; width: 100%; background-color: rgba(31,31,31,.6); z-index: 99;}
.bonus-get-layout { position: fixed; top:50%; left:50%; transform: translate(-50%,-50%);  -webkit-transform: translate(-50%,-50%); 
width: 70%; z-index: 100;}
.bonus-get-layout .ad-img{display: block; width: 100%; padding-bottom: 116.2%; 
background-image: url(../image/down-app.png); 
background-position: center; 
background-size:100%;
z-index: 100;}
.bonus-get-layout .close{ position: absolute; top: -7px; right: -7px; background-color: #fff; width: 24px; height: 24px;
 text-align: center; line-height: 24px; border-radius: 50%;}

.side-btn-bonus .get-the-bonus{ 
  display:none; 
  width: 4rem;
  height: 2.25rem; 
  color: #fff; 
  line-height: 2.25rem; 
  text-align: center;
}
.side-btn-bonus{
	position: fixed; z-index: 11; right: 5px; visibility: visible !important;
	bottom: 5.25rem;
}
.side-btn-bonus .get-the-bonus{
	display: block;
}
.side-btn-bonus .get-the-bonus .gift-move{
	display: block;
	background: url(../image/gift-move.png) no-repeat center top;
	background-size: 50%;
	height: 1.25rem;
	width: 100%;
	position: absolute;
    top: 0;
    animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    position: relative;
    z-index: 1;
}
.side-btn-bonus .get-the-bonus .gift-moving{
	display: block;
	background: url(../image/gift-moving.png) no-repeat center bottom;
	background-size: 50%;
	height: 1.25rem;
	width: 100%;
	position: absolute;
    bottom: 0;
}
.side-btn-bonus .get-the-bonus .gift-shine{
	display: block;
	background: url(../image/gift-enn.png) no-repeat center top;
	background-size: 45%;
    height: 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    animation: shine 2s linear infinite;
    -webkit-animation: shine 2s linear infinite;
}
@keyframes shine{
			0%{
				opacity: 0;
			}
			50%{
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
		}
@-webkit-keyframes shine{
			0%{
				opacity: 0;
			}
			50%{
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
		}
@keyframes move{
			0%{
				top: .3rem;
				opacity: 1;
			}
			50%{
				top: -.4rem;
				opacity: .5;
			}
			100%{
				top: .3rem;
				opacity: 1;
			}
		}
@-webkit-keyframes move{
			0%{
				top: .3rem;
				opacity: 1;
			}
			50%{
				top: -.4rem;
				opacity: .5;
			}
			100%{
				top: .3rem;
				opacity: 1;
			}
		}
.bottom-gift{ position: fixed; left: 0; bottom: 0; width: 100%; background: rgba(21,21,21,.8); 
z-index: 9999; }	
.bottom-gift .content{ display: flex; justify-content: center; align-items: center; height: 0; margin-top: 7px;
 -webkit-transition: all .5S; transition: all .5s; overflow: hidden;}
.bottom-gift .content>img{  height: 32px; margin-right: 5px;}
.bottom-gift .content>span{ color: #fff; font-size: 14px;}
.bottom-gift .close{ position: absolute; top: 4px; right: 5px; color: #fff;}
.bottom-gift .close i{ color: #fff;}
.bottom-gift.active .content{ height: 46px;}

.card-list{ margin: 10px 0; background:#fff;}
.card-list>li{ padding: 0 15px; border-bottom: 1px #ddd solid;}
.card-list>li:last-child{ border-bottom: none;}
.card-list>li>a{ display: flex; justify-content: space-between; align-items: center; line-height: 32px;
 font-size: 14px;}
.card-list>li>a:active{ background-color: #f6f6f6;}
.card-list>li.order-add{ position: relative; padding: 4px 15px;}
.card-list>li.order-add>a{ height: 48px;}
.card-list>li.order-add .left{ flex-grow: 1; margin-right: 15px; max-width: 80%;}
.card-list>li.order-add .info{ display: flex; justify-content: space-between; height: 24px; line-height: 24px;}
.card-list>li.order-add .add-text{ height: 24px; line-height: 24px; color: #767676;}
.card-list>li.order-add .invalid-add-mask{ position: absolute; top: 5%; left: 2%; padding: 5px; background-color: rgba(21,21,21,.6);
 width: 96%; height: 90%; border-radius: 8px; color: #fff; text-align: center; font-size: 14px;}
.card-list>li.order-add .invalid-add-mask p{ color: #fff; font-size: 14px; text-align: center; margin-bottom: 3px;}
.card-list>li.order-add .invalid-add-mask p span{ display: inline; color: #fff; font-weight: bold;}
.card-list>li.order-add .invalid-add-mask a{ color: #fff; border-bottom: 1px #E62117 solid;}
.card-list>li.order-add .invalid-add-mask a:active{ border-bottom-color: transparent;}
.card-list>li.title h2{ display: flex; height: 32px; line-height: 32px; font-size: 16px; font-weight: normal;}
.card-list>li.title h2 i{ margin-right: 15px; color: #E62117;}
.card-list>li.title h2 span{ font-size: 16px;}
.card-list>li.pro-detail{display: -webkit-flex; display: flex; align-items: flex-start; padding:10px 15px; border-bottom: none;}
.card-list>li.pro-detail .img-wrap{ margin-right: 15px; width: 80px; height: 80px; }
.card-list>li.pro-detail .img-wrap>img{ width: 80px; height: 80px; max-width: 80px; max-height: 80px;display: block;}
.card-list>li.pro-detail .right{ position: relative;}
.card-list>li.pro-detail .info h3{ margin-bottom: 5px; font-size: 14px; font-weight: normal; color: #222;}
.card-list>li.pro-detail .info .size{ color: #767676; font-size: 12px;}
.card-list>li.pro-detail .data{  display: flex; justify-content: flex-start; position: relative;}
.card-list>li.pro-detail .data span,.card-list>li.pro-detail .data a.edit-quatity{display:inline-block;text-align: left; font-size: 12px;overflow: hidden;white-space: nowrap;}
.card-list>li.pro-detail .data a.edit-quatity{color: #4285f4;text-decoration: underline;margin-left: 5px;}
.card-list>li.pro-detail .data span.price{text-align: right;position: absolute;right: 0;}
.card-list>li.pro-detail .data .price{ color: #E62117; font-weight: 500;}
.card-list>li.title.shipping-title{ display: flex; justify-content: space-between;}
.card-list>li.title.shipping-title .right span{line-height: 32px; font-size: 14px; color: #E62117;}
.card-list>li.shipping{ display: flex; justify-content: space-between; align-items: center;
 padding: 5px 15px;}
.card-list>li.shipping .left{ line-height: 24px; font-size: 14px;}
.card-list>li.shipping .left .time{ display: flex; color: #767676;}
.card-list>li.shipping .left .time span{ margin-left: 5px; font-size: 14px; color: #E62117;}
.card-list>li .switch-btn{ width: 52px; height: 24px; border-radius: 12px;}
.card-list>li .toggle-btn{ height: 22px; width: 22px;}
.card-list>li .checked-switch:checked ~ .toggle-btn{ left:18px}
.card-list>li .text-switch{ background-color:#ccc; border-color:#999;}
.card-list>li .checked-switch:checked ~ .text-switch{ background-color: #E62117; border-color: #E62117;}
.card-list>li.bonus-switch{ display: flex; justify-content: space-between;}
.card-list>li.bonus-switch .right{ display: flex;}
.card-list>li.bonus-switch .right span{ line-height: 32px; margin-right: 10px; font-size: 14px; color: #00AF2C;}
.card-list>li.bonus-switch .right .switch-btn{ margin-top: 4px;}
.pay-s-group{ display: none; width: 100%; line-height: 28px; padding: 8px 0;}
.pay-s-group.active{ display: block; border-bottom: 1px #ddd solid;}
.pay-s-group label{ display: flex; align-items: center; justify-content: space-between; width: 100%; cursor:pointer;}
.pay-s-group .left{ display: flex; align-items: center;}
.pay-s-group input[type=radio]{ display: none;}
.pay-s-group input[type=radio]+.input-radio{ width: 16px; height: 16px; min-width: 16px; min-height: 16px;
 border-radius: 50%; border:1px #999 solid; margin-right: 5px; position: relative;}
.pay-s-group .left>span, .pay-s-group .left>img{ padding-left: 10px;}
.pay-s-group .left>span{ color: #767676;}
.pay-s-group .right{ display: flex; align-items: center;}
.pay-s-group label img{ max-height: 22px; margin-right: 8px;}
.pay-s-group input[type=radio]:checked+.input-radio{ border-color:#e62117;}
.pay-s-group input[type=radio]:checked+.input-radio:before{ content: ""; position: absolute;top: 50%;left: 50%;
    margin: -3px 0 0 -3px;width: 6px;height: 6px;background: #e62117;border-radius: 50%;}
.card-list>li.paypal{ border-bottom: none;}
.pay-s-group:last-child{ border-bottom: none;}
.paypal .pay-s-group:last-child{ border-bottom: 1px #ddd solid;}
.card-list>li.action a{ text-align: center; font-size: 14px; justify-content: center; color: #767676;}
.card-list>li.pay{display: block; border-bottom: none;}
.card-list>li.pay+.action{ border-top:1px #ddd solid;}
.card-list>li.pay .pay-s-group:first-child{ display: block;}
input,button,select,textarea{outline:none}
.text-primary{ color: #E62117 !important;}
.text-success{ color: #00897B !important;}
.alert{ padding: 5px 10px; border:1px solid transparent; border-radius: 6px;}
.alert-warning{ color: #8a6d3b; background-color:#fcf8e3; border-color: #faebcc;}
#AppMenuShow .ourmallfont{ position: relative; }
#AppMenuShow.first .ourmallfont:after{ content:""; position: absolute; right: -6px; width: 8px; height: 8px; background: #E62117; border-radius: 50%;}
.header-container .right-btns .icon0-filter .badge{ display: none; top:15px; right:.625rem;}
.header-container .right-btns .icon0-filter .badge.active{ display: block;}

.alert-pop{ position: fixed; top:50%; left:50%; width: 80%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); z-index: 10;}
.alert-pop img{ width: 100%;}
.alert-pop .close-pop{ position: absolute; top: -12px; right:-12px; 
width: 30px; height: 30px; background-color: rgba(255,255,255,.7); text-align: center; line-height: 30px; border-radius: 50%;}
.alert-pop .close-pop i{ position: relative; left:1px; color: #222; font-weight: bold;}
.popmask{ position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 0; background-color: rgba(21,21,21,.6); z-index: 9;}

.button-menu li.pop-switch{ height: auto; background: transparent;}
.button-menu li.pop-switch img{ display: block; width: 100%;}

.pulldownload.pageloading{ display: block; margin-left: 0; width: 36px; height: 36px;}
.pulldownload.pageloading .loader{ width: 26px; height: 26px; margin: 5px auto;}

[data-autowh]{ background-size:100%; background-repeat: no-repeat; background-position: center;}

.coupon-list{ padding: 15px;}
.coupon-list li{ position: relative; display: flex;  align-items: stretch; margin-bottom: 15px; background:#fff; 
box-shadow: 1px 1px 4px #ddd; min-height: 86px; border-top: 1px #ddd solid; border-bottom:1px #ddd solid;}
.coupon-list li .left{ min-width: 50%; width: 50%; padding: 10px 10px 10px 20px; 
display: flex; flex-direction:column; align-items: stretch; justify-content: space-between; flex-grow: 2;}
.coupon-list li .coupon-val{ color: #E62117; font-size: 32px; font-weight: bold; white-space: nowrap;}
.coupon-list li .coupon-val .currency{ position: relative; top: -1px; display: inline; margin-right: 10px;
 color: #E62117; font-weight: normal; font-size: 14px;}
 .coupon-list li .coupon-val .off{ display: inline; font-size: 14px; color: #E62117;}
.coupon-list li .coupon-range{ color: #767676; font-size: 12px; line-height: 22px;}
.coupon-list li .right{position: relative;
 padding: 10px; display: flex; align-items: flex-end; } 
.coupon-list li .coupon-name{ margin-bottom: 5px; line-height: 42px;} 
.coupon-list li .coupon-date i{ display: inline; line-height: 20px; color: #767676; position: relative; top:2px;}
.coupon-list li .coupon-date span{ display: inline; line-height: 20px; color: #767676;}
.coupon-list li:before{content:""; position: absolute; left:0; top: 0; width: 10px; height: 100%;
background-color: #E62117; background-position: 100% 15%; background-size: 20px 10px;
background-image: linear-gradient(-45deg, #fff 25%, transparent 25%, transparent),
                  linear-gradient(-135deg, #fff 25%, transparent 25%, transparent),
                  linear-gradient(-45deg, transparent 75%, #fff 75%),
                  linear-gradient(-135deg, transparent 75%, #fff 75%);}

.coupon-list li.disabled .left{ border-right-color: #aaa;}
.coupon-list li.disabled:before{background-color: #aaa; }
.coupon-list li.disabled .coupon-val{ color: #aaa;} 
.coupon-list li.disabled .coupon-val span{ color: #aaa;}     
.coupon-list li.disabled .coupon-range{ color: #aaa;}   
.coupon-list li.disabled .coupon-name{ color: #aaa;}   
.coupon-list li.disabled .coupon-date i{ color: #aaa;}
.coupon-list li.disabled .coupon-date span{ color: #aaa; line-height: 22px;}
.coupon-list li .coupon-select{ position: absolute; top:0; right: 0; transition:all .5s; opacity: 0;
 border-top:24px solid #005aa9; border-right:none; border-left: 24px solid transparent; }
.coupon-list li .coupon-select.active{ opacity: 1;}
.coupon-list li .coupon-select i{ position: absolute; top: -23px; right:0; color: #fff; font-size: 12px; font-weight: bold;}
.mall-code{position: absolute; bottom: 10px;right: 10px;padding: 0 1px;z-index: 99999!important;background: #fff;}
.mall-code span{font-size: 23px;color: #767676;}
.button-menu #toChatMessage{ position: relative;}
.button-menu #toChatMessage.active:after{ content:''; background:#E62117; width: 8px; height: 8px; border-radius: 50%; position: absolute;}

/*giveaway*/
.mall-category ul .free a{color: #00bfa5;}
.mall-category ul .free.active a{border-color: #00bfa5;color: #00bfa5;}
.free-top{background: #00bfa5;padding: 5px 0;}
.free-top .free-right>*,.groupbuying-top .top-left>*{font-size: 16px;line-height: 22px;color: #fff;margin-bottom: 0;margin-top: 0;}
.free-top .free-right p{font-size: 14px;margin-bottom: 0;line-height: 18px;}
.free-top img{width: 25%;display: block;margin: 0 auto;}
.free-top .free-right>*{text-align: center;}
.free-rules{
	padding: 0.625rem;
    background: #FFFFFF;
    margin: 0.3125rem 0;
}
.free-rules .rules-info{padding: 10px 0 0;}
.free-rules .rules-info ul{display: flex;display: -webkit-flex;justify-content: space-between;align-content: center;}
.free-rules .rules-info ul>li{padding: 0;margin: 0;text-align: center;flex-grow: 1;overflow: visible;width: 33.3%;position: relative;}
.free-rules .rules-info ul:before,.free-rules .rules-info ul:after,.free-rules .rules-info ul li:before,.free-rules .rules-info ul li:after{display: none;}
.free-rules .rules-info ul>li p {font-size: 14px;color: #000;margin: 5px 0; z-index: 1;}
.free-rules .rules-info ul>li p.num{
	padding: 0;
    background: #999;
    border: 3px solid #ddd;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin:0 auto;
    position: relative;
}
.free-rules .rules-info ul>li.active p.num{background: #00bfa5;border: 3px solid #00bfa5;}
.free-rules .rules-info ul>li:after{content: '';width: 100%;height: 2px;background: #ddd;position: absolute;top: 10px;display: block;z-index: 0;left: -42%;margin-top: -1px}
.free-rules .rules-info ul>li:first-child:after{left: 50%;}
.free-rules .rules-info ul>li.active:after{background: #00bfa5;}
.free-rules .rules-info p.ios-text{margin: 10px 0 0;font-size: 12px;color: #5a5a5a;line-height: 20px;display: none;}
.free-rules .title{position: relative;}
.free-rules .title h3{
	height: 38px;
    line-height: 38px;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}
.free-rules .title a{
	position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #767676;
}
.free-rules .title a>*{color: #767676;}
/*application-list*/
.application .application-item{padding: 10px;margin-bottom: 10px;background: #fff;}
.application .application-item .application-title,.application .application-item .application-content,.application .application-item .application-btn{display: flex;display: -webkit-flex;justify-content: space-between;align-content: center;align-items: center;}
.application .application-item .application-content>img{width: 200px; height: 80px;max-width: 80px;max-height: 80px;margin-right: 10px;}
.application .application-item .application-content .content-body{width: 80%;}
.application .application-item .application-content .content-body p{font-size: 14px;color: #999;margin-bottom: 5px;    line-height: 16px;}
.application .application-item .application-content .content-body .ellipsis-2{
	display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #5a5a5a;
    line-height: 20px;
    height: 40px;
}
.application-bottom.application-btn .avatar-wrap{margin-right: 5px;}
.application-bottom.application-btn .avatar-wrap,.application-detail .application-item .application-content .avatar-wrap{overflow: hidden;border-radius: 50%; display: inline-block;width: 30px; height: 30px; border: 1px solid #fff; box-shadow: 1px 1px 3px #ddd;vertical-align: middle;}
.application-bottom.application-btn .avatar-wrap img,.application-detail .application-item .application-content .avatar-wrap img{width: 28px;height: 28px;}
.application-bottom.application-btn .avatar-wrap{width: 20px;height: 20px;}
.application-bottom.application-btn .avatar-wrap img{width: 18px;height: 18px;}
.application-bottom.application-btn .mui-pull-left span,.application .application-item .application-content span{display: inline;}
.application .application-item .application-title{ border-bottom: 1px solid #ddd;margin: 0; padding: 0;font-weight: normal;font-size: 14px;color: #333;line-height: 30px;}
.application .application-item .application-title span{font-size: 14px;color: #333;line-height: 30px;}
.application .application-item .content-body .order-num span{display: inline;color: #999;font-size: 16px;color: #e62117;}
.application .application-item .content-body .order-num span.gray-line{color: #999;text-decoration: line-through;margin-right: 10px;margin-left: 10px;font-size: 14px;}
.application-bottom.application-btn.get-free{display: flex;display: -webkit-flex;justify-content: flex-end;align-items: center;align-content: center;}
.application-bottom.application-btn.get-free .avatar-group{margin-left: 15px;position: relative;height: 20px;width: 60px;max-width: 60px;overflow: hidden;}
.application-bottom.application-btn.get-free .avatar-group .avatar-wrap{position: absolute;top: 0;right: 10px;z-index: 1;}
.application-bottom.application-btn.get-free .avatar-group .avatar-wrap:nth-child(2){right: 20px;z-index: 2;}
.application-bottom.application-btn.get-free .avatar-group .avatar-wrap:last-child{right: 1px;z-index: 0;}
.application-bottom.application-btn div span{font-size: 14px;color: #333;}
.application .application-btn a.btn-white{background: #00bfa5;border-radius: 5px;display: inline-block;color: #fff;padding: 5px;font-size: 16px;line-height: 32px;text-align: center;width: 60%;}
.application-bottom.application-btn{padding-top: 10px;}
.application-bottom.application-btn a.btn-white{width: 50%;padding: 2px;}
.application .application-item .application-content{padding-top: 10px;}
.application-detail .application-item .application-content>.mui-pull-left
,.application-detail .application-item .application-content>.mui-pull-right{flex-grow: 1;text-align: right;}
.application-detail .application-item .application-content .mui-pull-left{font-size: 14px;color: #333;line-height: 30px;text-align: left;}
.application-detail .application-item .application-content .mui-pull-right.address{display: inline;max-width: 70%;}
.application-detail .application-item .application-content .mui-pull-right span{font-size: 14px;color: #767676;line-height: 30px;}
.application-detail .application-item .application-content .mui-pull-right span.countdown{color: #333;}
.application-detail .application-item .application-content .mui-pull-right.address span{line-height: 22px;}
.application-detail .application-item .title h3{border-bottom: 1px solid #ddd;margin: 0;padding: 0 0 10px;font-weight: normal;font-size: 14px;color: #333;line-height: 30px;}
.application .address-detail { position: relative; background-color: #fff;}
.application .address-detail .info{ display: flex; justify-content: space-between; align-items: center; font-size: 14px;
border: 1px #ddd solid;padding: 5px 10px;border-radius: 5px;}	
.application .address-detail .info .left{ margin-right: 10px; flex-grow: 1;}		
.application .address-detail .info .n-t{ display: flex; justify-content: space-between; align-items: center; height: 32px;}
.application .address-detail .info .n-t .name{ color: #222;}
.application .address-detail .info .n-t .tel{ color: #767676;}
.application .address-detail .info .add-d{ color: #767676;  font-size: 12px;
 line-height: 16px; max-height: 32px; margin-bottom: 10px;}
.application.application-process .application-item .application-title{border-bottom: none;}
.application .application-time{text-align: center;margin: 20px 0;}
.application .application-countdown{padding: 10px 0;}
.application .application-countdown .share-group>*{text-align: center;color: #fff;font-size: 18px;padding: 10px 0;}
.application .application-countdown .share-group p{font-size: 14px;}
.application .application-countdown .share-group p>*{color: #fff;}
.application .share-group{background: #00bfa5;padding: 15px;position: relative;}
.application .application-countdown .share-group ul{
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.application .application-countdown .share-group ul li{
	width: 25%;
    text-align: center;
    padding-bottom: 10px;
}
.application .application-countdown .share-group ul li a{
	display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    border: none;
}
.application .application-countdown .share-group ul li a i{
	font-size: 32px;
	color: #fff;
}
.share-group a.facebook {
    background: #3b5998;
}
.share-group a.twitter {
    background: #00acee;
}
.share-group a.google {
    background: #d73d32;
}
.share-group a.whatsapp {
    background: #40BA2C;
}
.share-group a:last-child {
    margin-right: 0;
}
.icon-wrap.default {
    background-color: #fff;
    border-color: #767676;
    color: #999;
}
.application .application-countdown .share-group ul li a.default i{color: #999;}
.icon-wrap {
    border: 1px #767676 solid;
    border-radius: 50%;
}
.application .application-countdown .share-group:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #00bfa5;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -8px;
}
.p-bottom-bar.application-btn{ position: fixed; bottom: 0; left: 0; width: 100%;}
.p-bottom-bar.application-btn>a{ width: 100%; flex-grow: 1; text-align: center; height: 42px; line-height: 42px;
color: #fff; background:#00bfa5; font-weight: 500;}
.buttons.application-buttons{display: flex;display: -webkit-flex;justify-content: center;align-items: center;}
.buttons.application-buttons .application-btn{flex-grow: 2;background: #00bfa5;border-color: #00bfa5;width: 66.7%;}
.buttons.single-attr .buttons.application-buttons .bottom-button-group{min-width: 33.3%;}
/*沉浸式*/
.statusBar .header{
	height: 5.875rem!important;
}
.statusBar .mall-category,.statusBar .show-category,.statusBar .nav-list,.statusBar .explore-category{
	top: 3.375rem!important;
}
.statusBar .header .logo {
    top: 1.8rem;
}
.statusBar .header .right-btns{
	top: 1.25rem!important;
}
.statusBar .header .header-container{
	height: 3.375rem!important;
}

.header_status,.account_header_status{position: fixed;top: 0;z-index: 9999;width: 100%;}

.statusBarAnd .header{
	height: 6.25rem!important;
}
.statusBarAnd .header .header-container{
	height: 3.75rem!important;
}
.statusBarAnd .header .header-input input {
    margin: 0.25rem 0 0.1rem;
}
.statusBarAnd .header .header-scan{
	line-height: 2.35rem!important;
}
.statusBarAnd .mall-category,.statusBarAnd .show-category,.statusBarAnd .nav-list,.statusBarAnd .explore-category{
	top: 3.75rem!important;
}
.statusBarAnd .header .logo {
    top: 2rem;
}
.statusBarAnd .header .right-btns{
	top: 1.7rem!important;
}
oumall{ color: inherit; }
