html,
body,
#wrap {
	background: #FFFFFF;
}

.tabs {
	padding-top: 0;
	display: block;
}

.info {
	padding: 0.625rem 1.25rem;
}

.info .name {
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
	word-break: break-all;
}

.info .sharerow {
	position: relative;
}

.info .views {
	color: #999999;
}

.info .btns {
	position: absolute;
	right: 0;
	top: 0;
}

.info .btns span {
	float: left;
	line-height: 1.25rem;
	height: 1.25rem;
	padding: 0 0.3125rem;
	-webkit-border-radius: 0.1875rem;
	-moz-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
}

.info .btns span.xin {
	color: #999999;
	border: #333333 1px solid;
}

.info .btns span.xin i {
	color: #999999;
	font-size: 0.75rem;
}
.info .btns span.xin.active i {
	color: #E62117;
}

.info .btns span.ourmallfont {
	background: #E62117;
	margin-left: 0.3125rem;
	padding: 0 0.125rem;
	line-height: 0.9375rem;
	color: #FFFFFF;
	border: #E62117 0.0625rem solid;
}
.info .btns span.ourmallfont:before{ position: relative; top: 2px;}

.userrow {
	width: 100%;
	position: relative;
	margin-top: 0.9375rem;
	padding: 0.5rem 6.25rem 0.5rem 3.125rem;
	box-shadow: 0 0 4px #aaa;
	-webkit-box-shadow: 0 0 4px #aaa;
}

.userrow .icon {
	width: 3rem;
	height: 3rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	border: #FFFFFF 2px solid;
	box-shadow: -3px 1px 4px #ddd;
	-webkit-box-shadow: -3px 1px 4px #ddd;
	left: -10px;
	top: -10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color:#fff;
}

.username {
	width: 100%;
	font-style: italic;
	font-size: 0.875rem;
}

.username i {
	font-size: 0.875rem;
}
.username i.color1 {
	font-size: 0.875rem;
	color: orange;
}
.username i.color2 {
	font-size: 0.875rem;
	color: #999999;
}
.flo {
	margin-top: 0.625rem;
	padding: 0 0.3125rem;
	line-height: 0.9375rem;
	border: #999 1px solid;
	color: #767676;
	display: inline-block;
	-webkit-border-radius: 0.1875rem;
	-moz-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
}
.flo i{
	font-size: 0.625rem;
}
.flo i.icon-duihao{
	display: none;
}
.flo.active{
	background: #E62117;
	border: #E62117 1px solid;
	color: #FFFFFF;
}
.flo.active i.icon-jiahao{
	display: none;
}
.flo.active i.icon-duihao{
	display: inline;
	color: #FFFFFF;
}
.right-btns {
	position: absolute;
	right: 0;
	padding-right: 1.5625rem;
	top: 50%;
	line-height: 1.25rem;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: right;
}

.right-btns span i {
	font-size: 0.875rem;
	margin-left: 0.3125rem;
}

.right-btns> .iconfont {
	position: absolute;
	right: 0.3125rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.section {
	display: none;
}

.section.active {
	display: block;
}
.comment-section{
	padding: 0.625rem;
}
.comment-section .text-area{
	position: relative;
	width: 100%;
}
.comment-section .text-area textarea{
	border: #CCCCCC 1px solid;
	width: 100%;
	max-width: 100%;
	padding: 0.3125rem 3.125rem 0.3125rem 0.3125rem;
	line-height: 1.25rem;
	height: 1.875rem;
	resize : none
}
.comment-section .text-area .send{
	font-size: 0.875rem;
	padding: 0.125rem 0.3125rem;
	border: #CCCCCC 1px solid;
	position: absolute;
	right: 0.3125rem;
	top: 0.3125rem;
	-webkit-border-radius: 0.125rem;
	-moz-border-radius: 0.125rem;
	border-radius: 0.125rem;
}
.comment-section .comment-list{
	position: relative;
}
.comment-section .comment-list .comment-item{
	position: relative;
	padding: 0.625rem 0 0.625rem 2.8125rem;
}
.comment-section .comment-list .comment-item .comment-item{
	padding: 0.625rem 0 0.625rem 2.8125rem;
}
.comment-section .comment-list .comment-item .comment-item:after{display: none};
.comment-section .comment-list .comment-item:after{
	left: 2.5rem;
}
.comment-section .comment-list .user-icon{
	width: 2.1875rem;
	height: 2.1875rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	position: absolute;
	top: 0.625rem;
	left: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.comment-section .comment-list .username {
	padding-right: 1.875rem;
}
.comment-section .comment-list .username span{
	float:left
}
.comment-section .comment-list .username span.name{
	font-size: 0.875rem;
	margin-right: 0.3125rem;
}
.comment-section .comment-list .username span.time{
	font-size: 0.75rem;
	color: #666;
}
.comment-section .comment-list .comment-item .del-comment,.comment-section .comment-list .comment-item .reply-comment{
	position: absolute;
	right: 0.625rem;
	color: #666;
	top: 0.625rem;
}
.comment-section .comment-list .comment-item .comment-item .reply-comment{
	display: none;
}
.comment-section .moreComment{
	display: none;
	text-align: center;
	width: 150px;
	line-height: 1.875rem;
	color: #999999;
	border: #999999 1px solid;
	margin: 0.625rem auto 0 auto;
}
.comment-section .comment-list .username span i{
	color: #CCCCCC;
	margin-right: 0.3125rem;
}
.comment-section .comment-list .content{
	padding: 0.3125rem  1.875rem 0.3125rem 0;
}

.no-comment{
	width: 100%;
	padding: 0 0.625rem;
	height: 3.125rem;
	line-height: 3.125rem;
	color: #999999;
	text-align: center;
}
.no-comment i{
	color: #999999;
	font-size: 1.25rem;
	margin-right: 0.625rem;
}
