.order-list{ }
.order-list span{ display: inline; font-size: 14px;}
.order-list li{ margin-bottom: 10px; background-color: #fff;}
.order-list .pay-title{
	display: flex; justify-content: space-between; align-items:center; 
	border-bottom: 1px #ddd solid; padding: 0 10px; font-size: 14px; height: 32px;
}
.order-list .pro-info{ display: flex; padding: 10px; border-bottom: 1px #ddd solid;}	
.order-list .pro-info .left{ margin-right: 15px;}
.order-list .pro-info .img-wrap{ 
	max-width: 80px; max-height: 80px;
	width: 80px; height: 80px;
	display: flex; align-items: center; justify-content: center;
}
.order-list .pro-info .img-wrap img{ max-width: 80px; max-height: 80px;}
.order-list .pro-info .right{ overflow: hidden;}
.order-list .pro-info .right h3{ font-size: 14px; font-weight: 500; height: 24px; line-height: 24px;}
.order-list .pro-info .right .attr{ margin-bottom: 15px;display: flex; justify-content: space-between;}
.order-list .pro-info .right .attr span{color: #999; font-size: 12px;flex-grow: 1;max-width: 50%;}
.order-list .pro-info .right .attr span.text-success{text-align: right;}
.order-list .pro-info .num-amount{ display: flex; justify-content: space-between;}
.order-list .pro-info .num-amount .amount{ color: #E62117;}
.order-list .pro-info .num-amount .amount span{ color: #E62117;}
.order-list .pay-info{ padding: 5px 0 0;}
.order-list .pay-type,.order-list .pay-amount{ height: 26px; line-height: 26px; text-align: right; padding: 0 10px; font-size: 14px;}
.order-list .pay-type,.order-list .pay-amount span{ color: #E62117;}
.order-list .pay-action{ padding:6px 10px; border-top:1px #ddd solid;}
.order-list .pay-action>a{ display: block; margin: 0 auto; width: 68%; height: 36px; line-height: 36px; 
background: #E62117; color: #fff; text-align: center; border-radius: 6px;}
.order-list .pay-action.track-receive-btn{display: flex;display: -webkit-flex;width: 100%;justify-content: space-around;}
.order-list .pay-action.track-receive-btn>a{width: 40%;}
.order-list .pay-action.track-receive-btn>a.track-info{border: 1px solid #e62117;color: #e62117;background: #fff;}
.no-orders{ margin-top: 20%; text-align: center;}
.no-orders i{ font-size: 72px; color: #999;}
.no-orders p:first-child{ margin-bottom: 15px;}
.no-orders p+p{ font-size: 22px; color: #999;}
.order-detail-list{ background: #fff; margin-bottom: 10px; padding: 0 10px;}
.order-detail-list>li{ border-bottom: 1px #ddd solid;}
.order-detail-list>li:last-child{ border-bottom: none;}
.order-detail-list>li.data{ display: flex; justify-content: space-between; align-items: center; height: 32px; font-size: 14px;}
.order-detail-list>li.data .name{ color: #999;}
.order-detail-list>li.data .val{ max-width: 65%; color: #767676; height: 32px; line-height: 32px;}
.order-detail-list>li.data .val span{ display: inline; margin-left: 5px; margin-right: 5px; font-size: 14px;}
.order-detail-list>li.msg{ padding: 6px 10px;}
.order-detail-list>li.title{ display: flex; justify-content: space-between; align-items: center;}
.order-detail-list>li.title>.left{ display: flex; align-items: center; height: 32px; }
.order-detail-list>li.title>.left>i{ position: relative; top: 1px; margin-right: 10px; font-size: 16px;}
.order-detail-list>li.title>.left>span{ font-size: 16px;}
.order-detail-list>li.title>.right{ display: flex; align-items: center;}
.order-detail-list>li.title>.right span{ margin-left: 5px; font-size: 14px;}
.order-detail-list>li.title>.right a{ color: #767676;}
.order-detail-list>li.product{ padding: 10px 0;}
.order-detail-list>li.product>.product-wrap{display: flex; justify-content: space-between;}
.order-detail-list>li.product>.product-wrap .left{ width: 80px; max-width: 80px; margin-right: 10px;}
.order-detail-list>li.product>.product-wrap .left .img-wrap{ width: 80px; height: 80px; display: flex; align-items: center; justify-content: center;}
.order-detail-list>li.product>.product-wrap .left .img-wrap img{ max-width: 80px; max-height: 80px;}
.order-detail-list>li.product>.product-wrap .right{ overflow: hidden;}
.order-detail-list>li.product>.product-wrap .right h3{ margin-bottom: 10px;font-size: 14px; font-weight: 500; height: 24px; line-height: 24px;}
.order-detail-list>li.product>.product-wrap .right .attr{ margin-bottom: 10px;display: flex; justify-content: space-between;}
.order-detail-list>li.product>.product-wrap .right .attr span{color: #999; font-size: 12px;flex-grow: 1;max-width: 50%;}
.order-detail-list>li.product>.product-wrap .right .attr span.text-success{text-align: right;}
.order-detail-list>li.product>.product-wrap .right .num-price{ display: flex; justify-content: space-between; align-items: center;}
.order-detail-list>li.product>.product-wrap .right .num-price span{ display: inline; font-size: 14px; line-height: 26px;}
.order-detail-list>li.product>.product-wrap .right .num-price>*{ height: 26px; line-height: 26px; font-size: 14px;} 
.order-detail-list>li.track-info{ height: 26px; overflow: hidden;}
.order-detail-list>li.track-info p>span{ display: inline; font-size: 14px; color: #999; line-height: 26px; margin-right: 10px;}
.order-detail-list>li.track-info p:first-child>span.msg{ color: #222;}
.order-detail-list>li.product .refund-text{width: 100%;font-size: 12px;margin-top: 10px;}

/*order-trackinfo*/
.trackinfo-top{border-bottom: 15px solid #f7f7f7;}
.trackinfo-top,.trackinfo-detail,.tab-content{background: #FFF;margin-bottom: 15px;padding: 15px;}
.trackinfo-detail{margin-bottom: 0;}
.tab-content{padding-top: 0;}
.trackinfo-top .order-content{ display: flex; padding: 10px 0; justify-content: flex-start;display: -webkit-flex;}
.trackinfo-top .order-content .left{ width: 80px; max-width: 80px; margin-right: 10px;}
.trackinfo-top .order-content .left .img-wrap{ width: 80px; height: 80px; display: flex; align-items: center; justify-content: center;}
.trackinfo-top .order-content .left .img-wrap img{ max-width: 80px; max-height: 80px;}
.trackinfo-top .order-content .right p{ font-size: 14px; line-height: 26px;}
.trackinfo-top span,.trackinfo-detail span,.tab-content span{display: inline;}
.trackinfo-detail .package-category{width: 100%;position: relative;overflow: hidden;display: table;table-layout: fixed;}
.trackinfo-detail .package-category a{color:#5a5a5a;text-align:center;font-weight: 400;width: 22%;max-width: 22%;display: inline-block;margin: 0 1% 2%;border: 1px solid #ddd;border-radius: 5px;line-height: 30px;font-size: 14px;
overflow: hidden;text-align: center;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;word-wrap: break-word;}
.trackinfo-detail .package-category a.active{background-color: #fff;border: 1px #e62117 solid;color: #e62117;}
.trackinfo-detail .package-category a.more{border: none;color: #333;}
.tab-content .order-item .mui-media{position: relative;margin: 15px 0;}
.tab-content .order-item .mui-media a.items{position: absolute;bottom: 0;color: #333;}
.tab-content .order-item .mui-media a img{max-width: 50px;max-height: 50px;border: 1px solid #ddd;width: 50px; height: 50px; display: inline-block;margin-right: 10px;}
.trackinfo-detail>p,.trackinfo-update>p,.tab-content>p{padding: 0 0 5px 0;margin: 0 0 10px 0; color: #333333;font-size: 14px;}
.trackinfo-update ul{position: relative;margin-top: 0;margin-bottom: 0;padding-left: 0;list-style: none;background-color: #fff;}
.trackinfo-update ul li{margin: 0;position: relative;padding:0 15px 0 40px;overflow: hidden;}
.trackinfo-update ul li:before {
	content: "";
    width: 10px;
    height: 10px;
    background: #999;
    border-radius: 100%;
    position: absolute;
    top: 1px;
    left: 6px;
    border: 3px solid #ddd;
}
.trackinfo-update ul li.active:before {
    background: #e62117;
}
.trackinfo-update ul li:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #ddd;
    position: absolute;
    top: 18px;
    left: 13px;
    -webkit-transform: none;
    transform: none;
}
.trackinfo-update ul li:last-child:after{display: none;}
.trackinfo-update ul li p{padding: 0 0 5px 0;margin: 0 0 10px 0; color: #333333;font-size: 14px;}
.trackinfo-update ul li p.text-muted{color: #999;font-size: 12px;}


/*order-items-rate*/
.upload-rate-send{ 
	position: absolute; right: 15px; top:50%;  transform: translateY(-50%); -webkit-transform:translateY(-50%);
	border:1px #E62117 solid; font-size:16px; height:26px; line-height: 26px; padding: 0 5px; background: #fff;  color: #E62117;
}
.upload-rate-send:active{ background-color: #f6f6f6;}
.upload-rate-send[disabled=disabled]{border:1px #ddd solid; color: #ccc;}
.upload-rate-send[disabled=disabled]:active{ background-color: #fff;}

.order-item{border-bottom: 10px solid #f7f7f7;}
.tab-content .order-item{border-bottom: none;}

.order-item .order-content{ padding: 10px 15px;display: flex; justify-content: flex-start;}
.order-item .order-content .left{ min-width: 40px; min-height: 40px; width: 40px; height:40px;max-width: 40px; margin-right: 10px;border: 1px solid #ddd;max-height: 40px;
}
.order-item .order-content .left img{ width: 40px; height:40px;max-width: 40px; max-height: 40px;}
.order-item .order-content .right p{font-size: 14px;line-height: 20px;}
.rate-content-input{padding: 10px 15px;}
.rate-content-input textarea{ resize: none; width: 100%; font-size: 14px; line-height: 22px; border:1px #f1f1f1 solid; padding: 10px;}
.rate-content-input textarea:focus{ box-shadow: 1px 1px 18px #eee inset; border-color: #ddd;}
.rate-content-input textarea.error{ border-color: #E62117;}

.upload-rate-wrap{ margin-bottom: 10px;}
.upload-rate-wrap .rate-list-content{ display: flex; flex-wrap: wrap; padding: 0 15px;}
.upload-rate-wrap .rate-list-content li{ display: flex; align-items: stretch; min-width: 30%; width: 30%; margin-right: 5%; margin-bottom: 10px; font-size: 0;}
.upload-rate-wrap .rate-list-content li:nth-child(3n+0){ margin-right: 0;}
.upload-rate-wrap .rate-list-content li.img-wrap{ position: relative; border:1px #ddd solid;}
.upload-rate-wrap .rate-list-content li.img-wrap.active{ border-color: #E62117; opacity: .6;}
.upload-rate-wrap .rate-list-content li.img-wrap.active{ opacity: .6; border-color: #E62117;}
.upload-rate-wrap .rate-list-content li.img-wrap .img{ width: 100%; padding-bottom: 100%; background-size: 100% auto; background-position: center;
 background-repeat: no-repeat;}
.upload-rate-wrap .rate-list-content li.img-wrap a{ position: absolute; top: -6px; right: -6px; width: 24px; height: 24px;
text-align: center; background-color: rgba(21,21,21,.7); border-radius: 50%; line-height: 24px;}
.upload-rate-wrap .rate-list-content li.img-wrap a i{ position: relative; top: 1px; left:0; color: #fff;}
.upload-rate-wrap .rate-list-content li.rate-list-add>a{ width: 100%; height: 100%; border:2px dashed #ccc; position: relative; 
padding-bottom: 100%;}
.upload-rate-wrap .rate-list-content li.rate-list-add>a i{ position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	font-size: 56px; line-height: 56px; color: #aaa;
}

.rate-star{padding: 0 15px 10px;}
.star-group{ display: block; width: 100px; height: 19px; overflow: hidden;
position: relative; margin: 0 !important; padding: 0 !important;}
.star-group .star-item{
	position: absolute; top: 0; left: 0;
	margin: 0 !important; padding: 0 !important;
	width: 100px; height: 19px;
	background-image:url(../image/5star.png);
	background-size:100%;
	z-index: 1;
}
.star-group .star-bg{
	display: none;
	position: absolute; top: 0; left: 0;
	width: 0; height: 19px;
	background-color:#E62117 ;
	margin: 0 !important; padding: 0 !important;
}
.review-star{ position: relative; }
.stars{ position: absolute; height: 20px;}
.stars>*{ float: left; }
.stars .star-group{ width: 75px; height: 14px; background-repeat: no-repeat;}
.stars .star-item{ width: 75px; height: 14px;  background-repeat: no-repeat;}
.stars .val{ line-height: 20px; margin-left: 10px; font-size: 12px; color: #767676;}

.review-star i{ color: #E62117; font-size: 24px; display: inline-block; margin-right: -1px;}
.review-star i.active:before{ content:"\e62a"}

