@font-face {
  font-family: "robotofont";
  src: url('../font/robotofont/roboto-regular-webfont.eot'); /* IE9*/
  src: url('../font/robotofont/roboto-regular-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  	   url('../font/robotofont/roboto-regular-webfont.woff') format('woff'), /* chrome, firefox */
       url('../font/robotofont/roboto-regular-webfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       url('../font/robotofont/roboto-regular-webfont.svg') format('svg'); /* iOS 4.1- */
}
html,body{
  font-family:"robotofont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
	background: #F7F7F7;
}

* {
	padding: 0;
	margin: 0;
	color: #333333;
	vertical-align: baseline;
	box-sizing: border-box;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.375rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.875rem;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ul,
ol {
	width: 100%;
	list-style: none;
}

img {
	display: block;
	border: none;
}

p,
span,
td,
th {
	display: block;
	font-size: 0.75rem;
}

input,
button,
textarea {
	font-size: 0.75rem;
	box-shadow: none;
	-webkit-box-shadow: none;
	outline: none;
	-webkit-appearance: none
}

/*Line*/

.nui-after-line:after,
.nui-before-line:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	background: #CCCCCC;
	height: 0.0625rem;
	-webkit-transform: scaleY(.5);
	-moz-transform: scaleY(.5);
	-ms-transform: scaleY(.5);
	-o-transform: scaleY(.5);
	transform: scaleY(.5);
}

.nui-after-line:after {
	bottom: 0;
}

.nui-before-line:before {
	top: 0;
}


/*Overflow*/

.nui-ellipsis1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nui-ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
}

.nui-ellipsis3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: box;
	box-orient: vertical;
}


/*Clear fix*/

.nui-fix {
	zoom: 1;
}

.nui-fix:after {
	display: block;
	content: 'clear';
	clear: both;
	line-height: 0;
	visibility: hidden;
}


/*-----grille-----*/

.nui-col-1 {
	float: left;
	width: 6.25%
}

.nui-col-2 {
	float: left;
	width: 12.5%
}

.nui-col-3 {
	float: left;
	width: 18.75%
}

.nui-col-4 {
	float: left;
	width: 25%
}
.nui-col-5 {
	float: left;
	width: 31.25%
}

.nui-col-6 {
	float: left;
	width: 37.5%
}

.nui-col-7 {
	float: left;
	width: 43.5%
}

.nui-col-8 {
	float: left;
	width: 60%
}

.nui-col-9 {
	float: left;
	width: 56.25%
}

.nui-col-10 {
	float: left;
	width: 62.5%
}

.nui-col-11 {
	float: left;
	width: 68.75%
}

.nui-col-12 {
	float: left;
	width: 75%
}

.nui-col-13 {
	float: left;
	width: 81.25%
}

.nui-col-14 {
	float: left;
	width: 87.5%
}

.nui-col-15 {
	float: left;
	width: 93.75%
}

.nui-col-16 {
	float: left;
	width: 100%
}
.nui-col-fifth{
	float:left;
	width: 25%;
}

/*-----Common style-----*/

.nui-currency {
	color: #D0021B;
	font-size: 1rem;
}

.nui-currency small {
	color: #D0021B;
	font-size: 0.5rem;
}


/*-----Header-----*/

.nui-headers {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.nui-headers .nui-header-item {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	z-index: 100;
	background: #FFFFFF;
	display: none;
}

.nui-headers .nui-header-item.active {
	display: block;
}

.nui-headers .nui-header-item-inner {
	height: 45px;
	padding: 0 45px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.nui-headers .nui-header-item-inner .nui-header-input{
	width: 100%;
	height: 2.8125rem;
	padding: 0.46875rem 0.9375rem;
}
.nui-headers .nui-header-item-inner .nui-header-input input{
	height: 1.875rem;
	width: 100%;
	line-height: 1.5rem;
	padding: 0.1875rem 0.625rem;
	border: #EEEEEE 1px solid;
	-webkit-border-radius: 0.3125rem;
	-moz-border-radius: 0.3125rem;
	border-radius: 0.3125rem;
}
.nui-headers .nui-header-item .nui-header-title {
	height: 45px;
	font-weight: normal;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	color: #181818;
}

.nui-headers .nui-header-item> span {
	position: absolute;
	z-index: 10000;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	top: 4px;
	text-align: center;
	color: #999999;
}

.nui-header-item span.nui-header-left-icon {
	left: 3px;
}

.nui-header-item span.nui-header-right-icon {
	right: 3px;
}


/*Search bar*/

.nui-search {
	background: #F7F7F7;
	padding: 0.3125rem;
	padding-right: 3.75rem;
}

.nui-search .nui-search-container {
	height: 2.5rem;
	padding-left: 2.5rem;
	background: #FFFFFF;
	position: relative;
}

.nui-search .nui-search-container input[type=text] {
	width: 100%;
	height: 2.5rem;
	padding: 0.3125rem;
	line-height: 1.25rem;
}

.nui-search .nui-search-container span.nui-search-icon {
	position: absolute;
	top: 0.75rem;
	font-size: 1rem;
	color: #999999;
	left: 0.75rem;
}

.nui-search .nui-search-btn {
	height: 2.5rem;
	width: 3.125rem;
	position: absolute;
	right: 0.3125rem;
	top: 0.3125rem;
}


/*-----List view-----*/

.nui-list-content {
	width: 100%;
	min-height: 4.625rem;
	z-index: 20;
	position: relative;
}

.nui-list-line {
	color: #999999;
}


/*-----Media list view-----*/

.nui-media-list-view {
	width: 100%;
}

.nui-media-list-view .nui-media-list-container {
	background-color: #F7F7F7;
}

.nui-media-list-view .nui-media-list-item {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.3125rem;
	position: relative;
	background: #FFFFFF;
	min-height: 5.625rem;
}

.nui-media-list-view .nui-media-list-item .nui-media-list-img {
	left: 0.5rem;
	width: 4.625rem;
	z-index: 50;
	height: 4.625rem;
	position: absolute;
	top: 50%;
	background: #F7F7F7;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nui-media-list-view .nui-media-list-item .nui-media-list-img img {
	width: 100%;
	height: 100%;
}

.nui-media-list-view .nui-media-list-item .nui-media-list-img~ .nui-list-content {
	padding-left: 5.125rem;
}

.nui-media-list-view .nui-media-list-item .nui-media-list-title {
	font-weight: normal;
}

/*List view*/ 
.nui-list-view {
	background: #F7F7F7;
	width: 100%;
}

.nui-list-view .nui-list-item {
	height: 2.8125rem;
	background: #FFFFFF;
	position: relative;
}

.nui-list-view.nui-double-list-view .nui-list-item {
	height: 3.75rem;
	/*padding-right: 10px;*/
}

.nui-list-view .nui-list-item p.nui-list-title {
	width: 6.25rem;
	line-height: 2.8125rem;
	position: absolute;
	top: 0;
	left: 0.625rem;
}

.nui-list-view .nui-list-item.nui-double-line {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.nui-list-view .nui-list-item.nui-double-line p.nui-list-title {
	line-height: 1.25rem;
	font-size: 0.875rem;
	top: 0.625rem;
}

.nui-list-view .nui-list-item.nui-double-line p.nui-list-title.nui-list-sub-title {
	color: #999999;
	top: 1.875rem;
}

.nui-list-view .nui-list-item.nui-list-licon {
	padding-left: 9.0625rem;
}

.nui-list-view .nui-list-item.nui-list-licon p.nui-list-title {
	left: 2.1875rem;
}

.nui-list-view .nui-list-item.nui-list-lpoint {
	padding-right: 1.5625rem;
}

.nui-list-view .nui-list-item i {
	font-size: 1.25rem;
	line-height: 2.8125rem;
	height: 2.8125rem;
	position: absolute;
	top: 0;
}

.nui-list-view .nui-list-item .nui-list-txt {
	width: 100%;
	padding-right: 0.625rem;
	position: relative;
	text-align: right;
	color: #999999;
	line-height: 2.8125rem;
}

.nui-list-view.nui-double-list-view .nui-list-item i {
	line-height: 3.75rem;
	height: 3.75rem;
}

.nui-list-view .nui-list-item.nui-list-licon i.nui-list-icon {
	width: 1.5625rem;
	left: 0.625rem;
	color: #0267b7;
}

.nui-list-view .nui-list-item.nui-list-lpoint i.nui-list-point {
	right: 0.3125rem;
	color: #999999;
}


/*Fold list*/

.nui-fold-list-view .nui-fold-list-item {
	position: relative;
	padding-top: 2.8125rem;
}

.nui-fold-list-view .nui-fold-list-item .nui-fold-list-title {
	padding-right: 1.875rem;
	padding-left: 0.625rem;
	line-height: 2.8125rem;
}

.nui-fold-list-view .nui-fold-list-item .nui-fold-list-icon {
	position: absolute;
	background: #F7F7F7;
	color: #0267B7;
	line-height: 2.8125rem;
	left: 0.9375rem;
	display: none;
	top: 0;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.nui-fold-list-view .nui-fold-list-item .nui-fold-list-item {
	display: none;
	padding-left: 0.9375rem;
	background: #F7F7F7;
}

.nui-fold-list-view .nui-fold-list-item-parent {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.nui-fold-list-view .nui-fold-list-item .nui-fold-list-item .nui-fold-list-item-parent {
	padding-left: 0.9375rem;
}

.nui-fold-list-view .nui-fold-list-item .nui-fold-list-item:before {
	content: "";
	position: absolute;
	left: 15px;
	right: 0;
	z-index: 50;
	top: 0;
	width: 100%;
	background: #CCCCCC;
	height: 0.0625rem;
	-webkit-transform: scaleY(.5);
	-moz-transform: scaleY(.5);
	-ms-transform: scaleY(.5);
	-o-transform: scaleY(.5);
	transform: scaleY(.5);
}

.nui-fold-list-view .nui-fold-list-item .nui-fold-list-item .nui-fold-list-title {
	background: #F7F7F7;
}

.nui-fold-list-view .nui-fold-list-item.active> .nui-fold-list-container> .nui-fold-list-item,
.nui-fold-list-view .nui-fold-list-item .nui-fold-list-item .nui-fold-list-icon {
	display: block;
}

.nui-fold-list-view .nui-fold-list-item .nui-fold-list-point {
	position: absolute;
	display: none;
	color: #999999;
	line-height: 2.8125rem;
	right: 0.625rem;
	top: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.nui-fold-list-view .nui-fold-list-container~ .nui-fold-list-item-parent .nui-fold-list-point {
	display: block;
}

.nui-fold-list-view .nui-fold-list-item.active> .nui-fold-list-item-parent .nui-fold-list-point {
	-webkit-transform: rotateZ(-90deg);
	-moz-transform: rotateZ(-90deg);
	-ms-transform: rotateZ(-90deg);
	-o-transform: rotateZ(-90deg);
	transform: rotateZ(-90deg);
}


/*数字增减输入框*/

.nui-number-box {
	position: absolute;
	border: #999999;
	height: 2rem;
	width: 8.125rem;
	border: #CCCCCC 1px solid;
	overflow: hidden;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
}

.nui-number-box> button {
	border: none;
	border-right: #CCCCCC 1px solid;
	color: #999999;
	position: absolute;
	padding: 0;
	margin: 0;
	text-align: center;
	height: 1.875rem;
	line-height: 1.875rem;
	width: 1.875rem;
	left: 0;
	top: 0;
	font-size: 2rem;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nui-number-box> button:first-child {
	-webkit-border-top-left-radius: 0.5rem;
	-moz-border-radius-topleft: 0.5rem;
	border-top-left-radius: 0.5rem;
	-webkit-border-bottom-left-radius: 0.5rem;
	-moz-border-radius-bottomleft: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.nui-number-box> button:last-child {
	right: 0;
	left: auto;
	border: none;
	border-left: #CCCCCC 1px solid;
	-webkit-border-top-right-radius: 0.5rem;
	-moz-border-radius-topright: 0.5rem;
	border-top-right-radius: 0.5rem;
	-webkit-border-bottom-right-radius: 0.5rem;
	-moz-border-radius-bottomright: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.nui-number-box .nui-number-box-input {
	padding: 0 1.875rem;
	height: 1.875rem;
	width: 100%;
}

.nui-number-box .nui-number-box-input input {
	margin: 0;
	padding: 0.3125rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
	border: none;
	height: 1.875rem;
	color: #333333;
	width: 100%;
	line-height: 1.25rem;
}


/*Bottom fix button bar*/

.nui-fix-button-group {
	height: 3.125rem;
	background: #F7F7F7;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.nui-icon-btn {
	padding: 0.3125rem 0;
}

.nui-icon-btn i {
	font-size: 1.25rem;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.25rem;
}

.nui-icon-btn i.active {
	color: #0267b7;
}

.nui-icon-btn .nui-icon-btn-title {
	line-height: 1.125rem;
	font-size: 0.625rem;
	text-align: center;
}


/*-----Banner slider-----*/

.nui-slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.nui-slider .nui-slider-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.nui-slider .nui-slider-item {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.nui-slider .nui-slider-item img {
	width: 100%;
	height: 100%;
}

.nui-slider .nui-slider-item.active {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.pagination {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	padding: 15px;
	text-align: center;
}

.pagination-container.right {
	/*float: right;*/
}

.pagination-container.mid {
	margin: 0 auto;
}
.pagination .pagination-container{
	text-align: center;
}
.pagination-container li {
	float: none;
	display: inline-block;
	height: 8px;
	width: 8px;
	margin-left: 8px;
	background: #EEEEEE;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.pagination-container li:first-child {
	margin: 0;
}

.pagination-container li.active {
	background: #333333;
}


/*Chat*/

.nui-chat-item {
	width: 100%;
	padding: 0.625rem;
	position: relative;
}

.nui-chat-icon {
	position: absolute;
	top: 0.625rem;
	left: 0.625rem;
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.nui-chat-right .nui-chat-icon {
	right: 0.625rem;
	left: auto;
}

.nui-chat-icon img {
	width: 100%;
	height: 100%;
}

.nui-chat-item-content {
	padding: 0.3125rem 0.3125rem 0.3125rem 3.125rem;
}

.nui-chat-right .nui-chat-item-content {
	padding: 0.3125rem 3.125rem 0.3125rem 0.3125rem;
}

.nui-chat-content {
	display: inline-block;
	width: auto;
	padding: 0.3125rem 0.625rem;
	line-height: 1.25rem;
	background: #F7F7F7;
	color: #333333;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	position: relative;
	font-size: 0.875rem;
	float: left;
	line-height: 1.875rem;
}

.nui-chat-content img {
	display: inline;
	width: 1.5625rem;
	position: relative;
	top: 0.3125rem;
}

.nui-chat-right .nui-chat-content {
	float: right;
}

.nui-chat-content .nui-chat-triangle {
	position: absolute;
	width: 0.625rem;
	background: #F7F7F7;
	top: 0.3125rem;
	left: -0.1875rem;
	height: 0.625rem;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.nui-chat-right .nui-chat-content .nui-chat-triangle {
	right: -0.1875rem;
	left: auto;
}