.pay-wait-mask{ 
				display: none;
				position: fixed; top: 0; bottom: 0; width: 100%; background-color: rgba(21,21,21,.6); z-index: 3;}
			.pay-wait-inner{ position: absolute; top: 50%; left: 50%; width: 80%; background-color: #fff;
			transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); padding-bottom: 20px; border-radius: 6px; padding: 20px;}
			.pay-wait-inner p{ line-height: 32px; font-size: 16px; color: #767676; text-align: center; 
			margin-bottom: 20px; font-weight: bold;}
			.sa-icon {
				position: absolute;
				top:-2px;
				left:50%;
				margin-left: -44px;
			    width: 80px;
			    height: 80px;
			    border: 4px solid gray;
			    -webkit-border-radius: 40px;
			    border-radius: 40px;
			    border-radius: 50%;
			    padding: 0;
			    box-sizing: content-box;
			} 
			.sa-icon.sa-success {
			    border-color: transparent;
			} 
			.sa-icon.sa-success .sa-line.sa-tip {
			    width: 25px;
			    left: 14px;
			    top: 46px;
			    -webkit-transform: rotate(45deg);
			    transform: rotate(45deg);
			}
			.sa-icon.sa-success .sa-line {
			    height: 5px;
			    background-color: #A5DC86;
			    display: block;
			    border-radius: 2px;
			    position: absolute;
			    z-index: 2;
			} 
			.animateSuccessTip {
			    -webkit-animation: animateSuccessTip 0.75s;
			    animation: animateSuccessTip 0.75s;
			} 
			.animateSuccessLong {
			    -webkit-animation: animateSuccessLong 0.75s;
			    animation: animateSuccessLong 0.75s;
			}
			.sa-icon.sa-success .sa-line.sa-long {
			    width: 47px;
			    right: 8px;
			    top: 38px;
			    -webkit-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			}
			.sa-icon.sa-success .sa-placeholder {
			    width: 80px;
			    height: 80px;
			    border: 4px solid rgba(165, 220, 134, 0.2);
			    -webkit-border-radius: 40px;
			    border-radius: 40px;
			    border-radius: 50%;
			    box-sizing: content-box;
			    position: absolute;
			    left: -4px;
			    top: -4px;
			    z-index: 2;
			}
			.sa-icon.sa-success .sa-fix {
			    width: 5px;
			    height: 90px;
			    background-color: white;
			    position: absolute;
			    left: 28px;
			    top: 8px;
			    z-index: 1;
			    -webkit-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			}
			.sa-icon.sa-success::before {
			    -webkit-border-radius: 120px 0 0 120px;
			    border-radius: 120px 0 0 120px;
			    top: -7px;
			    left: -33px;
			    -webkit-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			    -webkit-transform-origin: 60px 60px;
			    transform-origin: 60px 60px;
			}

			@-webkit-keyframes animateSuccessTip {
			  0% {
			    width: 0;
			    left: 1px;
			    top: 19px; }
			  54% {
			    width: 0;
			    left: 1px;
			    top: 19px; }
			  70% {
			    width: 50px;
			    left: -8px;
			    top: 37px; }
			  84% {
			    width: 17px;
			    left: 21px;
			    top: 48px; }
			  100% {
			    width: 25px;
			    left: 14px;
			    top: 45px; } }
			
			@keyframes animateSuccessTip {
			  0% {
			    width: 0;
			    left: 1px;
			    top: 19px; }
			  54% {
			    width: 0;
			    left: 1px;
			    top: 19px; }
			  70% {
			    width: 50px;
			    left: -8px;
			    top: 37px; }
			  84% {
			    width: 17px;
			    left: 21px;
			    top: 48px; }
			  100% {
			    width: 25px;
			    left: 14px;
			    top: 45px; } }
			
			@-webkit-keyframes animateSuccessLong {
			  0% {
			    width: 0;
			    right: 46px;
			    top: 54px; }
			  65% {
			    width: 0;
			    right: 46px;
			    top: 54px; }
			  84% {
			    width: 55px;
			    right: 0px;
			    top: 35px; }
			  100% {
			    width: 47px;
			    right: 8px;
			    top: 38px; } }
			
			@keyframes animateSuccessLong {
			  0% {
			    width: 0;
			    right: 46px;
			    top: 54px; }
			  65% {
			    width: 0;
			    right: 46px;
			    top: 54px; }
			  84% {
			    width: 55px;
			    right: 0px;
			    top: 35px; }
			  100% {
			    width: 47px;
			    right: 8px;
			    top: 38px; } }
			.pay-wait-mask .loader{ border-bottom-color: #E62117; border-left-color:#E62117; border-top-color: #E62117;
			 width: 30px; height: 30px; transition: linear .5s;}  
			.pay-wait-mask.active .loader{ width: 80px; height: 80px;} 
			.sa-icon.sa-error {border-color: #F27474;}
			.animateErrorIcon {
			    -webkit-animation: animateErrorIcon 0.5s;
			    animation: animateErrorIcon 0.5s;
			}
			.sa-icon.sa-error .sa-x-mark {
			    position: relative;
			    display: block;
			}
			.animateXMark {
			    -webkit-animation: animateXMark 0.5s;
			    animation: animateXMark 0.5s;
			}
			.sa-icon.sa-error .sa-line {
			    position: absolute;
			    height: 5px;
			    width: 47px;
			    background-color: #F27474;
			    display: block;
			    top: 37px;
			    border-radius: 2px;
			}
			.sa-icon.sa-error .sa-line.sa-left {
			    -webkit-transform: rotate(45deg);
			    transform: rotate(45deg);
			    left: 17px;
			}
			.sa-icon.sa-error .sa-line.sa-right {
			    -webkit-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			    right: 16px;
			}
			@-webkit-keyframes animateErrorIcon {
			  0% {
			    transform: rotateX(100deg);
			    -webkit-transform: rotateX(100deg);
			    opacity: 0; }
			  100% {
			    transform: rotateX(0deg);
			    -webkit-transform: rotateX(0deg);
			    opacity: 1; } }
			
			@keyframes animateErrorIcon {
			  0% {
			    transform: rotateX(100deg);
			    -webkit-transform: rotateX(100deg);
			    opacity: 0; }
			  100% {
			    transform: rotateX(0deg);
			    -webkit-transform: rotateX(0deg);
			    opacity: 1; } }
			@-webkit-keyframes animateXMark {
				  0% {
				    transform: scale(0.4);
				    -webkit-transform: scale(0.4);
				    margin-top: 26px;
				    opacity: 0; }
				  50% {
				    transform: scale(0.4);
				    -webkit-transform: scale(0.4);
				    margin-top: 26px;
				    opacity: 0; }
				  80% {
				    transform: scale(1.15);
				    -webkit-transform: scale(1.15);
				    margin-top: -6px; }
				  100% {
				    transform: scale(1);
				    -webkit-transform: scale(1);
				    margin-top: 0;
				    opacity: 1; } }
				
				@keyframes animateXMark {
				  0% {
				    transform: scale(0.4);
				    -webkit-transform: scale(0.4);
				    margin-top: 26px;
				    opacity: 0; }
				  50% {
				    transform: scale(0.4);
				    -webkit-transform: scale(0.4);
				    margin-top: 26px;
				    opacity: 0; }
				  80% {
				    transform: scale(1.15);
				    -webkit-transform: scale(1.15);
				    margin-top: -6px; }
				  100% {
				    transform: scale(1);
				    -webkit-transform: scale(1);
				    margin-top: 0;
				    opacity: 1; } }    