.nui-header-item span.nui-header-right-icon,
.nui-header-item span.nui-header-left-icon {
	background: #FFFFFF;
}

html,
body,
#wrap {
	background: #F7F7F7;
}
.nui-headers {
	position: absolute;
	top: 0;
	left: 0;
}

.nui-headers .nui-header-item {
	background: none;
}

.nui-after-line:after {
	display: none;
}

.info {
	position: relative;
	padding: 0.625rem 1.25rem;
	background: #FFFFFF;
}

.info .pro-title {
	max-height: 2.5rem;
	line-height: 1.25rem;
	font-size: 16px;
	margin-bottom: 0.5rem;
	color: #767676;
	text-align: center;
	max-width: 100%;
}

.price-row p {
	width: 50%;
	float: left;
	height: 1.25rem;
	font-size: 16px;
	color: #333;
}

.price-row p span {
	float: left;
	margin-right: 0.3125rem;
	font-size: 1.25rem;
	font-size: 16px;
}

.price-row p span.old {
	color: #999999;
	text-decoration: line-through;
	font-size: 14px;
	line-height: 24px;
}

.price-row p span.new {
	color: #e62117;
	font-size: 16px;
}
.price-row p span.new>*{
	font-size: 16px;
}
.price-row p.stars {
	text-align: right;
}

.price-row p.stars i {
	color: #ff787f;
	font-size: 1.5625rem;
	letter-spacing: -0.625rem;
	line-height: 1.25rem;
	position: relative;
	top: -0.125rem;
}

.price-row p.stars span {
	float: right;
	line-height: 1.25rem;
	margin-left: 0.625rem;
	font-size: 14px;
}

.info:before {
	content: "";
	position: absolute;
	bottom: 17px;
	left: 0;
	width: 20%;
	height: 2%;
	z-index: -1;
	border-radius: 20%;
	box-shadow: 0 10px 25px #767676;
	background-color: transparent;
}

.info:after {
	content: "";
	position: absolute;
	bottom: 17px;
	right: 0;
	width: 20%;
	height: 2%;
	z-index: -1;
	border-radius: 20%;
	box-shadow: 0 10px 25px #767676;
	background-color: transparent;
}

.shipping {
	padding: 0 0 10px;
	margin: 0 10px;
	background: #FFFFFF;
	border-bottom: 2px solid #f0f0f0;
}
.shipping .nui-list-view .nui-list-item.nui-list-licon p.nui-list-title{
	left:0;
}
.pro-detail-wrap .shipping .nui-list-view .nui-list-item.nui-list-licon p.nui-list-title{
	font-size: 16px !important;
}
.nui-list-view .nui-list-item.nui-list-licon i.nui-list-icon {
	color: #ff787f;
}

.nui-list-view .nui-list-item.nui-list-licon p.nui-list-title {
	font-size: 14px;
}

.nui-list-view .nui-list-item p.nui-list-title {
	width: 12.5rem;
}

.shipping-items.active .item-shipping {
	height: auto;
	padding: 0.3125rem;
}

.item-shipping {
	height: 0rem;
	overflow: hidden;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.item-shipping:first-child {
	height: auto;
	padding: 0.3125rem;
}

.item-shipping .title {
	font-size: 14px;
}

.item-shipping div> span {
	color: #999999;
	line-height: 1.875rem;
	width: 38%;
	font-size: 0.875rem;
}
.item-shipping div> span:last-child{width: 60%;}
.item-shipping div> span i {
	font-size: 0.875rem;
	color: #ff787f;
}

.item-shipping div> span span {
	display: inline;
	color: #ff787f;
}

.item-shipping .left {
	float: left;
}

.item-shipping .right {
	text-align: right;
	float: right;
}

.guarantee{
	padding: 0;
	background: #FFFFFF;
	border-top:1px #ddd solid;
	border-bottom: 1px #ddd solid;
}
.guarantee-inner{
	width: 100%;
	border: 1px solid #ff787f;
	background: url(../image/main/backg.png) repeat;
	padding: 0.5rem 1.5625rem 0.5rem 0.5rem;
	position: relative;
}

.guarantee-inner .guarantee-title{
	font-size: 1rem;
	color: #ff787f;
}
.guarantee-inner .guarantee-title i{
	color: #ff787f;
	font-size: 0.875rem;
	margin-right: 0.3125rem;
}
.guarantee-inner .guarantee-content{
	margin-top:0.625rem;
	font-size: 0.875rem;
}
.guarantee-inner .point{
	position: absolute;
	right: 0.3125rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.payment{ background-color: #fff; padding: 0 10px 10px;}
.payment .title{ position: relative;}
.payment .title>h3{ height: 38px; line-height: 38px; font-weight: normal; font-size: 16px; color: #767676;}
.payment .title>h3 i{ color: #FF787F; font-size: 1.25rem; margin-right: 5px;}
.payment .title>a{ position: absolute; top: 0; right:.875rem; color:#999; height: 45px; line-height: 45px;}
.payment .title>a i{ font-size: 1.25rem; color: #999;}
.pay-v-group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    height: 34px;
    /*border-top: 1px #ddd solid;*/
    overflow: hidden;
}
.pay-v-group.active{ height: auto;}
.pay-v-group div img {
    height: 18px;
    margin-right: 15px;
    margin-bottom: 8px;
}
.detail{
	background: #FFFFFF;
	margin: 0;
	padding: 0 0.625rem;
}
.detail .title{
	position: relative;
}
.detail .title:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background: #CCCCCC;
	height: 0.0625rem;
	-webkit-transform: scaleY(.5);
	-moz-transform: scaleY(.5);
	-ms-transform: scaleY(.5);
	-o-transform: scaleY(.5);
	transform: scaleY(.5);
}
.detail .details-content{
	padding: 0.625rem 0;
}
.detail .details-content p{
	line-height: 1.5rem;
    overflow: hidden;
    max-height: 4.5rem;
    font-size: 14px;
    color: #767676;
}
.detail.more .details-content p{
    overflow: visible;
    max-height: none;
}
.detail .details-content p.active{
	max-height:none;
}
.more-detail{
	width: 100%;
	height: 1.875rem;
	background: #CCCCCC;
}
.more-detail:after{
	content: "Read More";
	color: #FFFFFF;
	display: block;
	font-size: 0.875rem;
	width: 100%;
	line-height: 1.875rem;
	text-align: center;
}
.more-detail.active:after{
	content: "Hide Detail";
}
.like-pro-list{
	background: #FFFFFF;
	padding: 0.5rem;
}
.like-pro-list li{
	float:left;
	width: 33.333%;
	position: relative;
	padding: 0.125rem;
	margin: 0;
}
.like-pro-list li div.pro-thumb{
	width: 100%;
	position: relative;
	padding-bottom: 100%;
	border: .0625rem solid #ddd;
	background-size: auto 100%;
	background-position: center top;
	background-repeat: no-repeat;
}
.like-pro-list li .pro-price {
    padding: 4px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    width: 100%;
    color: #fff;
}
.star-group{ display: block; width: 100px; height: 19px; overflow: hidden;
position: relative; margin: 0 !important; padding: 0 !important;}
/*.star-group .star-item{
	position: absolute; top: 0; left: 0;
	margin: 0 !important; padding: 0 !important;
	width: 100px; height: 19px;
	background-image:url(../image/5star.png);
	background-size:100%;
	z-index: 1;
}
.star-group .star-bg{
	display: none;
	position: absolute; top: 0; left: 0;
	width: 0; height: 19px;
	background-color:#E62117 ;
	margin: 0 !important; padding: 0 !important;
}*/
.star-group .star-item {
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    width: 80px;
    background-image: url(../image/5star.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 176px 32px;
}
.star-group .star-item.x4-5{ background-position: -16px 0;}
.star-group .star-item.x4{background-position: -16px -16px;}
.star-group .star-item.x3-5{background-position: -32px 0;}
.star-group .star-item.x3{background-position: -32px -16px;}
.star-group .star-item.x2-5{background-position: -48px 0;}
.star-group .star-item.x2{background-position: -48px -16px;}
.star-group .star-item.x1-5{background-position: -64px 0;}
.star-group .star-item.x1{background-position: -64px -16px;}
.star-group .star-item.x0-5{background-position: -80px 0;}
.star-group .star-item.x0{background-position: -80px -16px;}
.review{  background-color: #fff; border-bottom: 3px solid #f1f1f1; padding: 0 10px;}
.review span{ display: inline;}
.review .title{ position: relative;padding: 0 10px;}
.review .title h3{ height: 38px; line-height: 38px; font-weight: normal; font-size: 14px;color: #333; border-bottom: 1px #ddd solid;}
.review .title h3 span{ margin-left: 5px; display: inline; font-size: 1rem; color: #999; font-weight: 500;}
.review .title a{ position: absolute; top: 0; right: 0; height: 45px; line-height: 45px; font-size: 14px;color: #767676;}
.review .title a i{ margin-left: 5px;color: #767676;}
.review .title a>*{color: #767676;}
.review .review-list{margin: 0 15px; width: auto;}
.review .review-list>li{ padding: 10px 0 10px 55px; position: relative; border-bottom: 1px solid #f0f0f0;margin-bottom: 10px;}
.review .review-list>li:last-child { border-bottom: none; margin-bottom: 0;}
.review .review-list>li .row{ margin-bottom: 5px;}
.review .review-list>li .review-title{ display: flex; justify-content: space-between; line-height: 22px;}
.review .review-list>li .review-title .name{ font-size: 14px;color: #767676;}
.review .review-list>li .review-title .date{ color: #767676;}
.review .review-list>li .review-content p{ line-height: 18px; color: #333;font-size: 14px;}
.review .review-list>li .review-star{ position: relative; height: 20px;}
.review .review-list>li .stars{ position: absolute; height: 20px;}
.review .review-list>li .stars>*{ float: left; }
.review .review-list>li .stars .star-group{ width: 80px; height: 16px; background-repeat: no-repeat;top: 0;}
.review .review-list>li .stars .star-item{ width: 80px; height: 16px;  background-repeat: no-repeat;top: 0;}
.review .review-list>li .stars .val{ line-height: 20px; margin-left: 10px; font-size: 12px; color: #767676;}
.review .review-list>li .review-thumb{ display: flex; }
.review .review-list>li .review-thumb li{ margin-right: 5px; min-width: 70px; max-width: 70px; height: 70px; min-height: 70px; overflow: hidden; display: flex; align-items: center; justify-content: center;}
.review .review-thumb img{ width: 70px; }
.review .review-list>li .review-pro-attr>span{ color: #767676;}
.review .review-list>li .review-pro-attr>span>*{ color: #767676;}
.review .review-list>li .avatar-wrap{
	position: absolute;
	top: 0;
	left: 0;
box-shadow: -1px 1px 6px #767676;
width: 53px;
height: 53px;
border-radius: 50%;
border: 3px #fff solid;
overflow: hidden;
background-color: #fff;
transform: scale(.75);
-webkit-transform: scale(.75);
border:2px #fff solid;
background-repeat: no-repeat;
background-size: 102% auto;

}
.review .review-list>li .avatar-wrap>img {
    width: 48px;
    height: 48px;
}

.review.review-shop h3{
	height: 60px;
	line-height: 32px;
	position: relative;
	padding: 5px 0;
	border-bottom: none;
}
.review.review-shop .title a{
	top: 50%;
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.review.review-shop h3 a.avatar-wrap{
	top: 50%;
	margin-top: -26px;
	left: 0;
    box-shadow: -1px 1px 6px #767676;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 3px #fff solid;
    overflow: hidden;
    background-color: #fff;
    transform: scale(.75);
    -webkit-transform: scale(.75);
    background-color: #fff;
    vertical-align: middle;
}
.review.review-shop h3 a.avatar-wrap img{
	width: 48px;
    height: 48px;
}
.review.review-shop h3 .shop-info{
	padding-left: 60px;
}
.review.review-shop h3 .shop-info span{
	display: block;
	line-height: 28px;
	color: #333;
	font-size: 16px;
}
.review.review-shop h3 .shop-info span.shop-pro{
	font-size: 14px;
	color: #767676;
}
.right-btn{ position: absolute; top: -20px; right: 10px; z-index: 100;}
.right-btn>a{ padding: 5px;}
.right-btn>a:first-child{ margin-right: 5px;}
.right-btn>a.love.active i{ color: #E62117;}
.right-btn>a.love.active i:before{ content:"\e641";}
.right-btn>a i{ position:relative; top: -2px; display: inline-block; width: 24px; height: 24px; box-shadow: 1px 1px 3px #ccc; border-radius: 50%;
 line-height: 24px; text-align: center; color: #767676; background: #fff;}
 .right-btn>a.share i{box-shadow: 1px 1px 3px #ccc; border:1px transparent solid;  line-height: 22px;}

.review.v-review .title h3 span{ margin: 0;}
.watch-review{ margin: 0 15px; border-top: 1px #ddd solid;}
.watch-review .info{ padding: 0; display: flex; justify-content: space-between; align-items: center;}
.watch-review .info .left{ display: flex; align-items: center; max-width: 70%;}
.watch-review .info .name{ font-size: 14px;}
.watch-review .avatar-wrap{ width: 53px; height: 53px;mina-width: 53px; border-radius: 50%; border:3px #fff solid; overflow: hidden;
 transform: scale(.75); -webkit-transform: scale(.75); background-color: #fff; box-shadow: -1px 1px 6px #767676; margin-right: 5px;}
.watch-review .avatar-wrap img{ width: 48px; height: 48px;}
.watch-review .info .num{ font-size: 14px; color: #999;}
.watch-review .watch-wrap{ padding: 10px 0;}
.sold-out{ display: none; position: fixed; top:50%; left:50%; width: 50%;
 -webkit-transform: translate(-50%,-50%);
 transform: translate(-50%,-50%);
 background-color: rgba(21,21,21,.7); padding: 30px 15px; border-radius: 16px;}
.sold-out p{ }
.sold-out p img{ width: 100%;}

.specific{ background: #fff;padding: 0 .625rem .625rem;}
.specific>.title{ line-height: 38px; font-size: 14px;color: #333;}
.specific .content{ margin: 0; max-height: 0; overflow: hidden;}
.specific ul{ }
.specific li{ display: flex; align-items: flex-start; line-height: 24px;}
.specific ul .title{ min-width: 150px; width: 120px; margin-right: 15px; font-weight: 500;}
.specific ul .text{ flex-grow: 1; color: #767676;}
.specific .more{ display: none; width: 100%; height: 28px; line-height: 28px; background:#ccc; text-align: center; color: #fff; font-size: 14px;}
.specific .more:before{ content:"Read More";}
.specific .more:active{ color: #f1f1f1;}
.specific.more .content{ max-height: none;}
.specific.more .more:before{ content:"Hide More";}

.review.add-start .title#reviewMore{ display: flex; justify-content: space-between;  padding: 0;}
.review.add-start .title-inner{  display: flex; flex-direction: column; justify-content: center;}
.review.add-start .title a{ position: static; top: auto; right: auto;}
.review.add-start .title-inner h3{ border-bottom: none; height: 26px; line-height: 26px;}
.review.add-start .title-inner .stars{ display: flex; align-items: center; height: 20px;}
.review.add-start .title-inner .stars .val{ height: 13px; line-height: 13px; color: #767676; position: relative; left: -25px;}
.review.add-start .title-inner .stars .star-group{  position: relative; left:-15px;  -webkit-transform: scale(.7); transform: scale(.7);}
.review.add-start .title-inner .star-bg{ height: 17px; top: 1px; }
.shipping-wrap .payment.shipping .title h3{padding-left: 0;}
.detail .title h3 {
    height: 48px;
    line-height: 48px;
    font-weight: 400 !important;
    padding: 0 .625rem;
    color: #767676;
    font-size: 14px;
    position: relative;
    padding-left: 0;
}
.detail .title span.right {
    font-size: 14px;
    position: absolute;
    right: 5px;
    width: auto;
    background: none;
    height: auto;
    line-height: none;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    top: 50%;
    margin-top: -8px;
}
.detail.more .title span.right {
    width: auto;
    background: none;
    height: auto;
    line-height: none;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    top: 50%;
    margin-top: -8px;
}
