.share-btn-group{ position: fixed; bottom:0; width: 100%; background-color: #fff;}
.share-btn-list{ display: flex; flex-wrap: wrap; border-bottom: 1px #f1f1f1 solid;}
.share-btn-list>li{ width: 25%; text-align: center;}
.share-btn-list a{ display: block; padding: 10px 0;}
.share-btn-list a:active{ background:#f1f1f1;}
.share-btn-list a>em{ display: block; margin: 0 auto 5px; width: 36px; height: 36px; line-height: 36px; border-radius: 50%;}
.share-btn-list a>em>i{ font-size: 24px; color: #fff;}
.share-btn-list a>em+span{ color: #222; font-weight: 400; font-size: 14px;}

.share-btn-list .facebook>em{ background-color: #3b5998;}
.share-btn-list .twitter>em{ background-color: #00acee;}
.share-btn-list .google>em{ background-color: #d73d32;}
.share-btn-list .mail>em{ background-color: #00ACEE;}
.share-btn-list .sms>em{ background-color: #00AF2C;}
.share-btn-list .wechat>em{ background-color: #609700;}
.share-btn-list .whatsapp>em{ background-color: #40BA2C;}
.share-btn-list .qr>em{ background-color: #767676;}
.share-btn-list .url>em{ background-color: #f1f1f1; border:1px #767676 solid; line-height: 34px;}
.share-btn-list .url>em>i{ color: #767676;}
.share-btn-list+a{ display: block; text-align: center; height: 36px; line-height: 36px; font-size: 16px; color: #767676;}
