.upload-show-title-send{ 
	position: absolute; right: 15px; top:50%;  transform: translateY(-50%); -webkit-transform:translateY(-50%);
	border:1px #E62117 solid; font-size:16px; height:26px; line-height: 26px; padding: 0 5px; background: #fff;  color: #E62117;
}
.upload-show-title-send:active{ background-color: #f6f6f6;}
.upload-show-title-send[disabled=disabled]{border:1px #ddd solid; color: #ccc;}
.upload-show-title-send[disabled=disabled]:active{ background-color: #fff;}
	
.show-content-input{padding: 10px 15px;}
.show-content-input textarea{ resize: none; width: 100%; font-size: 14px; line-height: 22px; border:1px #f1f1f1 solid; padding: 10px;}
.show-content-input textarea:focus{ box-shadow: 1px 1px 18px #eee inset; border-color: #ddd;}

.upload-show-p-wrap{ margin-bottom: 10px;}
.upload-show-p-wrap h3{ margin-bottom: 10px; padding: 0 15px; font-size: 14px; font-weight: 500; height: 32px; line-height: 32px; color: #767676;}
.upload-show-p-wrap .p-list-content{ display: flex; flex-wrap: wrap; padding: 0 15px;}
.upload-show-p-wrap .p-list-content li{ display: flex; align-items: stretch; min-width: 30%; width: 30%; margin-right: 5%; margin-bottom: 10px; font-size: 0;}
.upload-show-p-wrap .p-list-content li:nth-child(3n+0){ margin-right: 0;}
.upload-show-p-wrap .p-list-content li.img-wrap{ position: relative; border:1px #ddd solid;}
.upload-show-p-wrap .p-list-content li.img-wrap.active{ opacity: .6; border-color: #E62117;}
.upload-show-p-wrap .p-list-content li.img-wrap .img{ width: 100%; padding-bottom: 100%; background-size: 100% auto; background-position: center;
 background-repeat: no-repeat;}
.upload-show-p-wrap .p-list-content li.img-wrap a{ position: absolute; top: -6px; right: -6px; width: 24px; height: 24px;
text-align: center; background-color: rgba(21,21,21,.7); border-radius: 50%; line-height: 24px;}
.upload-show-p-wrap .p-list-content li.img-wrap a i{ position: relative; top: 1px; left:0; color: #fff;}
.upload-show-p-wrap .p-list-content li.p-list-add>a{ width: 100%; height: 100%; border:2px dashed #ccc; position: relative; 
padding-bottom: 100%;}
.upload-show-p-wrap .p-list-content li.p-list-add>a i{ position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	font-size: 56px; line-height: 56px; color: #aaa;
}

.upload-show-tag-wrap{ position: relative; margin-bottom: 15px;}
.upload-show-tag-wrap .tags-list{ display: flex; flex-wrap: wrap; padding: 8px 15px; background: #f1f1f1;}
.upload-show-tag-wrap .tags-list dt,.upload-show-tag-wrap .tags-list dd{ height: 32px; line-height: 32px;}
.upload-show-tag-wrap .tags-list dt{ margin-right: 10px; padding: 10 0px; font-size: 14px; font-weight: 600; color: #767676;}
.upload-show-tag-wrap .tags-list dd{ margin-top: 5px;}
.upload-show-tag-wrap .tags-list dd.tag{ margin-right: 8px;}
.upload-show-tag-wrap .tags-list dd.tag span{ border:1px #E62117 solid; background: #fff; height: 22px; line-height: 20px; padding: 0 8px; border-radius: 4px;
color: #222;}
.upload-show-tag-wrap .tags-list dd.add a{ display: block; border:1px #767676 dashed; background: #fff; color: #767676; height: 22px; line-height: 20px; padding: 0 8px; border-radius: 4px;
 font-size: 12px;}
.upload-show-tag-wrap p{ position: absolute; left:0; bottom: -26px; padding: 0 15px; color: #767676;}

.add-tag-wrap{ padding: 15px ;}
.add-tag-list{ border-bottom: 1px #ddd solid; display: flex; flex-wrap: wrap;}
.add-tag-list li{ margin-bottom: 10px;}
.add-tag-list li.tag{ position: relative; margin-right: 8px; background-color: #E62117; border-radius: 6px; padding: 0 8px;}
.add-tag-list li.tag>*{ display: inline; line-height: 22px; color: #fff;}
.add-tag-list li.tag>span{ padding-right: 15px;}
.add-tag-list li.tag>a{ position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); padding:0 5px;}
.add-tag-list li.tag>a i{ font-size: 12px; color: #fff;}
.add-tag-list li.add{ min-width: 56px; border:1px #ddd dashed; color: #767676; font-size: 14px; line-height: 22px; padding: 0 8px; border-radius: 6px; outline:none;}
.add-tag-list li.add input{ min-width: 56px; width: 56px; font-size: 14px; color: #767676;}
.add-tag-list li.add[data-temp]{ position: absolute; left: 9999px; opacity: 0.1; font-size: 14px; white-space:nowrap; word-break: keep-all;}

.tags-autocomplete{ padding: 0 15px; display: flex; flex-wrap:wrap;}
.tags-autocomplete li{ margin-right: 10px; font-size: 14px; }

.tags-autocomplete li div{ display: inline-block; height: 22px; line-height: 22px; border:1px #ddd solid; border-radius: 6px; padding: 0 8px; color: #767676; font-size: 14px;}
.tags-autocomplete li span{ display: inline; font-weight: bold; font-size: 14px;}

.img-upload-menu{ position: fixed; top: 40%; left: 50%; transform: translate(-50%,-50%); background-color: #fff; width: 120px; border:1px #ddd solid;}
.img-upload-menu li{ border-bottom: 1px #ddd solid;}
.img-upload-menu li:last-child{ border-bottom: none;}
.img-upload-menu li a{ display: block; text-align: center; font-size: 14px; height: 32px; line-height: 32px; color: #222; }
.img-upload-menu li a.del{ color: #E62117;}
.img-upload-menu li a:active{ background-color: #f6f6f6;}

.agree-checkbox{padding: 0 15px; display: inline-block;}
.agree-checkbox label{ display: flex; align-content: center; height: 32px; line-height: 32px;}
.agree-checkbox label input[type=checkbox]{ width: 0; max-width: 0; opacity: 0;}
.agree-checkbox label .checkbox-box{  color: #767676; margin-right: 8px;}
.agree-checkbox label input[type=checkbox]:checked+.checkbox-box{ color: #E62117;}
.agree-checkbox label input[type=checkbox]:checked+.checkbox-box:before{ content:"\e63c";}
.agree-checkbox label a{ color: #767676; font-size: 14px; text-decoration: underline;}
.agree-checkbox label a:active{ color:#999; text-decoration: none;}

.show-detail-header h1.title{ height: 45px; line-height: 45px; font-size: 18px; color: #767676; font-weight: 500; text-align: center;}


.show-detail-wrap .card{ background-color: #fff; padding: 10px 15px 1%; margin-bottom: 5px;}
.show-detail-wrap .card h3{ font-size: 14px; color: #767676; font-weight: 500; margin-bottom: 5px; line-height: 28px;}
.show-detail-wrap .card h3 i{ color: #222; margin-right: 5px;}
.show-detail-wrap .card>h3+ul{ border-top:1px #ddd solid; padding-top: 1%;}

.show-detail-wrap .info-card .user-info{ display: flex; justify-content: space-between; margin-bottom: 10px;}
.show-detail-wrap .info-card .user-info .left{ min-width: 60%; flex-grow: 1; padding-right: 10px;}
.show-detail-wrap .info-card .avatar-group{ position: relative; padding-left: 64px; height: 54px;}
.show-detail-wrap .info-card .avatar-group .avatar-wrap{ position: absolute; top:0; left: 0; width: 54px; height: 54px; min-width: 54px; border:2px #fff solid; border-radius: 50%; overflow: hidden;
 box-shadow: 1px 1px 6px #ddd; margin-right: 10px;}
.show-detail-wrap .info-card .avatar-group .avatar-wrap img{ width: 50px; height: 50px;}
.show-detail-wrap .info-card .avatar-group .avatar-wrap+div{ padding-top: 3px; font-size: 14px;}
.show-detail-wrap .info-card .avatar-group .name,.show-detail-wrap .info-card .avatar-group .date{ color: #767676; line-height: 24px;}
.show-detail-wrap .info-card .user-info .right .action{ display: flex; align-items: center; margin-top: 16px; height: 22px; line-height: 22px; }
.show-detail-wrap .info-card .user-info .right .action>a{ display: flex;}
.show-detail-wrap .info-card .user-info .right .action>a:first-child{ margin-right: 10px;}
.show-detail-wrap .info-card .user-info .right .action>a span{ margin-left: 5px; font-size: 14px;color: #767676;}
.show-detail-wrap .info-card .user-info .right .action>a:first-child.active i{ color: #E62117;}
.show-detail-wrap .info-card .user-info .right .action>a:first-child.active i:before{ content:"\e635";}
.show-detail-wrap .show-article{ margin-bottom: 5px;}
.show-detail-wrap .show-article p{ line-height: 20px; color: #767676; font-size: 14px;}
.show-detail-wrap .show-article .action{ display: none; text-align: right;}
.show-detail-wrap .show-article.more .action{ display: block;}
.show-detail-wrap .show-article a{ font-size: 12px; color: #0075F0;}
.like-QR{ display: flex; justify-content: space-between;}
.like-QR .right{ display: flex; align-items: center;}
.like-QR .like-avatar-group { display: flex; margin-right: 15px;}
.like-QR .like-avatar-group .avatar-wrap{ width: 38px; height: 38px;  border-radius: 50%; 
 position: relative; margin-left: -15px;}
.like-QR .like-avatar-group .avatar-wrap:after{ position: absolute; top: 15px; left: 16px; content:''; width:12px; height:12px;
 box-shadow: 6px 6px 12px #767676; z-index: 0;}
.like-QR .like-avatar-group .avatar-wrap img{border:2px #fff solid; width: 34px; height: 34px; position: relative; z-index: 1; border-radius: 50%;}
.like-QR .like-avatar-group .avatar-wrap:first-child{ margin-left:0 ; z-index: 3;}
.like-QR .like-avatar-group .avatar-wrap:nth-child(2){ z-index: 2;}
.like-QR .like-avatar-group .avatar-wrap:last-child{ z-index: 1;}
.like-QR .like-num{ color: #767676; font-size: 14px;}
.like-QR .QR{ display: flex; align-items: center;}
.like-QR .QR i{ font-size: 32px; color: #767676;}


.show-detail-wrap .item-list-wrap .item-list{ display: flex; flex-wrap: wrap;}
.show-detail-wrap .item-list-wrap .item-list li{  width: 23.5%;  margin-right: 2%; margin-top: 1%; margin-bottom: 1%;}
.show-detail-wrap .item-list-wrap .item-list li:nth-child(4n+0){ margin-right: 0;}
.show-detail-wrap .item-list-wrap .item-list li a{ display: block; padding-bottom: 100%;
 background-size: 100% auto; border:1px #ddd solid;}
.show-detail-wrap .item-list-wrap .item-list li a:active{ border-color: #aaa;}


.show-detail-wrap .item-list-wrap .item-list-2{ display: flex; flex-wrap: wrap;}
.show-detail-wrap .item-list-wrap .item-list-2 li{  width: 49%;  margin-right: 2%; margin-top: 1%; margin-bottom: 1%;}
.show-detail-wrap .item-list-wrap .item-list-2 li:nth-child(2n+0){ margin-right: 0;}
.item-list-2 .thumb{ padding-bottom: 100%; background-size: 100%; background-repeat: no-repeat; background-position: center;}
.item-list-2 .price-row{ position: relative; padding-right: 42px;}
.item-list-2 .add-cart{ position: absolute; top: 5px; right:5px; width: 28px; height: 28px; background:#aaa; border-radius: 4px; text-align: center; color: #fff;
line-height: 24px; font-size: 18px;}
.item-list-2 .pro-name{ color: #767676; font-size: 14px; line-height: 20px;}
.item-list-2 .price>span{ display: inline;}
.item-list-2 .price .new{ color: #222; font-size: 16px; font-weight: 600; margin-right: 5px;}
.item-list-2 .price .old{ color: #999; text-decoration: line-through;}


.show-detail-wrap .related-items-wrap li{ border-bottom: 1px #ddd solid; padding: 10px 0;}
.show-detail-wrap .related-items-wrap li:last-child{ border-bottom: none;}
.show-detail-wrap .related-items-wrap li a{ display: flex; align-items: stretch;}
.show-detail-wrap .related-items-wrap li .left { margin-right: 15px;}
.show-detail-wrap .related-items-wrap li .left .show-img{ min-width: 100px; width: 100px; height: 100px; background-size: 100%; border:1px #ddd solid;}
.show-detail-wrap .related-items-wrap li .right>.name{ font-size: 14px; margin-bottom: 15px;}
.show-detail-wrap .related-items-wrap li .avatar-group{ display: flex; align-items: center;}
.show-detail-wrap .related-items-wrap li .avatar-group .avatar-wrap{ width: 34px; height: 34px; border:2px #fff solid; border-radius: 50%; 
overflow: hidden; box-shadow: 1px 1px 6px #ccc; margin-right: 10px;}
.show-detail-wrap .related-items-wrap li .avatar-group .avatar-wrap img{ width: 30px; height: 30px;}
.show-detail-wrap .related-items-wrap li .avatar-group .name{ width: 100px; flex-grow: 1; font-size: 14px; color: #767676; }

.show-detail-wrap .tags-card.card .title{ display: flex; align-items: center;}
.show-detail-wrap .tags-card.card .title h3{ width: 80%; flex-grow: 1; margin-bottom: 0; margin-right: 5px;}

.activity-list{}
.activity-list>li{ padding: 5px 15px; margin-bottom: 8px; background: #fff;}
.activity-list>li>a{ display: block; padding-bottom: 50%; background-position: center; background-size: 100%; 
background-repeat: no-repeat; position: relative; overflow: hidden;}
.activity-list>li>a>*{ position: absolute; display: none;}
.activity-list>li .activity-info{ display: flex; justify-content: space-between; align-items: center;}
.activity-list>li .activity-info .left{ min-width: 150px;}
.activity-list>li .activity-info .count-down{font-size: 12px;}
.activity-list>li .activity-info .count-down>*{ display: inline; font-size: 12px;}
.activity-list>li .activity-info .count-down>span{ margin-right:2px; color: #E62117; font-size: 12px;}
.activity-list>li .activity-info .right{ flex-grow: 1; display: flex; align-items: center; justify-content: flex-end;}
.activity-list>li .activity-info .avatar-group{ position: relative; display: flex;}
.activity-list>li .activity-info .avatar-group .avatar-wrap{ position: relative; width: 38px; height: 38px; border:2px #fff solid; border-radius: 50%;
 overflow: hidden; box-shadow: 1px 1px 6px #ddd; margin-left: -16px; z-index: 2;}
.activity-list>li .activity-info .avatar-group .avatar-wrap:first-child{ z-index: 3;}
.activity-list>li .activity-info .avatar-group .avatar-wrap:last-child{ z-index: 1;}
.activity-list>li .activity-info .avatar-group .avatar-wrap img{ width: 36px; height:36px;}
.activity-list>li .activity-info .join-num{ color: #767676; margin-right: 23px; font-size: 14px;}
.activity-list>li>a .ongoing{ position: absolute; right: -64px; top: -10px; padding: 30px 50px 4px;  
 color: #fff; display: block; background: #db6186; font-size: 14px; font-weight: 500;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
 box-shadow: 0 -2px 7px #767676;}
.activity-list>li.closing{ }
.activity-list>li.closing .mask{ display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0;
background:rgba(21,21,21,.6);}
.activity-list>li.closing .mask .avatar-wrap{ display: block; width: 38px; height: 38px; 
position: absolute; top:50%; left:50%; -webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
border:2px #fff solid; border-radius: 50%; }
.activity-list>li.closing .mask .avatar-wrap img{ display: inline-block; width: 34px; height: 34px; border-radius: 50%;}
.activity-list>li.closing .mask .avatar-wrap i{ display: block; position: absolute; top: -9px; right: -9px; 
-webkit-transform: rotate(45deg); transform: rotate(45deg);
 color: #f8de05; font-size: 20px; z-index: 1;}
.activity-list>li.closing .mask p{display: block; position: absolute; bottom: 50%; width: 100%; text-align: center; 
font-size: 14px; color: #fff; -webkit-transform: translateY(45px); transform: translateY(45px);}
.activity-list>li.closing .mask .winner{ display: block; position: absolute; top: 10px; width: 100%; text-align: center; 
font-size: 16px; font-weight: bold; color: #fff;}
.activity-list>li.closing>a .ongoing{display: none;}
.activity-list>li .activity-name{ margin-bottom: 3px; line-height: 22px; font-size: 14px;}
.activity-list>li>a .ongoing.second{ background: #75a571;}
.has-topic-show{ background:#f1f1f1; padding-bottom: 8px;}
.has-topic-show>p{ padding: 5px 15px; background: #fff; color: #E62117; font-size: 14px; border-bottom: 1px #ddd dashed;}
.has-topic-show ul{ background: #fff;}
.has-topic-show li{ position: relative; border-bottom: 1px #ddd solid; padding: 10px 15px;}
.has-topic-show li:last-child{ border-bottom: none;}
.has-topic-show li>a{ padding-left: 30px; width: 100%; display: flex; align-items: center; justify-content: space-between; line-height: 22px;}
.has-topic-show li>label{ position: absolute; width: 30px; height: 22px; line-height: 22px;}
.has-topic-show li>label input{ display: none;}
.has-topic-show li>label input+.radio-style i{ color: #767676;}
.has-topic-show li>label input:checked+.radio-style i{ color: #E62117;}
.has-topic-show li>label input:checked+.radio-style i:before{ content:"\e63c";}

.my-show-list{ padding: 10px 15px;}
.my-show-list>li{ border-bottom: 1px #ddd solid; margin-bottom: 10px;}
.my-show-list>li:last-child{ margin-bottom: 0; border-bottom: none;}
.my-show-list .user-info{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.my-show-list .user-info .left{flex-grow: 1; display: flex; align-items: center;}
.my-show-list .user-info .left .avatar-wrap{ position: relative; width: 48px; height: 48px; border:2px #fff solid; 
border-radius: 50%; background-size: 100%; background-repeat: no-repeat; background-position: center; box-shadow: 1px 2px 3px #ddd;
 margin-right: 10px;}
.my-show-list .user-info .left .avatar-wrap i{ position: absolute; top: -4px; left:-6px; color: #F8DE05; text-shadow: 1px 1px 1px #767676; 
font-size: 18px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.my-show-list .user-info .user-right>.name{ max-width: 160px; color: #222; font-size: 14px; margin-bottom: 4px;}
.my-show-list .user-info .user-right>.date{ color: #767676; font-size: 12px;}
.my-show-list .user-info .right i{ color: #E62117; font-size: 24px;}
.my-show-list .user-info .right a{ color: #E62117; font-size: 14px;}
.my-show-list .win-tips{ margin-bottom: 5px; padding: 8px; border:1px #E62117 solid; background-image: url(../image/backg2.png);}
.my-show-list .win-tips h3{ color: #767676; font-weight: normal; font-size: 14px; line-height: 26px;}
.my-show-list .win-tips p{ line-height: 20px; color: #767676; font-size: 14px;}
.my-show-list .win-tips p a{ color: #E62117; text-decoration: underline;}
.my-show-list .win-tips p span{ display: initial; text-decoration: underline; font-size: 14px;}
.my-show-list .content{ margin-bottom: 5px; line-height: 18px; width: 100%;}
.my-show-list .content p{ color: #767676;}
.my-show-list .view-images-group{ margin-bottom: 5px;}
.my-show-list .view-images-group.single li>img{ display: block; max-width: 100%;}
.my-show-list .show-title{ font-size: 14px; line-height: 22px;}
.my-show-list .show-title a{ color: #767676;}
.my-show-list .show-title i{ position: relative; top: 1px; line-height: 22px;}
.my-show-list .show-action{ text-align: right; margin-bottom: 10px;}
.my-show-list .show-action>a:first-child{ margin-right: 15px;}
.my-show-list .show-action>a>*{ display: inline; color: #767676;}
.my-show-list .show-action>a>i{ position: relative; top: 1px; margin-right: 5px;}
.my-show-list .show-action>a>span:before{ content:"("; margin-right: 2px;}
.my-show-list .show-action>a>span:after{ content:")"; margin-left: 2px;}
.my-show-list .show-action>.like.active i{ color: #E62117;}
.my-show-list .show-action>.like.active i:before{ content:"\e635"}
.my-show-list .view-images-group.multi ul{ display: flex; flex-wrap: wrap;}
.my-show-list .view-images-group.multi li{ min-width: 32.5%; width: 32.5%; padding-bottom: 32.5%; background-size: 100%; background-repeat: no-repeat;
 background-position: center; margin-right: 1.25%; margin-bottom: 4px;}
 .my-show-list .view-images-group.multi li:nth-child(3n+0){ margin-right: 0;}
.none-myshow{ margin-top: 20%; margin-bottom: 5%; padding: 0 30px;}
.none-myshow p{ margin-bottom: 30px; color: #999; font-size: 16px; text-align: center;}
.none-myshow i{ display: block; text-align: center; font-size: 72px; color: #aaa;}
.sign-post-show{ display: block; margin-top: 20%; margin-bottom: 15px; padding: 0 15px; text-align: center; font-size: 16px; color: #767676;}
.sign-post-show span{ display: inline; font-size: 16px; color: #E62117; text-decoration: underline;}
.sign-post-show i{ display: block; text-align: center; font-size: 72px; color: #aaa; margin-bottom: 30%;}

.activity-detail-wrap{}
.activity-detail-wrap span{ display: inline;}
.activity-detail-wrap .activity-header{ position: relative; background: #fff; margin-bottom: 40px; padding-bottom: 20px;}
.activity-detail-wrap .activity-header:before,.activity-detail-wrap .activity-header:after{ 
	content:"";
	position: absolute;
	z-index: -1;
	bottom:9px;
	left:0;
	width: 20%;
	height: 10px;
	border-radius: 20%;
	box-shadow: 0 10px 25px #767676;
	background-color: transparent;
	transform: rotate(353deg);
}
.activity-detail-wrap .activity-header:after{ right:0; left:auto; transform: rotate(7deg);}
.activity-detail-wrap .activity-header .banner{ margin-bottom: 5px; 
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;}
.activity-detail-wrap .activity-header .activity-info{ padding: 0 15px; margin-bottom: 15px; color: #767676;}
.activity-detail-wrap .activity-header .activity-info h2{ margin-bottom: 5px; line-height: 22px; color: #222; font-size: 16px;
 font-weight: 500;}
.activity-detail-wrap .activity-header .activity-info p{ line-height: 18px; color: #767676; font-size: 12px;}
.activity-detail-wrap .activity-header .activity-info span{ display: inline; color: #E62117; font-size: 12px;}
.activity-detail-wrap .activity-header .activity-panel{ margin-bottom: 5px; padding: 0 15px; font-size: 12px; line-height: 22px;}
.activity-detail-wrap .activity-header .activity-panel>div{ display: flex; justify-content: space-between; align-items: center;
 margin-bottom: 5px;}
.activity-detail-wrap .activity-header .activity-panel .left{ display: flex; align-items: center; height: 22px; font-size: 14px;
color: #767676;}
.activity-detail-wrap .activity-header .activity-panel i{ margin-right: 5px; color: #767676;}
.activity-detail-wrap .activity-header .activity-panel span{ font-size: 14px;}
.activity-detail-wrap .activity-header .activity-panel .time { color: #767676;}
.activity-detail-wrap .activity-header .activity-panel .time span{ margin-right: 2px; color: #E62117;}
.activity-detail-wrap .activity-header .activity-panel .right{ display: flex; align-items: center; font-size: 14px;}
.activity-detail-wrap .activity-header .activity-panel .joined-num{ color: #767676;}
.activity-detail-wrap .activity-header .activity-panel a{ display: flex; align-items: center; line-height: 22px;}
.activity-detail-wrap .activity-header .activity-panel a span{ color: #767676; text-decoration: underline;}
.activity-header  .join-show-btn{ position: absolute; bottom: -24px; left: 50%; transform: translate(-50%);
width: 40%; max-width: 160px; height: 42px; line-height: 42px; font-size: 18px; border-radius: 16px;
box-shadow: 3px 3px 0 #ddd; text-align: center; background-color: #f1f1f1; }
.activity-header  .join-show-btn.active{ background-color: #fcdc02; 
background-image: linear-gradient(176deg,rgba(255,255,255,.9),rgba(252,220,2,1) 30%); 
color: #e62117; box-shadow: 3px 3px 0 #f1a800; }
.activity-header .join-show-btn i{ margin-right: 5px; color: #aaa; font-size: 20px; line-height: 24px;}
.activity-header .join-show-btn.active i{ color: #E62117;}
.activity-header .join-show-btn span{ color: #aaa; font-weight: 500; font-size: 18px; line-height: 24px;}
.activity-header .join-show-btn.active span{ color: #E62117;}
.activity-detail-wrap .activity-ranking{ padding: 10px 15px; background: #fff;}
.activity-detail-wrap .activity-ranking>h2{ margin-bottom: 5px; line-height: 22px; color: #222; font-size: 16px; font-weight: 500;}
.activity-ranking ul>li{ position: relative; width: 100%; height: 102px; border:1px #ddd solid; padding-left: 175px;
 margin-bottom: 10px;}
.activity-ranking li>.rank{ position: absolute; top: 0; left:0; width: 75px; min-width: 75px; height: 100px;}
.activity-ranking li>.rank .ranking-num{ position: absolute; top:50%; left: 0; z-index: 1; width: 100%; text-align: center;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
font-size: 14px; font-weight: bold; color: #767676;
}
.activity-ranking li>.rank i{ position: absolute; top: 50%; left: 50%; font-size: 52px;
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
visibility: hidden;
}
.activity-ranking li.top-three i{ visibility: visible;}
.activity-ranking li.top-three>.rank .ranking-num{ color: #fff;font-size: 16px;}
.activity-ranking li.n1>.rank i{ color: #f8d305;}
.activity-ranking li.n2>.rank i{ color: #db6186;}
.activity-ranking li.n3>.rank i{ color: #75a571;}
.activity-ranking li .show-pic{ position: absolute; top: 0; left: 75px; width: 100px; min-width: 100px; padding-bottom: 100px;
background-position:center;}
.activity-ranking li .user-info{ display: flex; flex-direction: column; justify-content: center; padding: 5px 10px; height: 100px;}
.activity-ranking li .user-info .avatar-group{ position: relative; width: 100%; margin-bottom: 20px; padding-left: 40px; height: 32px;}
.activity-ranking li .user-info .avatar-wrap{ position: absolute; left:0; top: 0; width: 34px; height: 34px; border:2px #fff solid; border-radius: 50%;
box-shadow: 1px 1px 6px #ccc; background-size:auto 100%; background-position: center; background-repeat: no-repeat;}
.activity-ranking li .user-info .name{ color: #767676; font-size: 14px; width: 100%; line-height: 34px;}
.activity-ranking li .user-info .like,.activity-ranking .me .like{ display: flex; justify-content: space-between; align-items: center;}
.activity-ranking li .user-info .like .num,.activity-ranking .me .like .num{ color: #767676; font-size: 14px;;}
.activity-ranking .click-like i{ color: #767676;}
.activity-ranking .click-like.active i{ color: #E62117;}
.activity-ranking .click-like.active i:before{ content:"\e635";}

.activity-detail-wrap .winner-show{ padding: 10px 15px; background: #fff; margin-bottom: 10px;}
.winner-show>h2{ margin-bottom: 8px; line-height: 22px; color: #222; font-size: 16px; font-weight: 500;}
.winner-show .winner-info .avatar-group{ position: relative; padding-left: 62px; margin-bottom: 10px;}
.winner-show .winner-info .avatar-wrap{ position: absolute; top: 0; left: 0; border:2px #fff solid; width: 52px; height: 52px; border-radius: 50%;
 background-size:100%; background-position: center; box-shadow: 1px 3px 6px #ccc;}
.winner-show .winner-info .avatar-wrap>i{ position: absolute; left: 34px; top: -9px; color: #f8de05; font-size: 24px; transform: rotate(45deg);}
.winner-show .winner-info .name{ height: 52px; line-height: 52px;}
.winner-show .winner-info .avatar-group+p{ margin-bottom: 5px; color: #767676; line-height: 22px; font-size: 14px;}
.winner-show .winner-tips li p{ margin-bottom: 10px; color: #767676; font-size: 14px;}
.winner-show .winner-tips li p>i{ margin-left: 10px; font-size: 14px; color: #009688; font-weight: bold;}
.winner-show .winner-tips li p+a{ display: block; margin: 0 auto 10px; width: 70%; border:1px #E62117 solid; text-align: center; height: 32px; line-height: 32px;}
.winner-show .winner-tips li p>a{ color: #E62117;}
.activity-ranking .me{ position: relative; border:1px #ddd solid; padding: 10px 10px 10px 162px; height: 152px; margin-bottom: 15px;}
.activity-ranking .me .left{position: absolute; top: 0; left: 0; }
.activity-ranking .me .img-wrap{ width: 152px; height: 150px; background-size: 100%; background-position: center; 
background-repeat: no-repeat;}
.activity-ranking .me .img-wrap .num{ position: absolute; background-color: rgba(21,21,21,.7); padding: 0 10px; height: 22px; line-height: 22px;
 color: #fff;}
.activity-ranking .me .avatar-group{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px;}
.activity-ranking .me .avatar-wrap{ margin-right: 8px; width: 38px; height: 38px; border:2px #fff solid; box-shadow: 1px 1px 6px #ccc; border-radius: 50%; background-size: 100%;}
.activity-ranking .me .name{ line-height: 38px; color: #767676;}
.activity-ranking .me .like-num{ flex-grow: 1; text-align: right; font-size: 12px; color: #767676;}
.activity-ranking .me .action{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;}
.activity-ranking .me .action a>i{ color: #767676; font-size: 18px;}
.activity-ranking .me .action a:first-child>i{ font-size: 24px;}
.activity-ranking .me .right>a{ font-size: 14px; color: #767676; line-height: 18px;}
.activity-ranking ul>li.no-ranking{ padding-left: 100px;}
.activity-ranking li.no-ranking>.rank{ display: none;}
.activity-ranking li.no-ranking .show-pic{ left: 0;}
.activity-ranking .me.share .avatar-group{ display: block; position: relative; padding-left: 48px;}
.activity-ranking .me.share .avatar-wrap{ position: absolute; top:0; left:0;}
.activity-ranking .me.share .right{ height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.user-info.ranking-top .avatar-wrap{background-repeat: no-repeat;background-size: auto 100%!important;background-position: center;}
.winner-show .winner-info.other-view .avatar-group{ display: flex; flex-direction: column; align-items: center; padding-left: 0;}
.winner-show .winner-info.other-view .avatar-wrap{ position: inherit; margin-bottom: 5px; width: 56px; height: 56px;}
.winner-show .winner-info.other-view .name{ height: 26px; line-height: 26px;}
.text-danger{color: #ff353d;}
.comment-wrap .no-commments{ margin-top: 5px; text-align: center; display: flex; justify-content: center; align-items: center;}
.comment-wrap .no-commments>*{}
.comment-wrap .no-commments>i{ margin-right: 6px; font-size: 32px; color: #ddd; line-height: 42px;}
.comment-wrap .no-commments>span{ font-size: 14px; color: #767676; line-height: 42px;}
