.mall-pro-list .pro-info h4 {
  color: #616161 !important; }

.pulldownload .loader {
  border-top-color: #222222;
  border-right-color: #222222;
  border-left-color: #222222; }

.pay-wait-mask .loader {
  border-bottom-color: #222222;
  border-left-color: #222222;
  border-top-color: #222222; }

.sa-icon.sa-error {
  border-color: #f5511e; }

header#header {
  height: 6.5rem; }

.header-container {
  height: 3.5rem;
  background: #ffcd2c;
  position: relative; }

.mall-category, .show-category, .explore-category, .home-category, .deal-category {
  height: 3rem;
  top: 3.5rem;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 1px 1px 6px #dadada;
  -webkit-box-shadow: 1px 1px 6px #dadada;
  -moz-box-shadow: 1px 1px 6px #dadada; }

.account-category {
  height: 2.5rem;
  box-shadow: 1px 1px 6px #dadada;
  -webkit-box-shadow: 1px 1px 6px #dadada;
  -moz-box-shadow: 1px 1px 6px #dadada; }

.header .right-btns span, .header-scan, .header .right-btns .iconfont, .header .right-btns .ourmallfont {
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5625rem; }

.header .header-input {
  height: 40px; }

.header .header-input input {
  height: 40px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0.5rem 0;
  background: #ffd44b;
  padding-left: 24px; }

input::-webkit-input-placeholder {
  color: #9e9e9e; }

input:-moz-placeholder {
  color: #9e9e9e; }

input::-moz-placeholder {
  color: #9e9e9e; }

input:-ms-input-placeholder {
  color: #9e9e9e; }

input:-ms-input-placeholder {
  color: #9e9e9e; }

input::-webkit-input-placeholder {
  color: #9e9e9e; }

.header .header-input span {
  height: 40px;
  line-height: 40px;
  top: 0.5rem;
  color: #616161; }

.mall-category ul, .show-category ul, .explore-category ul, .home-category ul, .deal-category ul {
  height: 3rem;
  line-height: 3rem; }

.explore-category ul li.active, .mall-category ul li.active, .show-category ul li.active, .home-category ul li.active, .deal-category ul li.active {
  border-bottom-color: #222222;
  border-bottom: 2px solid #222222; }

.home-category ul li.text-r.active {
  border-bottom-color: #222222; }

.home-category ul li.text-r a {
  color: #afaeae !important; }

.home-category ul li.text-r.active a {
  color: #222222 !important; }

.explore-category ul li.active a, .mall-category ul li.active a, .show-category ul li.active a, .home-category ul li.active a, .deal-category ul li.active a {
  color: #222222;
  border-bottom: none; }

.explore-category ul li a, .mall-category ul li a, .show-category ul li a, .home-category ul li a, .deal-category ul li a {
  color: #afaeae; }

.nui-icon-btn.active .nui-icon-btn-title, .nui-icon-btn.active i {
  color: #222222; }

.nui-before-line:before {
  display: none; }

.nui-fix-button-group {
  height: 56px;
  border-top: 1px solid #ffcd2c;
  box-sizing: border-box; }

.nui-icon-btn {
  padding: 0.4375rem 0.9375rem; }

.nui-fix-button-group .nui-icon-btn .nav-container .nui-icon-btn-title {
  display: block;
  font-size: 14px;
  margin-top: 3px; }

.nui-fix-button-group .nui-icon-btn {
  padding: 0; }

.nui-fix-button-group .nav-container {
  margin: 0 auto;
  padding: 6px 0; }

.nui-icon-btn i {
  width: 1.375rem;
  height: 1.375rem;
  font-size: 1.375rem;
  line-height: 1.375rem;
  margin: 0 auto;
  color: #b3b3b3; }

.nui-icon-btn .nui-icon-btn-title, .nui-icon-btn i {
  color: #b3b3b3; }

.nui-headers .nui-header-item, .nui-headers .nui-header-item-inner {
  height: 56px;
  background: #ffcd2c; }

.nui-headers .nui-header-item-inner .nui-header-input {
  height: 56px; }

.nui-headers .nui-header-item-inner .nui-header-input input {
  border: none;
  height: 40px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #ffd44b; }

input {
  background-color: transparent;
  FILTER: alpha(opacity=0);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.nui-header-item span.nui-header-right-icon, .nui-header-item span.nui-header-left-icon, .nui-header-item span.nui-header-right-icon + .icon0-filter {
  top: 11px;
  font-size: 1.5625rem; }

.nui-header-item span.nui-header-right-icon:before, .nui-header-item span.nui-header-left-icon:before, .nui-header-item span.nui-header-right-icon + .icon0-filter:before {
  color: #ffffff;
  font-size: 1.5625rem; }

.clearHistory {
  text-decoration: none;
  color: #222222; }

.history-container li, .hot-sch > ul > li a {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #616161;
  border-radius: 16px;
  padding: 0 16px; }

#nui-headers.account-guest {
  background: #ffcd2c; }

#login-nav > ul li.active span {
  color: #222222; }

#login-nav > ul li.nui-after-line.active:after {
  background: #222222;
  height: 4px; }

#login-nav > ul li, #login-nav > ul li span {
  background: #ffffff;
  height: 3rem;
  line-height: 3rem; }

ul li a.mui-navigate-right, ul li a.mui-navigate-right > * {
  color: #9e9e9e; }

.order-card .card-detail a, .order-card .card-detail a > * {
  color: #222222; }

ul li a.mui-navigate-right .left i {
  color: #9e9e9e; }

.order-card .card-detail a i, ul li a.mui-navigate-right i, .mui-table-view .left i {
  margin-right: 15px;
  font-size: 18px; }

ul li a.mui-navigate-right > i {
  margin-right: 0; }

.account-bg {
  background: #ffcd2c;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 0; }

.account-info ul {
  margin-top: 0; }

.account-info ul.mui-table-view li.m-b-10 {
  box-shadow: 0 4px 4px #e6e6e6; }

.account-info ul.mui-table-view li.m-b-10 a.mui-navigate-right i.icon-jiantou {
  margin: 0;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.account-info ul.mui-table-view > li {
  border-bottom: 1px solid #f5f5f5; }

.account-bg .info-top, .account-bg .bonus-detail {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0; }

.account-bg .bonus-detail {
  margin-bottom: 0; }

.account-bg .bonus-detail a {
  flex-grow: 1;
  text-align: center;
  padding: 0;
  color: #fff;
  max-width: 40%;
  overflow: hidden; }

.account-bg .bonus-detail > span {
  flex-grow: 1;
  text-align: center;
  max-width: 60%;
  overflow: hidden; }

.account-bg a.avatar-wrap, .account-bg .bonus-detail, .account-bg .title {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0); }

.account-bg a.avatar-wrap, .account-bg a.avatar-wrap img {
  width: 70px;
  height: 70px; }

.account-bg a.avatar-wrap {
  margin: 0 20px 0 0; }

.account-bg .title .c-name {
  font-size: 16px;
  color: #424242;
  font-weight: normal;
  margin-bottom: 10px; }

.account-bg .title p {
  font-size: 14px;
  color: #fff; }

.account-bg .bonus-detail:after {
  display: none; }

.account-bg .bonus-detail a p, .account-bg .bonus-detail span {
  font-size: 14px;
  color: #616161; }

.account-bg .bonus-detail a p.bonus-num, .account-bg .bonus-detail a p.balance-num {
  font-size: 14px; }

.order-card {
  display: block; }

.order-card .card-detail a {
  text-align: left; }

.order-card .card-detail a > * {
  display: inline;
  vertical-align: middle; }

.order-card .card-detail {
  width: 100%; }

.order-card .card-detail .mui-badge-warning {
  position: relative;
  left: 0;
  top: 0;
  border-color: #222222;
  color: #222222; }

a.log-out {
  color: #222222;
  border: 1px solid #222222; }

.free-tips a .tips-l i {
  color: #222222; }

.free-text .free-fee {
  color: #222222; }

.confirm-headers .nui-header-item {
  height: 56px;
  line-height: 56px;
  background: #ffcd2c; }

.confirm-headers span.nui-header-left-icon {
  top: 11px;
  color: #ffffff; }

.confirm-headers .nui-header-item > .title {
  line-height: 56px;
  color: #424242;
  font-size: 14px; }

.card-list#address {
  margin: 0;
  padding-top: 16px; }

.card-list#address:before {
  display: none; }

#proLIst .card-list > li.title h2, .card-list#payments > li.title h2 {
  height: 52px;
  line-height: 52px; }

#proLIst .card-list, .card-list#payments, .card-list#bottomTotalPrice {
  margin: 3px 0; }

#proLIst .card-list > li.pro-detail {
  padding: 15px;
  border-bottom: 1px solid #f5f5f5; }

.card-list#payments > li.pay .pay-s-group {
  line-height: 52px; }

.card-list > li {
  border-bottom: 1px solid #f5f5f5; }

.card-list > li.title.shipping-title {
  border-bottom: none; }

div.add-address {
  color: #222222; }

li.shipping div.economy {
  color: #616161; }

.card-list > li.order-add > a {
  height: auto;
  position: relative; }

.card-list > li > a {
  display: block; }

.card-list > li.order-add .left {
  flex-grow: inherit;
  width: 100%;
  max-width: 100%; }

.card-list > li.order-add .info {
  height: auto;
  display: block; }

.card-list > li.order-add .right span, .card-list > li.order-add .right .iconfont {
  font-size: 14px;
  vertical-align: middle;
  display: inline;
  color: #222222; }

#address > li .right {
  position: absolute;
  top: 0;
  right: 15px;
  line-height: 24px;
  height: 24px; }

#address > li.order-add .right {
  right: 0; }

.card-list > li.order-add .info .name {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
  font-weight: normal; }

.card-list > li.order-add .add-text {
  color: #616161;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  height: auto;
  max-height: 48px; }

.order-confirm-sub .card-list > li.title h2 i {
  display: none; }

.card-list > li.pro-detail .data span.price {
  color: #222222; }

.card-list > li.title.shipping-title .right span {
  color: #222222; }

.card-list > li.shipping .left .time span, .card-list > li.shipping .left .fee span {
  color: #222222;
  margin-left: 5px;
  font-size: 14px; }

.card-list > li.shipping .left .time i, .card-list > li.shipping .left .fee i {
  color: #222222;
  margin-right: 5px; }

.total-info span {
  color: #222222; }

.order-confirm-sub .p-bottom-bar {
  background: #ffffff;
  border: none; }

.order-confirm-sub .p-bottom-bar > a {
  background: #222222;
  border-color: #222222;
  height: 56px;
  line-height: 56px;
  font-size: 12px;
  font-weight: normal; }

.order-confirm-sub .p-bottom-bar .total-info, .order-confirm-sub .p-bottom-bar .total-info > * {
  font-size: 14px; }

.card-list > li.title h2 span {
  color: #9e9e9e;
  font-size: 14px; }

.card-list > li.shipping-title h2 span {
  color: #616161;
  font-weight: bold; }

.card-list > li.pro-detail .info h3 {
  color: #616161; }

.card-list > li.pro-detail .info .size {
  color: #9e9e9e; }

.card-list > li.pro-detail .data span.num {
  color: #9e9e9e; }

.chooseshipping .text-primary {
  color: #222222; }

.card-list > li.shipping .shipping-wrap {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-content: center;
  line-height: 52px; }

.card-list > li.shipping .left .time, .card-list > li.shipping .left .fee {
  display: flex;
  display: -webkit-flex;
  color: #616161; }

.card-list > li.shipping .left .fee {
  margin-right: 20px; }

.order-confirm-sub .pay-s-group input[type=radio]:checked + .input-radio {
  border-color: #ffcd2c;
  background: #ffcd2c; }

.order-confirm-sub .pay-s-group input[type=radio]:checked + .input-radio:before {
  background-color: #ffcd2c; }

.order-confirm-sub .pay-s-group label img {
  max-height: 18px;
  margin-right: 0; }

.order-confirm-sub .p-bottom-bar > a[disabled=disabled] {
  background: #f1f1f1; }

.order-confirm-sub .order-card .card-detail .mui-badge-warning {
  color: #222222;
  border-color: #222222; }

.card-list > li.pro-detail .data a.edit-quatity {
  color: #222222; }

body.my-orders .top-tabs > li > a.active {
  background-color: #222222;
  color: #ffffff; }

body.my-orders-group .order-list .pay-action > a {
  background: #222222;
  color: #ffffff;
  border-radius: 0; }

.order-list .pro-info .num-amount .amount, .pay-info .pay-type, .pay-info .pay-amount span {
  color: #222222; }

.nui-headers .nui-header-item > .title {
  line-height: 56px;
  height: 56px;
  color: #424242;
  font-size: 14px;
  font-weight: normal; }

.p-bottom-bar, .p-bottom-bar a {
  height: 56px;
  line-height: 56px;
  background: #222222; }

.card-list li.address-detail[data-default="true"] .info .add-d > span {
  color: #ffcd2c; }

.form-group input:checked + .checkbox-style {
  background-color: #ffcd2c;
  border-color: #ffcd2c; }

.alert-msg span {
  color: #ffcd2c; }

.feed-btn .feed-more, .nodata .feed-more {
  border-color: #222222; }

body.order-detail-sub .p-bottom-bar {
  border: none; }

body.order-detail-sub .button-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #222222; }

body.order-detail-sub .button-red {
  background: #222222; }

body.order-detail-sub .order-detail-list .text-primary {
  color: #222222 !important; }

.upload-rate-send {
  border: none;
  color: #222222;
  background: none; }

.upload-rate-send[disabled=disabled] {
  background: none;
  border: none; }

.nui-headers h4 {
  line-height: 56px;
  color: #424242;
  font-size: 14px;
  font-weight: normal; }

body.sidefilter .filter-header h1 {
  height: 48px;
  line-height: 48px; }

body.sidefilter .bottom-action > a {
  height: 56px;
  line-height: 56px;
  color: #222222;
  font-size: 14px; }

body.sidefilter .bottom-action > a > * {
  color: #222222;
  vertical-align: middle; }

body.sidefilter .bottom-action > a > i {
  font-size: 24px;
  margin-right: 10px; }

body.sidefilter .bottom-action > a:first-child {
  background: #ffffff;
  border: none;
  border-top: 1px solid #ddd; }

body.sidefilter .bottom-action > a:last-child {
  background: #222222;
  border-color: #222222;
  color: #ffffff; }

body.sidefilter .bottom-action > a:last-child > * {
  color: #ffffff; }

body.sidefilter .mall-c-list li > a > .left {
  color: #616161; }

body.sidefilter .mall-c-list li > a > .right span, body.sidefilter .mall-c-list li > a > .right i {
  color: #9e9e9e; }

body.sidefilter .mall-c-list li > a {
  height: 48px;
  line-height: 48px; }

body.sidefilter .radio-group [type=radio]:checked + i {
  color: #ffcd2c; }

body.sidefilter .radio-group [type=radio]:checked + i:before {
  content: "\e63c";
  background: #ffcd2c;
  border-radius: 50%; }

body.sidefilter .radio-group i {
  color: #e0e0e0; }

body.sidefilter .icon0-nocheck:before {
  background: #e0e0e0;
  border-radius: 50%; }

body.sidefilter .mall-c-list li {
  margin-bottom: 10px; }

body.sidefilter-sub .show-c-list dt {
  height: 48px;
  line-height: 48px; }

body.sidefilter-sub .radio-group [type=radio]:checked + i {
  color: #ffcd2c; }

body.sidefilter-sub .radio-group [type=radio]:checked + i:before {
  content: "\e615"; }

body.sidefilter-sub .icon0-nocheck:before {
  content: " "; }

body.sidefilter-sub .radio-group label {
  height: 48px;
  line-height: 48px; }

body.sidefilter-sub .show-c-list dd {
  border-bottom: none; }

.filter-header, .filter-header h1, .search-side-wrap h3, .search-side-wrap .category-list li, .search-side-wrap .category-list li a, .search-side-wrap .category-list ul li.active a {
  height: 48px;
  line-height: 48px; }

body.side-search-filter .category-list ul li.active {
  border-color: #222222; }

body.side-search-filter .bottom-action > a {
  height: 56px;
  line-height: 56px;
  color: #222222;
  font-size: 14px; }

body.side-search-filter .bottom-action > a > * {
  color: #222222;
  vertical-align: middle; }

body.side-search-filter .bottom-action > a > i {
  font-size: 24px;
  margin-right: 10px; }

body.side-search-filter .bottom-action > a:first-child {
  background: #ffffff;
  border: none;
  border-top: 1px solid #ddd; }

body.side-search-filter .bottom-action > a:last-child {
  background: #222222;
  border-color: #222222;
  color: #ffffff; }

body.side-search-filter .bottom-action > a:last-child > * {
  color: #ffffff; }

body.side-search-filter .radio-group [type=radio]:checked + i {
  color: #ffcd2c; }

body.side-search-filter .radio-group [type=radio]:checked + i:before {
  content: "\e63c";
  background: #ffcd2c;
  border-radius: 50%; }

body.side-search-filter .radio-group i {
  color: #e0e0e0; }

body.side-search-filter .icon0-nocheck:before {
  background: #e0e0e0;
  border-radius: 50%; }

body.side-search-filter .sort-wrap {
  padding: 5px 15px; }

body.side-search-filter #wrap {
  padding-bottom: 56px; }

.cart-page #nui-headers h2, .cart-page #nui-headers h2 span, .cart-page #nui-headers h2 ourmall {
  color: #424242;
  font-weight: normal;
  font-size: 14px; }

.cart-page #nui-headers {
  background: #ffcd2c;
  padding: 0; }

.cart-page .header-btn {
  color: #222222; }

.cart-page #nui-headers.nui-headers .nui-header-item, .cart-page #nui-headers.nui-headers .nui-header-item h2 {
  height: 56px;
  line-height: 56px;
  background: #ffcd2c; }

.cart-page .cart-action .total {
  height: 56px;
  line-height: 56px;
  background: #ffffff; }

.cart-action .total span {
  font-size: 14px;
  color: #333; }

.cart-page .cart-action > a {
  background: #222222;
  line-height: 56px;
  font-size: 12px;
  font-weight: normal; }

.cart-page .cart-action > a[disabled=disabled] {
  background-color: #bdbdbd; }

.cart-page .cart-action .total span.price span, .cart-action .total span.price span.num {
  color: #222222; }

.cart-list dt .check-all .shop-title .shop-name {
  font-size: 14px;
  color: #9e9e9e !important; }

.cart-list dd .info h3 {
  color: #616161; }

.cart-list input[type=checkbox] + .icon0-nocheck, .cart-list input[type=checkbox] + .ourmallfont {
  color: #e0e0e0; }

.cart-list input[type=checkbox] + .icon0-nocheck:before, .cart-list input[type=checkbox] + .ourmallfont:before {
  background: #e0e0e0;
  border-radius: 50%; }

.cart-list input[type=checkbox]:checked + .icon0-nocheck {
  color: #ffcd2c; }

.cart-list input[type=checkbox]:checked + .icon0-nocheck:before, .cart-list input[type=checkbox]:checked + .ourmallfont:before {
  background: #ffcd2c;
  color: #ffcd2c;
  border-radius: 50%; }

.cart-list .nui-number-box {
  border: none;
  line-height: 24px;
  width: 100px; }

.nui-number-box .nui-number-box-input {
  padding: 0 1.875rem; }

.cart-list .nui-number-box .nui-number-box-input input {
  border: 1px solid #e0e0e0;
  background: #fafafa;
  color: #333;
  border-radius: 3px; }

.nui-number-box > button:first-child, .nui-number-box > button:last-child {
  border: #e0e0e0 1px solid;
  width: 24px;
  border-radius: 50%;
  line-height: 24px;
  vertical-align: middle; }

.nui-number-box > button:first-child {
  line-height: 20px; }

.nui-number-box > button:last-child i {
  display: block;
  line-height: 22px;
  color: #333; }

.cart-list dl {
  border-bottom: none; }

.cart-wrap .prolist .like-pro-list-title {
  color: #333;
  font-weight: normal;
  text-align: center;
  height: 52px;
  line-height: 52px;
  border: none;
  margin-top: 3px;
  font-size: 16px; }

#relateProducts li .info-bottom {
  background: transparent; }

#relateProducts li .info-bottom span {
  position: absolute;
  bottom: 5px;
  right: 7px;
  border-radius: 4px;
  background: rgba(45, 55, 57, 0.6);
  color: #fff;
  font-size: 12px;
  padding: 0 5px; }

.cart-wrap .prolist ul {
  background: #eee; }

.cart-wrap .prolist li {
  width: 49%;
  flex-grow: 1;
  margin: .5%;
  background: #fff;
  padding: 0;
  box-sizing: border-box; }

.cart-wrap .prolist li a {
  border: none; }

.cart-list dd .info .price {
  color: #333;
  font-weight: bold; }

.cart-list dd .side-btn {
  background: #222222;
  color: #ffffff; }

.cart-list dd .attr-info .edit i {
  color: #333333; }

.cart-list dd .attr-info .attr {
  color: #9e9e9e; }

.cart-list dd .attr-info .attr span {
  color: #SC-1; }

body.pro-detail-platform .bottom-button-group > [data-type="cart"].active:before {
  background: #ffcd2c; }

body.pro-detail-platform .bottom-button-group > [data-type="like"].active i {
  color: #ffcd2c; }

body.pro-detail-platform .bottom-button-group > [data-type="like"].active i:before {
  content: "\e616"; }

.buttons {
  height: 56px; }

.buttons.single-attr .bottom-button-group {
  background: #ffffff;
  border-color: #ddd;
  min-width: 50%; }

.buttons .bottom-button-group > a {
  line-height: 56px; }

.bottom-button-group > a i {
  color: #b3b3b3;
  font-size: 22px; }

.buttons.single-attr button {
  height: 56px;
  line-height: 56px; }

.buttons.single-attr button.red {
  height: 56px;
  line-height: 56px;
  background: #222222;
  border-color: #222222;
  font-size: 14px; }

.star-group .star-bg {
  background: #222222; }

.specific > .title {
  line-height: 48px;
  position: relative;
  color: #767676 !important; }

.review {
  margin: 0; }

.specific a.specifics-more, .specific a.specifics-more i {
  text-decoration: none;
  color: #9e9e9e; }

.specific .content {
  max-height: 0;
  overflow: hidden;
  display: none; }

.specific.more .content {
  display: block; }

.specific a.specifics-more {
  display: block;
  font-size: 14px;
  position: absolute;
  right: 0;
  width: auto;
  background: none;
  height: 48px;
  line-height: 48px; }

.specific.more a.specifics-more {
  display: block;
  width: auto;
  background: none;
  height: 48px;
  line-height: 48px; }

.specific .more:before, .specific.more .more:before {
  content: ""; }

.shipping-wrap .payment .title h3, .shipping-wrap .payment .title h3 > *, .item-shipping-content > span, .shipping .nui-list-view .nui-list-item.nui-list-licon p.nui-list-title, .shipping .shipping-items > * {
  font-size: 14px !important;
  color: #767676 !important;
  font-weight: 300 !important; }

.shipping .nui-list-view .nui-list-item.nui-list-licon p.nui-list-title, .shipping-wrap .payment .title h3 > * {
  color: #767676 !important;
  font-weight: 300 !important; }

.shipping .shipping-items > *, .item-shipping-content > span {
  font-weight: normal !important; }

.nui-headers.pro-detail-header .nui-header-item {
  background: none; }

.nui-headers.pro-detail-header .nui-header-item span.nui-header-left-icon {
  background: rgba(224, 224, 224, 0.5);
  border-radius: 50%;
  line-height: 38px; }

.nui-headers.pro-detail-header .nui-header-item span.nui-header-left-icon:before {
  color: #333;
  margin-left: -5px; }

.item-shipping div > span i {
  color: #222222;
  margin-right: 5px; }

.item-shipping div > span span {
  color: #222222; }

.guarantee-inner .guarantee-title, .guarantee-inner .guarantee-title > * {
  color: #222222; }

.guarantee-inner .guarantee-title i {
  color: #222222; }

.guarantee-inner {
  border: none;
  background-image: none; }

.price-row p {
  width: 100%;
  float: none;
  color: #333;
  text-align: center; }

.price-row p.stars {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px 0 5px; }

.price-row p.stars span.val {
  margin-top: 2px;
  font-size: 16px;
  color: #9e9e9e; }

.price-row p span.new {
  color: #333;
  font-weight: bold;
  float: none; }

.review.review-shop h3 .shop-info {
  padding-left: 0;
  max-width: 60%; }

.review.review-shop h3 .shop-info span {
  margin: 0; }

.review .title a {
  max-width: 40%;
  height: 48px;
  line-height: 48px;
  padding-right: 25px; }

.review .title a > * {
  color: #767676;
  display: block;
  height: 48px; }

.review .title a i {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -24px; }

.pagination-container li.active {
  background: #222222; }

.prolist ul.like-pro-list {
  padding: 0;
  overflow: hidden; }

.prolist .like-pro-list-title {
  color: #333;
  font-weight: normal;
  text-align: center;
  height: 56px;
  line-height: 56px;
  border: none;
  margin-top: 0px;
  font-size: 16px; }

.shipping-wrap .content {
  display: none;
  overflow: hidden;
  border-bottom: 10px solid #f0f0f0;
  padding: 0 .625rem; }

.shipping-wrap.more .content {
  display: block; }

.shipping-wrap .title span.right {
  font-size: 14px;
  position: absolute;
  right: 5px;
  width: auto;
  background: none;
  height: auto;
  line-height: none;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.shipping-wrap.more .title span.right {
  width: auto;
  background: none;
  height: auto;
  line-height: none;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg); }

.shipping-wrap.more .title span.right i {
  color: #616161; }

#relateProducts li .pro-thumb .pro-price {
  position: absolute;
  bottom: 5px;
  right: 7px;
  border-radius: 4px;
  background: rgba(45, 55, 57, 0.6);
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  width: auto;
  left: auto; }

.prolist ul {
  background: #eee; }

.prolist li {
  width: 49%;
  flex-grow: 1;
  margin: .5%;
  background: #fff;
  padding: 0;
  box-sizing: border-box; }

.prolist .like-pro-list li div.pro-thumb {
  border: none; }

.item-overview .title > h3, .item-overview .overview-content h4, .shipping-wrap .title h3 {
  height: 38px;
  line-height: 38px;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ddd;
  position: relative; }

.shipping-wrap .title h3 {
  height: 48px;
  line-height: 48px;
  font-weight: 400 !important;
  padding: 0 .625rem;
  color: #767676; }

.item-overview .title, .shipping-wrap .title {
  position: relative; }

.shipping-wrap .title {
  padding: 0; }

.item-overview div.title > span, .shipping-wrap div.title > span {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px; }

.item-overview .title > span i, .shipping-wrap .title > span i {
  color: #9e9e9e; }

.item-overview .overview-content h4 {
  border-bottom: none; }

.item-overview .overview-content p {
  color: #616161;
  line-height: 20px; }

.review.review-shop .title h3 {
  border-bottom: none; }

#wrap.pro-detail-wrap {
  background: #fff;
  border-bottom: 3px solid #f1f1f1; }

.item-shipping:first-child {
  padding: 0; }

.item-shipping .right {
  text-align: left; }

.pro-detail-wrap > div.review-shop, .pro-detail-wrap > div.info, .pro-detail-wrap > div.info-share {
  padding: 0 0 0.625rem 0;
  margin: 0 0.625rem;
  background: #FFFFFF;
  border-bottom: 1px solid #ddd; }

.pro-detail-wrap > div.review-shop {
  border-bottom: 10px solid #f0f0f0; }

.pro-detail-wrap > div.review-shop {
  margin: 0;
  padding: 0 .625rem !important; }

.pro-detail-wrap > div.info {
  margin: 0 10px 0;
  padding: 0 .625rem 0.625rem .625rem 0;
  border-bottom: 2px solid #f0f0f0; }

.info-share .icon-group {
  top: 35px; }

.shipping-wrap .nui-list-view .nui-list-item.nui-list-licon, .shipping-wrap .shipping, .shipping-wrap .payment .title h3 {
  border-bottom: none; }

.shipping-wrap .payment .title, .pro-detail-wrap .review-shop .title {
  padding: 0; }

.pro-detail-wrap .review-shop {
  margin: 0 0.625rem;
  padding: 0.625rem 0;
  border-bottom: 1px solid #ddd; }

#wrap.pro-detail-wrap .info .pro-title {
  max-height: 3rem;
  line-height: 1.5rem; }

.pro-detail-wrap .specific {
  border-bottom: none;
  margin: 0;
  padding: 0; }

.rating-box {
  background-color: #222222; }

.rating-box .action a.confirm, .rating-box .fb-action a.confirm {
  background-color: #ffffff;
  color: #fff; }

body.pro-detail-review .nui-headers .nui-header-item {
  background: #ffcd2c !important; }

body.pro-detail-review .nui-headers .nui-header-item h2.title > * {
  color: #424242 !important;
  line-height: 56px;
  font-size: 14px;
  font-weight: normal; }

body.pro-detail-review #nui-headers .review-pic {
  color: #ffffff !important; }

.spec-row li.spec-item {
  color: #666666; }

.spec-row li.spec-item.active {
  background: #ffcd2c;
  color: #222222;
  border: none; }

.spec-row li.spec-item.img.active {
  border: #ffcd2c 1px solid;
  background: transparent; }

.pay-mask-page .buttons button {
  height: 56px;
  line-height: 56px;
  background: #ffffff;
  border-top: 1px solid #ddd;
  color: #222222;
  font-size: 14px; }

.pay-mask-page #buyNonw {
  background: #222222; }

.pay-mask-page #btnKillBuy {
  background: #222222; }

.pay-mask-page .buttons.nui-fix.single-attr #buyNonw {
  background: #222222; }

.pay-mask-page .nui-number-box {
  border: none;
  position: relative; }

.pay-mask-page .nui-number-box .nui-number-box-input {
  padding: 0 2.25rem; }

.pay-mask-page .nui-number-box .nui-number-box-input input {
  border: 1px solid #e0e0e0;
  background: #fafafa;
  color: #333;
  border-radius: 3px; }

.pay-mask-page .nui-number-box > button:first-child, .pay-mask-page .nui-number-box > button:last-child {
  border: #e0e0e0 1px solid;
  width: 30px;
  border-radius: 50%;
  line-height: 28px;
  vertical-align: middle;
  height: 30px;
  color: #333; }

.pay-mask-page .nui-number-box > button:first-child {
  line-height: 24px; }

.pay-mask-page .spec {
  padding-bottom: 66px; }

.pay-mask-page .number {
  height: auto; }

.pay-mask-page .spec-title {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.875rem; }

.pay-mask-page #info .content span.price, #info .content span.price span {
  color: #222222; }

.pay-mask-edit .buttons button:last-child {
  background: #222222; }

.pay-mask-edit .buttons, .pay-mask-edit .buttons button {
  height: 56px;
  line-height: 56px;
  background: #222222;
  border-color: #222222;
  color: #ffffff;
  font-size: 14px; }

.pay-mask-edit #buyNonw {
  background: #222222; }

.pay-mask-edit .buttons.nui-fix.single-attr #buyNonw {
  background: #222222; }

.pay-mask-edit .nui-number-box {
  border: none;
  position: relative; }

.pay-mask-edit .nui-number-box .nui-number-box-input {
  padding: 0 2.25rem; }

.pay-mask-edit .nui-number-box .nui-number-box-input input {
  border: 1px solid #e0e0e0;
  background: #fafafa;
  color: #333;
  border-radius: 3px; }

.pay-mask-edit .nui-number-box > button:first-child, .pay-mask-edit .nui-number-box > button:last-child {
  border: #e0e0e0 1px solid;
  width: 30px;
  border-radius: 50%;
  line-height: 28px;
  vertical-align: middle;
  height: 30px;
  color: #333; }

.pay-mask-edit .nui-number-box > button:first-child {
  line-height: 24px; }

.pay-mask-edit .spec {
  padding-bottom: 66px; }

.pay-mask-edit .number {
  height: auto; }

.pay-mask-edit .spec-title {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.875rem; }

#info .content span.price, #info .content span.price span {
  color: #222222; }

.guarantee .bottom-btn {
  background-color: #222222; }

.guarantee-mask-sub .g-content {
  background-image: url(../image/skin/yellow/backg2.png); }

.guarantee-mask-sub .g-content h4 {
  background-color: #222222;
  color: #ffffff; }

#sendFeedback .action button.btn-white {
  background-color: #222222 !important;
  border-color: #222222 !important; }

body.chat-message .top-btn-right {
  color: #ffffff; }

body.chat-message-sub .input-msg-group .submit {
  background: #ffffff;
  color: #ffcd2c; }

body.chat-message-sub .input-msg-group .submit i {
  color: #ffcd2c; }

body.chat-message-sub .message-focus .price {
  color: #222222; }

body.chat-message-sub .qa dt.active span {
  color: #222222; }

body.chat-message-sub .qa-title {
  background-color: #ffffff;
  background-size: 95px; }

body.chat-message-sub .qa-title p span {
  color: #222222;
  font-weight: bold;
  padding-left: 35%;
  text-align: right; }

body.chat-message-sub .chat-bubble-list > li.right .chat-bubble {
  background: #ffcd2c; }

body.chat-message-sub .chat-bubble-list .right .chat-bubble .arrow {
  border-left-color: #ffcd2c; }

body.chat-message-sub .fixed-footer {
  border-top: 1px solid #ffcd2c;
  padding-top: 12px; }

body.chat-message-sub .fixed-footer textarea {
  border-bottom-color: transparent;
  height: 24px; }

body.faq-sub .faq-wrap dt.active span {
  color: #222222;
  font-weight: bold; }

body.size-guide #nui-headers .nui-header-item {
  background: #ffcd2c; }

body.size-guide .nui-header-item span.nui-header-right-icon, .nui-header-item span.nui-header-left-icon {
  background: none; }

body.size-guide #nui-headers h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 56px; }

.share-bage-wrap .new-deal {
  background: #222222;
  color: #222222; }

.share-bage-wrap .new-deal:after {
  border-top-color: #222222; }

body.setting .mui-table-view .left span {
  font-size: 16px;
  color: #9e9e9e; }

.coupon-list li .coupon-val {
  color: #222222; }

.expire-alert span {
  color: #222222; }

.coupon-list li .coupon-val .off {
  color: #222222; }

.cash-alert span {
  color: #222222; }

.coupon-list li .coupon-val .currency {
  color: #222222; }

.order-list .pay-action.track-receive-btn > a.track-info {
  border-color: #222222;
  color: #222222;
  background: #ffffff; }

.trackinfo-detail .package-category a.active {
  border-color: #222222;
  color: #222222; }

.header .scroller {
  text-transform: uppercase; }

.feedback-header .nui-header-item span.nui-header-left-icon:before {
  color: #424242; }

.feedback-header .nui-header-item span.nui-header-right-icon:before {
  color: #ffcd2c; }

.feedback-header .nui-headers .nui-header-item {
  background: #ffffff;
  border-bottom: 1px solid #cccccc; }

.feedback-header .nui-headers {
  background: #f5f5f5 !important; }

.buyer-protection {
  border-bottom: 3px solid #f1f1f1;
  font-size: 14px;
  background: #ffffff;
  padding: 0 10px 10px; }

.buyer-protection-title {
  line-height: 48px;
  position: relative; }

.buyer-protection-title > span {
  display: inline-block;
  font-size: 16px;
  color: #767676; }

.buyer-protection-title > a {
  display: inline-block;
  font-size: 14px;
  position: absolute;
  right: 0;
  width: auto;
  background: none;
  height: 48px;
  line-height: 48px;
  color: #9e9e9e; }

.buyer-protection-title > a > i {
  color: #9e9e9e; }

.buyer-protection p {
  display: block;
  font-size: 14px;
  margin-bottom: 7px; }

/* theme */
.header_status, .account_header_status,.nui-headers{ background-color: rgb(120, 193, 7) !important;}
.header-container ,.account-bg {background: rgb(150, 193, 7) !important}
.header .header-input input  {background: rgb(175, 193, 7) !important;}
.nui-fix-button-group{border-color: rgb(150, 193, 7);}
.nui-headers .nui-header-item, .nui-headers .nui-header-item-inner {background: rgb(150, 193, 7) !important}
