body{direction: rtl;}
.button-menu {left: 1.25rem; right: auto;}
/*header section*/
.header-scan {right: 0; left: auto;}
.header .right-btns { right: auto;left: 0;}
.header .header-input input {padding-right: 24px; padding-left: 5px;}
.header .header-input span {right: 3.175rem; left: auto;-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
/*Footer*/
.nui-col-fifth {float: right;}
/*homeGroup*/
.mall-pro-list .img-wrap .s-num {left: 7px; right: auto;}
/*detail page*/
.nui-header-item span.nui-header-left-icon {left: auto;right: 3px;-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg);transform: rotate(180deg);}
.pagination-container li {margin-right: 8px; margin-left: 0;}
.shipping-wrap .title span.right {left: 5px; right: auto;}
.nui-list-view .nui-list-item.nui-list-lpoint {padding-left: 1.5625rem;padding-right: 9.0625rem;}
.shipping .nui-list-view .nui-list-item.nui-list-licon p.nui-list-title {right: 0; left: auto;}
.item-shipping .left {float: right;}
.item-shipping .right {float: left;text-align: right;}
.guarantee-inner {padding: 0.5rem 0.5rem 0.5rem 1.5625rem;}
.guarantee-inner .point {right:auto;left: 0.3125rem;-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg);transform: rotate(180deg);}
.review .title a {left: 0; right: auto;}
.review .title a {padding-left: 25px; padding-right: 0;}
.like-pro-list li {float: right;}
#relateProducts li .pro-thumb .pro-price {left: 7px; right: auto;}
.item-shipping div> span i{margin-left: 5px; margin-right: 0;}
/*after login*/
.account-bg a.avatar-wrap {margin: 0 0 0 20px;}
.order-card .card-detail a {text-align: right;}
.order-card .card-detail a i, .mui-table-view .left i { display: inline-block; margin-left: 15px; margin-right: 0;}
ul li a.mui-navigate-right > i{-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg);transform: rotate(180deg);}

/*my order*/
.order-list .pro-info .left {margin-right: 0px; margin-left: 15px;}
.order-list .pay-type, .order-list .pay-amount { text-align: left;}

/*shipping address*/
.card-list li.address-detail .info .left,.card-list li.address-detail .action .right>a {margin-left: 10px; margin-right: 0;}
.card-list li.address-detail .action .right>a i {margin-left: 3px; margin-right: 0;}
/*feedback*/
.feedBackHeader .nui-header-item span.nui-header-right-icon {right: auto; left: 3px;}
.comment-wrap .avatar-wrap {margin-left: 8px; margin-right: 0;}
.feedback-detail .iconfont{-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg);transform: rotate(180deg); display: inline-block;}
#sendFeedback {right: 10%!important;left: auto !important;}
/*add to cart*/
.thumb{ right: 0; left: auto;}
.content {padding: 0.3125rem 3.4375rem 0.3125rem 1.25rem;}
.icon-guanbi { left: 0; right: auto;}
.content .name-below span {text-align: right;}
.spec-row li {float: right;margin-left: 0.625rem; margin-right: 0;}
.nui-number-box> button { right: 0; left: auto;}
.nui-number-box> button:last-child { left: 0;right: auto;}

/*cart*/
.cart-action .total .title {margin-left: 5px; margin-right: 0;}
#relateProducts li .info-bottom span {left: 7px; right: auto;}
/*search page*/
.clearHistory {margin-left: 8px; margin-right: 0;float: left;}
.history-container li {float: right;margin-left: 0.625rem; margin-right: 0;}
.searchHeader .nui-header-item span.nui-header-right-icon {left: 3px; right: auto;}
.searchHeader .nui-header-item.item span.nui-header-right-icon {left: 3rem;}
.searchHeader .nui-header-item span.nui-header-right-icon+.icon0-filter { left: 4px; right: auto;}
/*sider filter*/
.filter-header a {right: auto; left: 15px;}
.sidefilter .iconfont {-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg);transform: rotate(180deg); }
.show-c-list dt>a {left: 15px; right: auto;}
/*Account-signUp and login*/
a.show-password {right: auto; left: 0;}
.btn-login i {border-left: 1px rgba(31,31,31,.2) solid; border-right: none;}
.input-group.mail input{ padding-right: 10px;}
/*sign in with facebook*/
.nui-header-item span.nui-header-right-icon{left: 3px; right: auto;}
/*chat message*/
.top-btn-right { left: 15px; right: auto;}
.chat-bubble-list .chat-bubble { margin-left: 0;margin-right: 15px;}
.chat-bubble-list .chat-bubble .arrow {left: auto;right: -15px;border-width: 8px 8px 8px 8px;border-left-color: #fff; border-right-color: transparent; }
.input-msg-group textarea {margin-left: 5px; margin-right: 0;}
