.video-list {
	padding: 0 1.25rem;
}

.video-list-item {
	margin-bottom: 1.25rem;
	position: relative;
	height: 90px;
	border: 1px #ddd solid;
	padding-left: 5.9375rem;
}

.video-list-item .thumb {
	position: absolute;
	left: 0.0625rem;
	top: 0.0625rem;
	width: 7.5rem;
	height: 5.5rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.video-list-item .thumb i{
	line-height: 5.5rem;
	text-align: center;
	width: 7.5rem;
	display: block;
	height: 5.5rem;
	color: #FFFFFF;
	font-size: 2.1875rem;
}
.video-list-item .right-content {
	padding: 0.625rem;
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 2.625rem;
}

.video-list-item .right-content .video-item-title {
	color: #767676;
	line-height: 1.0625rem;
}

.right-count {
	float: right
}

.right-count span {
	color: #767676;
}

.img-list-row {
	position: absolute;
	right: 0;
	width: 100%;
	bottom: 0;
}

.right-img-list {
	position: relative;
	float: right;
	width: 50%;
	max-width: 8.125rem;
	bottom: -0.3125rem;
	min-height: 1.875rem;
}

.right-img-list li {
	background: #FFFFFF;
	float: right;
	position: absolute;
	width: 35%;
	-webkit-border-radius: 0.3125rem;
	-moz-border-radius: 0.3125rem;
	border-radius: 0.3125rem;
	background: #FFFFFF;
	box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px #ccc;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.right-img-list li span {
	background: #FFFFFF;
	top: 0;
	left: 0;
	padding-bottom: 10%;
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-bottom: 100%;
	z-index: 5;
	position: relative;
	border: #FFFFFF 0.125rem solid;
	overflow: hidden;
	-webkit-border-radius: 0.3125rem;
	-moz-border-radius: 0.3125rem;
	border-radius: 0.3125rem;
}

.right-img-list li:after {
	content: "";
	z-index: 0;
	position: absolute;
	bottom: 0.3125rem;
	right: 0.25rem;
	width: 50%;
	height: 36%;
	z-index: 0;
	border-radius: 20%;
	box-shadow: 6px 6px 10px #767676;
	transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
	background-color: transparent;
}

.right-img-list li:nth-child(2) {
	right: 20%;
	z-index: 2;
}

.right-img-list li:nth-child(3) {
	right: 40%;
	z-index: 4;
}

.right-img-list li:nth-child(4) {
	right: 60%;
	z-index: 6;
}