.video-list {
	padding: 0 1.25rem;
}

.video-list-item {
	margin-bottom: 1.25rem;
	position: relative;
	height: 6.5rem;
	border: 1px #ddd solid;
	padding-left: 8.1875rem;
}
.video-list-item .username-row{
	position: relative;
	padding-left: 2.5rem;
	margin-bottom: 0.3125rem;
}
.video-list-item .username-row .username{
	font-style: normal;
	font-size: 0.875rem;
	line-height: 1.125rem;
}
.video-list-item .username-row .usericon{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width:1.875rem;
	height: 1.875rem;
	border: #FFFFFF 2px solid;
	position: absolute;
	left: 0.1875rem;
	top: -0.625rem;
	box-shadow: -1px 1px 6px #767676;
	-webkit-box-shadow: -1px 1px 6px #767676;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
}
.video-list-item .username-row .username i{
	margin-right: 0.3125rem;
	font-size: 0.875rem;
}
.video-list-item .username-row .username i.color1 {
	font-size: 0.875rem;
	color: orange;
}
.video-list-item .username-row .username i.color2 {
	font-size: 0.875rem;
	color: #999999;
}
.video-list-item .thumb {
	position: absolute;
	left: 0.0625rem;
	top: 0.0625rem;
	width: 8.1875rem;
	height: 6.25rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.video-list-item .thumb i{
	line-height: 6.25rem;
	text-align: center;
	width: 8.1875rem;
	display: block;
	height:6.25rem;
	color: #FFFFFF;
	font-size: 2.1875rem;
}
.video-list-item .right-content {
	padding:0.3125rem 0.625rem 0.625rem 0.625rem;
	width: 100%;
	height: 100%;
	position: relative;
}

.video-list-item .right-content .video-item-title {
	color: #767676;
	line-height: 1.0625rem;
}

.right-count {
	float: right;
	margin-right: .5rem;
}

.right-count span {
	color: #767676;
}

.img-list-row {
	position: absolute;
	right: 0;
	width: 100%;
	bottom: 0;
}

.right-img-list {
	position: relative;
	float: right;
	width: 50%;
	max-width: 8.125rem;
	bottom: -0.75rem;
	min-height: 1.875rem;
}

.right-img-list li {
	float: right;
	position: absolute;
	width: 35%;
	-webkit-border-radius: 0.3125rem;
	-moz-border-radius: 0.3125rem;
	border-radius: 0.3125rem;
	background: #FFFFFF;
	box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px #ccc;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.right-img-list li span {
	top: 0;
	left: 0;
	padding-bottom: 10%;
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-bottom: 100%;
	z-index: 5;
	position: relative;
	border: #FFFFFF 0.125rem solid;
	overflow: hidden;
	-webkit-border-radius: 0.3125rem;
	-moz-border-radius: 0.3125rem;
	border-radius: 0.3125rem;
	background-color: #fff;
}

.right-img-list li:after {
	content: "";
	z-index: 0;
	position: absolute;
	bottom: 0.3125rem;
	right: 0.25rem;
	width: 50%;
	height: 36%;
	z-index: 0;
	border-radius: 20%;
	box-shadow: 6px 6px 10px #767676;
	transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
	background-color: transparent;
}

.right-img-list li:nth-child(2) {
	right: 20%;
	z-index: 2;
}

.right-img-list li:nth-child(3) {
	right: 40%;
	z-index: 4;
}

.right-img-list li:nth-child(4) {
	right: 60%;
	z-index: 6;
}