<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,em2ail=no,date=no,address=no">
		<title>product detail review sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/pro-platform.css" />
		<style>
			.pro-info{ margin-top: 1px; display: flex; border-bottom: 1px #ddd solid; padding: 10px 15px; background: #fff;}
			.pro-info .left{ min-width: 76px;}
			.pro-info .img-wrap{ width: 66px; height: 66px; border:1px #ddd solid; margin-right: 10px;
			background-size: 100% auto; 
			background-position: center top;
			background-repeat: no-repeat;}
			.pro-info h4{ height: 40px; line-height: 20px; font-size: 16px; font-weight: normal; overflow: hidden;color: #333;}
			.pro-info .star-group{ width: 80px; height: 16px;}
			.pro-info  .star-group .star-item{ width: 80px; height: 16px;top: 0;}
			.pro-info  .star-group .star-bg{ height: 16px;}
			.pro-info  .stars .val{  margin-left: 10px; line-height: 16px;}
			.pro-info  .stars{ margin-top: 0px; height: 16px; }
			.pro-info  .stars>*{ float: left;}
			.review{ margin: 0;}
			.review .review-list{ border-top: none;}
			.review .review-list li:last-child{ border:none;}
		</style>
		<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>

	<body>
		<ul class="button-menu">
			<li class="iconfont icon-fanhuidingbu" tapmode title="top" onclick="scrollToTop()" id="scroll-top"></li>
		</ul>
		<div id="wrap">
			<div class="pro-info">
			</div>
			<div class="review">
				<ul class="review-list">
					
					<!--<li data-id="<%=productCommentList[i].id%>">
						<a class="avatar-wrap" href="javascript:;" style="background-image: url(../../image/d-avatar.jpg);" data-lazyload="true" data-original="<%=productCommentList[i].portrait%>">
							
						</a>
						<div class="review-list-content">
							<div class="row review-title">
								<span class="name"><%=productCommentList[i].commentName%></span>
								<span class="date"><%=productCommentList[i].commentTime%></span>
							</div>
							<div class="row review-content">
								<p><%=productCommentList[i].content%></p>
							</div>
							<div class="row review-star">
								<p class="stars">
									<span class="star-group">
										<span class="star-item  x<%=productCommentList[i].rankStar%>"></span>
									</span>
									<span class="val"><%=productCommentList[i].rank%></span>
								</p>
							</div>
							<div id="divReviewImage" class="row" tapmode title="show review images" onclick="viewImgGrp(this)" >
								<ul class="review-thumb">
									<%for(var j = 0 ; productCommentList[i].imgUrlArr.length>j; j++){%>
									<li>
										<img src="../../image/placeholder300.png"   data-lazyload="true" data-original="<%=productCommentList[i].imgUrlArr[j]%>">
									</li> 
									<%}%>
								</ul>
							</div>
							<div class="row">
								<p class="review-pro-attr">
									<%for(var m = 0 ; productCommentList[i].property.length>m; m++){%>
										<% if(productCommentList[i].property[m]) {%>
											<span class="titel"><%=$.i18n.prop("Variation")%>:</span>
											<span><%=productCommentList[i].property[m]%> </span>
										<%}%>
									<%}%>
								</p>
							</div>
						</div>
					</li>	-->
					
				</ul>
				<div class="pulldownload" style="position: relative; top: 5px; left: 0px; margin: 10px auto;">
			        <div class="loader" style="top: 4px;"></div>
			    </div>
			</div>
			
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js" ></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
	<script type="text/html" id="productInfoTemp">
		<div class="left">
			<div class="img-wrap" style="background-image: url(<%=img%>);"></div>
		</div>
		<div class="right">
			<h4><%=title%></h4>
			<div>
				<p class="stars">
					<span class="star-group">
						<span class="star-item x<%=rankStar%>"></span>
					</span>
					<span class="val" id="spanReviewRank"><%=star%></span>
				</p>
			</div>
		</div>
	</script>
	<script type="text/html" id="ReviewsTemp">
		<%
		for( var i = 0; productCommentList.length>i; i++){
			if($api.getStorage('LIST_PULL_REFRESH_FLAG') != 'true' && $('li[data-id="' + productCommentList[i].id + '"]').length > 0) { continue; }
		%>
		<li data-id="<%=productCommentList[i].id%>">
			<a class="avatar-wrap" href="javascript:;" style="background-image: url(../../image/d-avatar.jpg);" data-lazyload="true" data-original="<%=productCommentList[i].portrait%>" data-autowh></a>
			<div class="review-list-content">
				<div class="row review-title">
					<span class="name"><%=productCommentList[i].commentName%></span>
					<span class="date"><%=productCommentList[i].commentTime%></span>
				</div>
				<div class="row review-content">
					<p><%=productCommentList[i].content%></p>
				</div>
				<div class="row review-star">
					<p class="stars">
						<span class="star-group">
							<span class="star-item  x<%=productCommentList[i].rankStar%>"></span>
						</span>
						<span class="val"><%=productCommentList[i].rank%></span>
					</p>
				</div>
				<div id="divReviewImage" class="row" tapmode title="show review images" onclick="viewImgGrp(this)" >
					<ul class="review-thumb">
						<%for(var j = 0 ; productCommentList[i].imgUrlArr.length>j; j++){%>
						<li>
							<img src="../../image/placeholder300.png"   data-lazyload="true" data-original="<%=productCommentList[i].imgUrlArr[j]%>">
						</li> 
						<%}%>
					</ul>
				</div>
				<div class="row">
					<p class="review-pro-attr">
						<%for(var m = 0 ; productCommentList[i].property.length>m; m++){%>
							<% if(productCommentList[i].property[m]) {%>
								<span class="titel"><%=$.i18n.prop("Variation")%>:</span>
								<span><%=productCommentList[i].property[m]%> </span>
							<%}%>
						<%}%>
					</p>
				</div>
			</div>
		</li>	
		<%}%>
	</script>
	<script>
        // load langugae property files
        loadProperties();

        function starShow(){
		var star5 = new Image();
		star5.src = '../../image/5star.png';
		star5.onload = function(){
			var dom = document.querySelectorAll('.star-bg');
			for(var i=0; dom.length>i; i++){
				dom[i].style.display = 'block';
			}
		}
	}
	var loadFlag = true;
	var page = 1;
	function AR() {
		var photoBrowser = api.require('photoBrowser');
		var ns = "";
		var reviewInfo = api.pageParam.reviewInfo;
		var type = api.pageParam.type == 'commentWithPicture' ? 1 : '';
		var totalPage;
		var retryTimes = 0;
		$(".pro-info").html(baidu.template("productInfoTemp",reviewInfo));
		starShow();
		
//		$('#nui-headers .title span').text(' ('+reviewInfo.num+')');
		function loadingReview(){
			if(!loadFlag){ 
				return false;
			}
			loadFlag = false;
			$(".pulldownload").show();
			$.mamall_request('product.productcomment',{productId:reviewInfo.productId,page:page,commentWithPicture:type}, function(r) {
				loadFlag = true;	
				if('9999' == r.ErrorCode) {
					retryTimes = 0;
					totalPage = r.Data.Pagination.totalPage;
					if(r.Data.Pagination.totalCount) {
						api.execScript({
							name:'pro-detail-review',
							script:'setTotalCount("' + r.Data.Pagination.totalCount + '");'
						});
					}
					page ++;
					$(".review-list").append(baidu.template('ReviewsTemp',r.Data));
					starShow();
					imgLoad();
					$(".pulldownload").hide();
				}else if(r == 'timeout' && retryTimes < 2){
					retryTimes ++;
					loadingReview();
				} else {
					$(".pulldownload").hide();
					api.refreshHeaderLoadDone();
					retryTimes = 0;
				}
			}, undefined, api)
		}
		loadingReview();
		nui.pullAppend(function(){
			if($('.pulldownload').is(':visible') || !loadFlag){ 
				return false;
			}
			if(page > totalPage) {
				$('.pulldownload').hide();
				nui.toast($.i18n.prop("No more data"));
				return;
			}else{
				loadingReview();
			}
			
		})
		openPreview = function(preViewArr){
				photoBrowser.open({
				    images: preViewArr,
				    bgColor: '#000'
				}, function(ret, err) {
				    if (ret) {
				        if(ret.eventType == 'click'){
				       	 	photoBrowser.close();
				        }
				    }
				});
			}
		viewImgGrp = function(obj){
				var imgArr = new Array();
				$(obj).children('ul.review-thumb').find("li").each(function(){
					imgArr.push($(this).children("img").prop("src"));
				});
				openPreview(imgArr);
				
			}
	}
	</script>
</html>