<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>my favorites sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/account.css"/>
		<link rel="stylesheet" href="../../css/common.css" />
		<style>
			html,body,#wrap{background: #f6f6f6;}
			body {
			  width: 100%;
			  height: 100%;
			}
			.mui-col-sm-4{ max-width: 32% !important;}
			.price .c-p{
				color: #333;
			}
			.mall-pro-list li{
				border-radius: 5px;
			}
			.mall-pro-list .img-wrap{
				margin-bottom: 0;
			}
		</style>
		<script type="text/javascript" src="../../script/api.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>

	<body>
		<ul class="button-menu">
			<li class="iconfont icon-fanhuidingbu" tapmode onclick="scrollToTop()" id="scroll-top"></li>
		</ul>

		<div id="FavoriteListData" class="comments-detail show-detail">
			<ul class="mall-pro-list">
				
			</ul>
		</div>
		<div class="pulldownload" style="position: relative; top: 5px; left: 0px; margin: 10px auto;">
	        <div class="loader" style="top: 4px;"></div>
	  </div>	
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js" ></script>
	<script type="text/html" id="productsTemp">
		<%  for(var i = 0; sponsorProducts.length>i; i++) { %>
		<li>
			<a href="javascript:;" title="<%=sponsorProducts[i].name%>" tapmode onclick="openProDetail('1','','<%=sponsorProducts[i].productId%>','<%=sponsorShopId%>')">
				<div class="img-wrap" style="background-image: url(../../image/placeholder300.png);" data-lazyload="true" data-original="<%=sponsorProducts[i].imageUrl%>">
					<% if(sponsorProducts[i].soldCnt) {%>
					<span class="s-num"><%=$.i18n.prop("Sold")%> <span><%=sponsorProducts[i].soldCnt%></span></span>
					<% }%>
				</div>
				<div class="pro-info">
					<h4><%=sponsorProducts[i].name%></h4>
					<div class="price">
						<span class="c-p"><%=getDisplayCurrency('symbol')%><%=getDisplayCurrencyNumber(sponsorProducts[i].defaultPrice)%></span>
					</div>
				</div>
			</a>
		</li>
		<%}%>		
	</script>
</html>
<script type="text/javascript">
    // load langugae property files
    loadProperties();

    var findProducts =  function(){};
	imgLoad();
	function AR() {
		var page = 1;
		var loadFlag = true;
		var totalPage = 0;
		var retryTimes = 0;
		var _id = api.pageParam._id;
		//上拉加载
		nui.pullAppend(function(){
			if($('.pulldownload').is(':visible') || !loadFlag){
				return false;
			}
			if(page > totalPage) {
				$('.pulldownload').hide();
				nui.toast($.i18n.prop("No more data"));
				return false;
			}
			findProducts('append');
		});
		//下拉刷新
		nui.pullrefresh(function(){
			if($('.pulldownload').is(':visible') || !loadFlag){
				return false;
			}
			page = 1;
			findProducts();
		},'#f6f6f6')

		findProducts = function(type) {
			if(!loadFlag || $('.pulldownload').is(':visible')) {
				return false;
			}
			$('.pulldownload').show();
			loadFlag = false;
			$.mamall_request('a:web.SponsorShop.products', {
				id:_id,
				page:page,
				perPage:10
			}, function(r) {
				loadFlag = true;
				if (r.ErrorCode == '9999'){
					retryTimes = 0;
					$(".pulldownload").hide();
					sponsorProductsData = r.Data
					sponsorProductsData.sponsorShopId = _id;
					totalPage = r.Data.pagination.totalpage;
					if(page > totalPage) { return false; }
					if(type == 'append'){
						$('.mall-pro-list').append(baidu.template('productsTemp',sponsorProductsData));
					}else{
						$('.mall-pro-list').html(baidu.template('productsTemp',sponsorProductsData));
					}
					imgLoad();
					page ++;
				} else if(r == 'timeout' && retryTimes < 2) {
					retryTimes ++;
					findProducts();
				}else {
					$(".pulldownload").hide();
					retryTimes = 0;
				}
			},undefined,api);
		}
		findProducts();
			
	}
</script>


