<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>cart sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../font/ourmall/iconfont.css" /> 
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/cart.css" />
		<style>
			.cart-list dl{ border-top:5px #f6f6f6 solid; overflow: hidden;}
			.cart-list dd.active{-webkit-transform: translateX(-60px); transform: translateX(-60px);}
			.cart-list dd.am,.cart-list dd.am_1{ transition: all .3s;}
			dt{position: relative;}
			dt a{
				position: absolute; top: 50%; right: 10px; font-size: 14px;color: #767676;
				-webkit-transform: translateY(-50%); transform: translateY(-50%);
				height: 36px;
			    line-height: 36px;
			    width: 60px;
			    text-align: right;
			}
			.free-tips{padding: 10px 8px 5px;}
			.free-tips a{
				display: flex;
			    display: -webkit-flex;
			    justify-content: space-between;
			    align-items: center;
			    align-content: center;
			}
			
			.free-tips a .tips-l i{color: #e62117;font-size: 14px;padding-right: 8px;}
			.free-tips a .tips-r span,.free-tips a .tips-l span{display: inline;}
			.free-tips a .tips-r p{
				margin: 0;
				font-size: 12px;
				line-height: 20px;
				color: #000;
			}
			.free-tips a .tips-r .view-detail{margin-left: 8px;}
			.text-danger{color: #e62117;}
		</style>
		<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>
	<body>
		<div id="wrap">
			<ul class="button-menu"></ul>
			<div class="cart-wrap">
				<div class="nodata" style="display: none">
					<div class="img-wrap">
						<img src="../../image/nodata_bg.png">
					</div>		
					<div class="content-text">
						<p>
							<ourmall i18n-tag>Your shopping cart is empty.</ourmall><br>
							<ourmall i18n-tag>Start shopping,</ourmall><br>
							<ourmall i18n-tag>You can add several items to your cart.</ourmall><br>
						</p>
					</div>
				</div>
				<div class="cart-list">					
					<dl>
						
					</dl>
				</div>
				<div class="prolist" style="display: none;">
					<h4 class="like-pro-list-title">
						
					</h4>
					<ul id="relateProducts">
						<li tapmode onclick="openProDetail('1','','<%=Data[i].productId%>','<%=Data[i].sponsorShopId%>')">
			<a href="javascript:;" title="productId:<%=Data[i].productId%> sponsorShopId:<%=Data[i].sponsorShopId%>" style="background-image: url(../../image/placeholder300.png);" data-lazyload="true"  data-original="<%=Data[i].imgUrl1%>">
				<div class="info-bottom" title="productId:<%=Data[i].productId%> sponsorShopId:<%=Data[i].sponsorShopId%>" >
					<% if(Data[i].soldCnt) {%>
					<span title="productId:<%=Data[i].productId%> sponsorShopId:<%=Data[i].sponsorShopId%>" class="qty"><%=$.i18n.prop("Sold")%> <%=formatNumberAsForeigner(Data[i].soldCnt)%></span>
					<% }%>
				</div>	
			</a>
		</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js" ></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
	<script type="text/html" id="cgListTemp">
		<dl>
			<dt>
				<label class="check-all">
					<input type="checkbox" value="" checked="checked" name="cart" data-checkbox-all="<%=escape(shopName)%>" style="display: none;">
					<span class="ourmallfont icon0-nocheck"></span>
					<span class="shop-title">
						<!--<span class="ourmallfont icon0-shop"></span>-->
						<span class="shop-name">&nbsp;<%=shopName%></span>
					</span>	
					<!-- <a href="javascript:;" onclick="openShop(<%=webLinkId%>)" tapmode>
						<i class="iconfont icon-jiantou"></i>
					</a> -->
				</label>
			</dt>
			<%for(var i in productList){ %>
			<dd data-price="<%=productList[i].price%>" data-webLinkid="<%=webLinkId%>" data-videoProductId="<%=productList[i].videoProductId%>" data-productStockId="<%=productList[i].productStockId%>" data-productName="<%=productList[i].name%>"  ontouchstart="return touchstartF(event,this);" ontouchmove="return touchmoveF(event,this);">
				<label class="check-pro">
					<input type="checkbox" value="" checked="checked" name="cart" data-checkbox-sub="<%=escape(shopName)%>">
					<span class="ourmallfont icon0-nocheck"></span>
				</label>
				<div class="img-wrap" tapmode onclick="openProDetail('1','','<%=productList[i].videoProductId%>','<%=webLinkId%>')">
					<img title="productId:<%=productList[i].videoProductId%> name:<%=productList[i].name%>"  src="../../image/placeholder300.png" data-lazyload="true" data-original="<%=productList[i].stockImgUrl%>" />
				</div>
				<div class="info">
					<h3 tapmode onclick="openProDetail('1','','<%=productList[i].videoProductId%>','<%=webLinkId%>')"><%=productList[i].name%></h3>
					<div class="price"><%=getDisplayCurrency('symbol')%><%=getDisplayCurrencyNumber(productList[i].price)%></div>
					<div class="action">
						<div class="number">
							<div class="nui-number-box"  data-maxNumBak="5" data-maxNum="999" data-minNum="1" data-changeNum>
								<button tapmode onclick="changeQty(this);">-</button>
								<span class="nui-number-box-input">
									<input  id="nui-number-box-input" type="number" value="<%=productList[i].quantity%>"/>
								</span>
								<button tapmode onclick="changeQty(this);"><i class="iconfont icon-jiahao"></i></button>
							</div>
						</div>
					</div>
					<% if(productList[i].property && productList[i].property.replace(/-/g,'')) { %>
					<div class="attr-info"  tapmode onclick="openMask(this);">
						<div><%=$.i18n.prop("Variation")%>: <span><%=productList[i].property%></span> </div>
						<div class="attr" style="display: none"><span><%=productList[i].propertyValue%></span></div>
						<div class="edit"><a href="javascript:;"><i class="iconfont icon-jiantou-copy"></i></a></div>
					</div>
					<% }%>
				</div>
				<a class="side-btn" href="javascript:;" tapmode onclick="cartRemove(this)">
					<span><%=$.i18n.prop("Delete")%></span>
				</a>
			</dd>
			<% }%>
		</dl>
	</script>
	<script type="text/html" id="relateProductsTemp">
	<%for(var i = 0 ; i < Data.length ; i++){%>
		<li tapmode onclick="openProDetail('1','','<%=Data[i].productId%>','<%=Data[i].sponsorShopId%>')">
			<a href="javascript:;" title="productId:<%=Data[i].productId%> sponsorShopId:<%=Data[i].sponsorShopId%>" style="background-image: url(../../image/placeholder300.png);" data-lazyload="true"  data-original="<%=Data[i].imgUrl1%>">
				<div class="info-bottom" title="productId:<%=Data[i].productId%> sponsorShopId:<%=Data[i].sponsorShopId%>" >
					<% if(Data[i].soldCnt) {%>
					<span title="productId:<%=Data[i].productId%> sponsorShopId:<%=Data[i].sponsorShopId%>" class="qty"><%=$.i18n.prop("Sold")%> <%=formatNumberAsForeigner(Data[i].soldCnt)%></span>
					<% }%>
				</div>	
			</a>
		</li>
	<% }%>
	</script>
	<script>
	if(localStorage.getItem('DEFAULT_APP_LANGUAGE')== 'fa')
		$('head').append('<link rel="stylesheet" type="text/css" href="../../css/style-rtl.css">');
    // load langugae property files
    loadProperties();

    var goBack;
	var retryTimes = 0;
	//imgLoad();
	
	//左滑删除
	function touchstartF(event) {
	    x = event.changedTouches[0].pageX;
	    y = event.changedTouches[0].pageY;
	    swipeX = true;
	    swipeY = true;
	};
	function touchmoveF(event, e) {
	    X = event.changedTouches[0].pageX;
	    Y = event.changedTouches[0].pageY;
	    // 左右滑动
	    if (swipeX && Math.abs(X - x) - Math.abs(Y - y) > 0) {
	        // 阻止事件冒泡
	        event.stopPropagation();
	        if (X - x > 0) {
	            event.preventDefault();
	            e.style.WebkitTransform = "translateX(" + 0 + "px)";
	            e.style.transition = "-webkit-transform 300ms ease-in-out";
	        }
	        if (x - X > 0) {
	            event.preventDefault();
	            e.style.WebkitTransform = "translateX(" + -60 + "px)";
	            e.style.transition = "-webkit-transform 300ms ease-in-out";
	        }
	        swipeY = false;
	    }
	    // 上下滑动
	    if (swipeY && Math.abs(X - x) - Math.abs(Y - y) < 0) {
	        swipeX = false;
	    }
	};
	
	function totalPrices(){
		var total = 0;
		$(".cart-list input[data-checkbox-sub]:checked").each(function(){
			var price = parseFloat($(this).parents('dd').attr('data-price'));
			var num = parseFloat($(this).parents('dd').find("input[type=number]").val());
			total += price * num;
		});
		return getDisplayCurrencyNumber(total);
	}
	function totalPricesToBottom(){
		api.execScript({
		    frameName: 'cart',
		    script: 'showTotalPrice("' + totalPrices() + '");'
		});
	}
	function ActiveToBottom(){
		var state;
		if($("input[data-checkbox-sub]:checked").length>0){
			state = "true";
		}else{
			state = "false";
		}
		api.execScript({
			    frameName: 'cart',
			    script: 'placeOrderActive('+state+')'
			});
	}
	function cartProNum(){
		api.execScript({
			    frameName: 'cart',
			    script: 'cartHeadNum('+$(".cart-list dd").length+')'
			});
	}
	var cartReset =function(){
		setTimeout(function(){
			totalPricesToBottom();
			ActiveToBottom();
			cartProNum();
			totalPrices();
		},100);
	}
	//全选全不选
	function AllCheckbox(){
		//全选，全不 all
		$(document).on("change","[data-checkbox-all]",function(){
			var checkboxT = $(this).attr("data-checkbox-all");
			$('[data-checkbox-sub="'+checkboxT+'"]').prop("checked",this.checked);
		});
		//全选，全不 sub
		$(document).on("change","[data-checkbox-sub]",function(){
			var obj = $('[data-checkbox-sub="'+$(this).attr("data-checkbox-sub")+'"]');
			$('[data-checkbox-all="'+$(this).data("checkbox-sub")+'"]').prop("checked",obj.length === obj.filter(":checked").length ? true : false);
		});
	}
	function openDelBtn(state){
		if(state == 'off'){
			$('.cart-list dd').css('-webkit-transform','translateX(-60px)');	
		}else{
			$('.cart-list dd').css('-webkit-transform','translateX(0)');
		}
						
	}
	var openShop = function(){};
	var placeOrder;
	var uuid;
	function AR(){
		api.addEventListener({
		    name: 'refreshThisTabPage'
		}, function(ret, err) {
	    	if($(window).scrollTop() > 200 && (!ret.value.forcedRefresh)) {
	    		scrollToTop();
	    	} else {
	    		api.refreshHeaderLoading();
	    	}
		});

		uuid = api.deviceId;
		var loadingId = '';
		var UILoading = api.require('UILoading');	

		openShop = function(id){
			$api.openWin({
		        name: 'shop',
		        url: "widget://html/product/shop.html",
		        pageParam: {
		        	_id: id
		        },
		        animation: {
		            type: "movein",
		            subType: "from_right"
		        },
		        reload: true
		    });			
		}			

		getCartData =function(type) {
			$('.nodata').hide();
			if(uuid) {
				UILoading.flower({
				    center: {
				        x: api.winWidth / 2.0,
	    				y: api.winHeight / 2.0
				    },
				    size: 40,
				    fixed: true
				}, function(ret) {
				    loadingId = ret;
				});
				$.mamall_request('b2c.cart.get',{OM_DEVICE_UUID:uuid}, function(r) {
					if('9999' == r.ErrorCode) {
						if(loadingId) {
							UILoading.closeFlower(loadingId);
						}
						$(".cart-list").html('');
						var cartData = r.Data.Ourmall;
						for(var i in cartData){
							if(typeof(cartData[i].shopname) == 'string' && cartData[i].shopname) {
								var shopData = {shopName:cartData[i].shopname};
								delete cartData[i].shopname;
								shopData['productList'] = cartData[i];
								shopData.webLinkId = i;
								$(".cart-list").append(baidu.template("cgListTemp", shopData));
								//安卓加动画
								if(api.systemType == 'android'){
									$(".cart-list dd").addClass('am_1');
								}
								//第一次访问动画
								if(!$api.getStorage('firstVisitCart')){
									setTimeout(function(){
										$(".cart-list dd:first").addClass('active am');
										$api.setStorage('firstVisitCart',true);
										setTimeout(function(){
											$(".cart-list dd:first").removeClass('active');
											setTimeout(function(){
												$(".cart-list dd:first").removeClass('am');
											},300);
										},1000);
									},500);
								}
							}
						}
						imgLoad();
						if(cartData.length==0) {
							$('.like-pro-list-title').html($.i18n.prop("Whats Popular"));
							$('.nodata').css("display","block");
						} else {
							$('.like-pro-list-title').html($.i18n.prop("You May Like"));
							totalPrices();
						}
						setTimeout(function() { getRelateProduct(); }, 500);
					}
					$api.setStorage('REFRESH_CART_PAGE',false);
					nui.initNumberBox(function() {
					}, function() {	
					}, function() {
					 	nui.toast($.i18n.prop("Can not be less than 1"))
					 }, function() {
					 	nui.toast($.i18n.prop("No more data"))
					 });
					AllCheckbox();
					cartReset();
				},undefined,api);
			} else {
				$('.nodata').show();
			}
		}
		getCartData();
		getRelateProduct = function(){
			var allProductName = allProductId = '';
			$('.cart-list').find('dd').each(function() {
				allProductName += ' ' + $(this).attr('data-productName');
				allProductId += ',' + $(this).attr('data-videoProductId');
			});
			$.mamall_request('b2c.cart.relatedproduct', {
				names: allProductName.substring(1),
				ids: allProductId.substring(1)
			}, function(r) {
				if('9999' == r.ErrorCode) {
					retryTimes = 0;
					var listJson = r.Data;
					if(listJson && listJson.Data.length > 0) {
						$('.prolist').show();
						document.getElementById("relateProducts").innerHTML = baidu.template("relateProductsTemp", listJson);
					}
					imgLoad();
				} else if(r == 'timeout' && retryTimes < 2) {
					retryTimes ++;
					getRelateProduct();
					retryTimes = 0;
				}
			}, undefined, api)
		}

		goBack = function(){
			api.historyBack({
			    frameName: 'cart'
			}, function(ret, err) {
			    if (!ret.status) {
			        api.closeFrame({
					    name: 'cart'
					});
			    }
			});
		}	
		
		openMask = function(obj){
			UILoading.flower({
			    center: {
			        x: api.winWidth / 2.0,
    				y: api.winHeight / 2.0
			    },
			    size: 40,
			    fixed: true
			}, function(ret) {
			    loadingId = ret;
			});
			var _pid = $(obj).parents('dd').attr("data-videoProductId"),
				_sid = $(obj).parents('dd').attr("data-webLinkid"),
				_psid = $(obj).parents('dd').attr("data-productStockId"),
				_qty = $(obj).parents('dd').find("input[type=number]").val();
				_attr = $(obj).parents('dd').find(".attr").children("span").text();
			
			$.mamall_request('product.videodetail', {
				productId: _pid,
				sponsorShopId:_sid
			}, function(r) {
				if('9999' == r.ErrorCode) {
					$api.setStorage("LAST_VIEW_PRODUCT", JSON.stringify(r.Data.Product, undefined, 2));
					if(loadingId) {
						UILoading.closeFlower(loadingId);
					}
					api.openFrame({
						name: 'pay',
						url: 'widget://html/cart/pay-mask-edit.html',
						pageParam: {
							_pid:_pid,
							_sid:_sid,
							_psid:_psid,
							_qty:_qty,
							_attr:_attr
						},
						bounces: false,
						bgColor: 'rgba(0,0,0,.7)',
						vScrollBarEnabled: false,
						hScrollBarEnabled: false
					});
				}else {
					nui.toast($.i18n.prop("Oops, please try again"));
				}
				UILoading.closeFlower(loadingId);	
			}, undefined, api);	
		}
		nui.pullrefresh(function(){
			if($('.pulldownload').is(':visible')){
				return false;
			}
			getCartData('refresh');
		},'#f6f6f6');
		
		//购物车总价
		$(".cart-list").on("change click touchstart","input[type=checkbox],input[type=number],.number button",function(){
			cartReset();
			totalPrices();
		})
		var payOrderFlag = false;
		placeOrder = function(){
			if(payOrderFlag) return;
			$api.setStorage('LAST_PAGE_BEFORE_LOGIN', {type:'cart'});
			getUserInfo(function(userInfo) {
				payOrderFlag = true;
				UILoading.flower({
				    center: {
				        x: api.winWidth / 2.0,
	    				y: api.winHeight / 2.0
				    },
				    size: 40,
				    fixed: true
				}, function(ret) {
				    loadingId = ret;
				});
				var orderData;
				var buyData='';
				$(".cart-list input[data-checkbox-sub]:checked").each(function(){
					var data = {};
					data.webLinkId = parseInt($(this).parents('dd').attr("data-webLinkid"));
					data.videoProductId = parseInt($(this).parents('dd').attr("data-videoProductId"));
					data.productStockId = parseInt($(this).parents('dd').attr("data-productStockId"));
					data.quantity = parseInt($(this).parents('dd').find("input[type=number]").val());
					data = JSON.stringify(data)
					buyData += data;
				});
				buyData=buyData.replace(/}{/g,"},{")
				buyData ="["+buyData+"]";
				$.mamall_request('b2c.cart.placeorder',{OM_DEVICE_UUID:uuid,orderdata:buyData}, function(r) {
					if('9999' == r.ErrorCode) {
						$api.openWin({
						    name:'order-confirm',
						    url: 'widget://html/cart/order-confirm.html',
						    animation:{
						    	type:"movein",
						    	subType:"from_right"
						    },
						    reload:true
		
						});
						$api.getStorage('REFRESH_CART_PAGE','true');
					}
					payOrderFlag = false;
					UILoading.closeFlower(loadingId);
				},undefined,api);
			})
		}
		//删除
		cartRemove = function(obj){
			UILoading.flower({
			    center: {
			        x: api.winWidth / 2.0,
    				y: api.winHeight / 2.0
			    },
			    size: 40,
			    fixed: true
			}, function(ret) {
			    loadingId = ret;
			});
			var obj = $(obj);
			$.mamall_request('b2c.cart.change', {
				OM_DEVICE_UUID:api.deviceId,
				ACTION:"delete",
				PRODUCT_ID: obj.parents('dd').attr("data-videoProductId"),
				SPONSOR_SHOP_ID: obj.parents('dd').attr("data-webLinkid"),
				PRODUCT_STOCK_ID: obj.parents('dd').attr("data-productStockId"),
				QUANTITY:1
			}, function(r) {
				if('9999' == r.ErrorCode) {
					if(r.Message=='SUCCESS'){
						
						if(obj.parents('dl').find("dd").length<=1){
							obj.parents('dl').fadeOut(200);
							setTimeout(function(){
								obj.parents('dl').remove();
							},200);
						}else{
							obj.parents('dd').fadeOut(200);
							setTimeout(function(){
								obj.parents('dd').remove();
							},200);
						}
						setTimeout(function(){
							cartReset();
							if($(".cart-list dd").length==0){
								$('.nodata').css("display","block");
								$api.setStorage('cart',"false");
							}
						},200);	
					}
				} else {
					nui.toast($.i18n.prop("Oops, please try again"));
				}
				UILoading.closeFlower(loadingId);
			},undefined,api);
		}

		//左滑删除
//		var initX, moveX, X = 0, objX = 0;
//		window.addEventListener('touchstart',function(event){
//			event.stopPropagation();
//			var obj = $(event.target).parents('dd')[0];
//			if(typeof obj == 'object' && obj.tagName == 'DD'){
//				initX = event.targetTouches[0].pageX;
//				objX = (obj.style.WebkitTransform.replace(/translateX\(/g,'').replace(/px\)/g,''))*1;
//			}
//			if(objX == 0){
//				window.addEventListener('touchmove',function(event){
//					event.stopPropagation();
//					var obj = $(event.target).parents('dd')[0];
//					if(typeof obj == 'object' && obj.tagName == 'DD'){
//						moveX = event.targetTouches[0].pageX;
//						X = moveX - initX;
//						if(X > 0){
//							obj.style.WebkitTransform = "translateX(" + 0 + "px)";
//						}else if (X < 0){
//							var l = Math.abs(X);
//							if(l > 60)l = 60;
//							obj.style.WebkitTransform = "translateX(" + -l + "px)";
//							
//						}
//					}
//				});
//			}else if(objX < 0){
//				window.addEventListener('touchmove',function(event){
//					event.stopPropagation();
//					var obj = $(event.target).parents('dd')[0];
//					if(typeof obj == 'object' && obj.tagName == 'DD'){
//						moveX = event.targetTouches[0].pageX;
//						X = moveX - initX;
//						if(X > 0){
//							var r = -60 + Math.abs(X);
//							obj.style.WebkitTransform = "translateX(" + r + "px)";
//							if(r>0){
//								r=0;
//								obj.style.WebkitTransform = "translateX(" + r + "px)";
//							}
//						}else{
//							obj.style.WebkitTransform = "translateX(" + -60 + "px)";
//						}
//					}
//				});
//			}
//			
//		});
//		window.addEventListener('touchend',function(event){
//			event.stopPropagation();
//			var obj = $(event.target).parents('dd')[0];
//			if(typeof obj == 'object' && obj.tagName == 'DD'){
//				objX =(obj.style.WebkitTransform.replace(/translateX\(/g,"").replace(/px\)/g,""))*1;
//				if(objX>-30){
//					obj.style.WebkitTransform = "translateX(0px)";
//				}else{
//					obj.style.WebkitTransform = "translateX(-60px)";
//				}
//			}
//			$('.cart-list dd').each(function(){
//				var thisX = (this.style.WebkitTransform.replace(/translateX\(/g,'').replace(/px\)/g,''))*1;
//				if( thisX < 0 && thisX > -60){
//					if(thisX >= -30){
//						this.style.WebkitTransform = "translateX(0px)";
//					}else{
//						this.style.WebkitTransform = "translateX(-60px)";
//					}
//				}
//			});
//		});
		
	}
	function cartChange(){
		$(".cart-list").html('');
		getCartData();
	}
	$('body').on('change','[data-changeNum] input',function(){
		changeQty(this);
	})
	$('body').on('click touchstart','[data-changeNum]',function(){
		changeQty($(this).find('input'));
	})
	
	var timeChangeQty;
	function changeQty(obj){
		clearTimeout(timeChangeQty)
		timeChangeQty = setTimeout(function(){
			obj = $(obj).parents('[data-changeNum]');
			
			var changeOption = {
				OM_DEVICE_UUID:api.deviceId,
				ACTION:'change',
				PRODUCT_ID: obj.parents('dd').attr("data-videoProductId"),
				SPONSOR_SHOP_ID: obj.parents('dd').attr("data-webLinkid"),
				OLD_PID: obj.parents('dd').attr("data-videoProductId")+'_'+obj.parents('dd').attr("data-productStockId"),
				QUANTITY: obj.find("input[type=number]").val(),
				PRODUCT_STOCK_ID: obj.parents('dd').attr("data-productStockId")
			}
			$.mamall_request('b2c.cart.change',changeOption, function(r) {
				if('9999' == r.ErrorCode) {
					retryTimes = 0;
				}else if(r=='timeout' && retryTimes < 2){
					retryTimes ++;
					changeQty(obj);
				}
			}, undefined, api);
		},500);
		
	}
	
	</script>
</html>