<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>coupon list sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<style>
			html,body{ background: #fff;}
			#wrap{ background: #fff;}
            .none-data{ display: flex; justify-content: center; align-items: center; margin-top: 20%;}
            .none-data i{ font-size: 48px; color: #aaa; margin-right: 10px;}
            .none-data span{ font-size: 16px; color: #aaa;}
            .coupon-list li.alert-mode{ margin-top: 35px; margin-bottom: 35px;}
            .coupon-list li:first-child{ margin-top: 0 !important;}
            .cash-alert{ position: absolute; right: 0; bottom: -22px; font-size: 14px; color: #767676;}
            .cash-alert span{display: inline; color: #E62117; font-size: 14px;}
            .coupon-alert{ padding: 0 15px; width: 100%; background: #f6f6f6; line-height: 40px;}
			.coupon-alert p{color: #666;}
		</style>
		<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>

	<body>
		<div id="wrap" v-cloak><!---->
			<ul class="button-menu"></ul>
			<a v-if="availableCount>0" href="javascript:;" class="coupon-alert nui-ellipsis1">
				<p>* <ourmall i18n-tag>Coupon discount except shipping fees</ourmall>.</p>
			</a>
			<div v-if="items.length==0" class="none-data">
				<i class="ourmallfont icon0-coupon"></i>
				<span i18n-tag>No Available Coupon</span>
			</div>
			<ul class="coupon-list" >
				
				<!--<li>
					<div class="left">
						<div class="coupon-val"><span class="currency">€</span>20 <span class="off">OFF</span></div>
						<div class="coupon-range nui-ellipsis1">On orders € 200+</div>
					</div>
					<div class="right">
						<div class="coupon-date">
							<i class="ourmallfont icon0-time"></i>
							<span>30 Apr 2017</span>
						</div>
						<div class="coupon-select active"><i class="iconfont icon-duihao"></i></div>
					</div>
					<div class="cash-alert">Buying $<span>XX</span> more, the coupon is available. </div>
				</li>-->
				
				<li v-for="(item,index) in items" :class="{'disabled':item.status!=1,'alert-mode': item.alertMode}" tapmode @click="userCoupon(index)" >
					<div class="left" v-bind:style="item.useLimitAmount>0 ? '':'justify-content:center'">
						<div v-if="item.couponType==1" class="coupon-val"><span class="currency"  v-text="getDisplayCurrency('symbol')"></span>{{roundFixed(item.couponAmount)}} <span class="off" i18n-tag>OFF</span></div>
						<div v-else class="coupon-val">{{item.discount}}% <span class="off" i18n-tag>OFF</span></div>
						<div v-if="item.useLimitAmount>0" class="coupon-range nui-ellipsis1"><ourmall i18n-tag>Items Total</ourmall> {{getDisplayCurrency('symbol') + ' ' + item.useLimitAmount}} +</div>
					</div>
					<div class="right">
						<div class="coupon-date">
							<i class="ourmallfont icon0-time"></i>
							<span>{{item.dateValidTo}}</span>
						</div>
						<div class="coupon-select" :class="item.select==true?'active':''"><i class="iconfont icon-duihao"></i></div>
					</div>
					<div v-if="item.alertMode" class="cash-alert"><ourmall i18n-tag>Buying</ourmall> {{getDisplayCurrency('symbol')}} <span>{{roundFixed(item.hasNeedCash)}}</span> +, <ourmall i18n-tag>the coupon is available</ourmall>. </div>
				</li>
			</ul>
			<div class="pulldownload" style="position: relative; top: 5px; left: 0px; margin: 10px auto;">
		        <div class="loader" style="top: 4px;"></div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js"></script>
	<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
	<script src="../../script/vue.min.js"></script>
	<script type="text/javascript">
        // load langugae property files
        loadProperties();


        var isAction = true; //可不可以操作
	function AR() {
		var couponData = new Array; 
		var availableCount = 0;
		for(var i = 0; i < api.pageParam.couponData.length; i++){
			if(api.pageParam.couponData[i].status == 1){
				couponData.push(api.pageParam.couponData[i]);
				availableCount ++;
			}
		}
		for(var i = 0; i < api.pageParam.couponData.length; i++){
			if(api.pageParam.couponData[i].status != 1){
				couponData.push(api.pageParam.couponData[i]);
			}
		}
		for(var i = 0; i < couponData.length; i++){
			if(couponData[i].status == 2){
				couponData[i].alertMode = true;
				break;
			}
		}

		var couponListVM = new Vue({
			el:'#wrap',
			data: {
				items: couponData,
				useCoupon: api.pageParam.useCoupon,
				availableCount: availableCount
			},
			methods:{
				userCoupon: function(i){
					if(isAction == false) return;
					if(this.items[i].status != 1) return;
					isAction = false;
					if(this.items[i].select){
						useCoupon();
						this.items[i].select = false;
					}else{
						useCoupon(this.items[i].id);
						for( var j = 0; j < this.items.length; j++){
							if(i == j){
								this.items[i].select = true;
							}else{
								this.items[j].select = false;
							}
						}
						
					}
					
				}
			}
		});
	}
	function useCoupon(_ID){
		api.execScript({
		    name: 'order-confirm',
		    frameName: 'order-confirm-sub',
		    script: 'useCoupon(' + _ID + ')'
		});
		setTimeout(function(){
			api.closeWin({
			    name: 'coupon-list'
			});
		},500);
		
	}
	</script>
</html>