$MC-1: #222;
$SC-1: #D9A300;
$SC-2: #FFDA44;
$accountBg: url(../image/skin/black/6.png);
$flowerBg: url(../image/skin/black/backg2.png);
$logo: url(../image/skin/black/logo.png);
$logon: url(../image/skin/black/logon.png);
$loginBG: url(../image/skin/black/background-login.jpg);

.header .logo{
    background-image: $logo;
}
.header-container{
  background: $MC-1;
}
.mall-category ul .active a, .show-category ul .active a {
    border-bottom-color: $SC-1;
    color: $SC-1;
}
.explore-category ul li.active{
    border-bottom-color: $SC-1;
}
.explore-category ul li.active a{
    color: $SC-1;
}
.nui-icon-btn.active .nui-icon-btn-title, .nui-icon-btn.active i{
    color: $SC-1;
}
//group-buying
.groupbuying-top .top-right{
    background: $SC-2;
    color: $MC-1;
}
.groupbuying-top .top-right>*{
    color: $MC-1;
}
.groupbuying-top .top-right span>*{
    color: $MC-1;
}
.group-p-l .new-deal{
    background-color: $SC-2;
    color: $MC-1;
}
.group-p-l .new-deal:after{
   border-bottom-color: $SC-2; 
}
//cart
.cart-page #nui-headers{
    background: $MC-1;
}
.cart-action>a{
    background-color: $SC-1;
}
//cart-sub
.free-tips a .tips-l i{
    color: $SC-1;
}
.free-tips .text-danger{
    color: $SC-1;
}
.cart-list input[type=checkbox]:checked+.icon0-nocheck{
    color: $MC-1;
}
.cart-list dt .check-all .shop-title .ourmallfont{
    color: $SC-1;
}
//account-guest
.account-bg{
   background-image: $accountBg;
}
.account-top{
   background: #000;
}
//pro-detail-platform
.buttons.single-attr button.red{
    background: $SC-1;
}
.buttons.single-attr button{
    background:$SC-2;
    color: $MC-1;
}
.guarantee-inner{
    border-color: $MC-1;
}
.guarantee-inner .guarantee-title{
    color: $SC-1;
}
.guarantee-inner .guarantee-title i{
    color: $SC-1;
}
.guarantee-inner{
    background-image: $flowerBg;
}
.item-shipping div> span i{
    color: $SC-1;
}
.item-shipping div> span span{
    color: $SC-1;
}
//guarantee-mask
.guarantee .bottom-btn{
    background-color: $MC-1;
}
//guarantee-mask-sub
.guarantee-mask-sub .g-content{
    background-image: $flowerBg;
}
.guarantee-mask-sub .g-content h4{
    background-color: $SC-2;
}
//pay-mask
.pay-mask-page .buttons button.red{
    background: $SC-2;
    color: $MC-1;
}
.pay-mask-page #buyNonw{
    background: $MC-1;
}
.buttons.nui-fix.single-attr #buyNonw{
    background:$MC-1;
}
//mallGroup
.share-bage-wrap .new-deal{
    background: $SC-2;
    color: $MC-1;
}
.share-bage-wrap .new-deal:after{
    border-top-color: $SC-2;
}
//groupbuying-detail-platform
.groupbuying-detail-page .buttons.single-attr button{
    background: $MC-1;
    color: #fff;
}
//groupbuying-detail-platform-sub
.rules-list li.active .num{
    background: $SC-2;
    border-color: $SC-2;
    color: $MC-1;
}
.rules-list li.active+li:after{
    background:$SC-2;
}
//order-confirm-sub
.order-confirm-sub .p-bottom-bar>a{
    background:$MC-1;
}
.order-confirm-sub .p-bottom-bar>a[disabled=disabled]{
    background: #f1f1f1; 
}
.order-confirm-sub .p-bottom-bar{
    border-color: $MC-1;
}
.order-confirm-sub .card-list>li.title h2 i{
    color:  $SC-1;
}
.order-confirm-sub .order-card .card-detail .mui-badge-warning{
    color: $SC-1;
    border-color: $SC-1;
}
.order-confirm-sub .pay-s-group input[type=radio]:checked+.input-radio{
    border-color: $MC-1;
}
.order-confirm-sub .pay-s-group input[type=radio]:checked+.input-radio:before{
    background-color: $MC-1;
}
.order-confirm-sub #coupons h2 i{
    color: $SC-1;
}
//my-orders
body.my-orders .top-tabs>li>a.active{
    background-color: $SC-2;
    color: $MC-1;
}
//my-orders-group
body.my-orders-group .order-list .pay-action>a{
    background: $SC-2;
    color: $MC-1;
}
//login
.login-page .login-logo{
   background-image: $logon;
   background-color: transparent;
   box-shadow: none;
}
.login-page{
   background-image: $loginBG;
   background-size: 120%;
   background-position: center top;
}
//account-signed
.order-card .card-detail .mui-badge-warning{
    color: $SC-1;
    border-color: $SC-1;
}
//order-detail-sub
body.order-detail-sub .p-bottom-bar{
    border-color:$SC-1;
}
body.order-detail-sub .button-white{
    color: $SC-1;
}
body.order-detail-sub .button-red{
    background: $SC-1;
}
//sideFilter
body.sidefilter .bottom-action>a{ border-color: $SC-1;}
body.sidefilter .bottom-action>a:first-child{
    color: $SC-1; 
}
body.sidefilter .bottom-action>a:last-child{
    background:$SC-1;
}
//sidefilter-sub
body.sidefilter-sub .radio-group [type=radio]:checked+i{
    color: $SC-1;
}
