$SC-1: #222222;
$SC-6: #ffffff;
$SC-4: #ffc300;
$SC-5: #ffcd2c;
$MC-8: #ffd44b;
$MC-9: #afaeae;
$SC-7: #b3b3b3;
$SC-8: #cccccc;

$MC-3: #333;
$MC-4: #616161;
$MC-5: #9e9e9e;
$MC-6: #f5f5f5;
$MC-7: #424242;

$flowerBg: url(../image/skin/yellow/backg2.png);
.mall-pro-list .pro-info h4{
    color: $MC-4!important;
}
//main
.pulldownload .loader{
    border-top-color: $SC-1;
    border-right-color: $SC-1;
    border-left-color: $SC-1;
}
.pay-wait-mask .loader {
    border-bottom-color: $SC-1;
    border-left-color: $SC-1;
    border-top-color: $SC-1;
}
.sa-icon.sa-error {
    border-color: #f5511e;
}
header#header {
    height: 6.5rem;
}
.header-container{
    height: 3.5rem;
    background: $SC-5;
    position: relative;
}
.mall-category,.show-category,.explore-category,.home-category,.deal-category{
    height: 3rem;
    top: 3.5rem;
    background-color: $SC-6;
    border-color: $SC-6;
    box-shadow: 1px 1px 6px #dadada;
    -webkit-box-shadow: 1px 1px 6px #dadada;
    -moz-box-shadow: 1px 1px 6px #dadada;
}
.account-category{height: 2.5rem;box-shadow: 1px 1px 6px #dadada;-webkit-box-shadow: 1px 1px 6px #dadada;-moz-box-shadow: 1px 1px 6px #dadada;}
.header .right-btns span,.header-scan,.header .right-btns .iconfont, .header .right-btns .ourmallfont{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.5625rem;
}
.header .header-input{
    height: 40px;
}
.header .header-input input{
    height: 40px;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0.5rem 0;
    background: $MC-8;
    padding-left: 24px;
}
input::-webkit-input-placeholder {
    color: $MC-5;
}
input:-moz-placeholder {
   color:  $MC-5;
}
input::-moz-placeholder {
   color:  $MC-5;
}
input:-ms-input-placeholder {
   color:  $MC-5;
}
input:-ms-input-placeholder {
    color: $MC-5;
}
input::-webkit-input-placeholder {
    color: $MC-5;
}
.header .header-input span{
    height: 40px;
    line-height: 40px;
    top: 0.5rem;
    color:  $MC-4;
}
.mall-category ul, .show-category ul,.explore-category ul,.home-category ul,.deal-category ul {
    height: 3rem;
    line-height: 3rem;
}
.explore-category ul li.active,.mall-category ul li.active, .show-category ul li.active, .home-category ul li.active, .deal-category ul li.active{
    border-bottom-color: $SC-1;
    border-bottom: 2px solid $SC-1;
}
.home-category ul li.text-r.active { border-bottom-color: $SC-1;}
.home-category ul li.text-r a{color: $MC-9!important;}
.home-category ul li.text-r.active a{color: $SC-1!important;}
.explore-category ul li.active a,.mall-category ul li.active a, .show-category ul li.active a, .home-category ul li.active a, .deal-category ul li.active a{
    color: $SC-1;
    border-bottom: none;
}
.explore-category ul li a,.mall-category ul li a, .show-category ul li a, .home-category ul li a, .deal-category ul li a{
    color: $MC-9;
}
.nui-icon-btn.active .nui-icon-btn-title, .nui-icon-btn.active i{
    color: $SC-1;
}
.nui-before-line:before {
    display: none;
}
.nui-fix-button-group {
    height: 56px;
    border-top: 1px solid $SC-5;
    box-sizing: border-box;
}
.nui-icon-btn {
    padding: 0.4375rem 0.9375rem;
}
.nui-fix-button-group .nui-icon-btn .nav-container .nui-icon-btn-title{
    display: block;
    font-size: 14px;
    margin-top: 3px;
}
.nui-fix-button-group .nui-icon-btn {
    padding: 0;
}
.nui-fix-button-group .nav-container {
    margin: 0 auto;
    padding: 6px 0;
}
.nui-icon-btn i {
    width: 1.375rem;
    height: 1.375rem;
    font-size: 1.375rem;
    line-height: 1.375rem;
    margin: 0 auto;
    color: $SC-7;
}
.nui-icon-btn .nui-icon-btn-title, .nui-icon-btn i{
    color: $SC-7;
}
//search
.nui-headers .nui-header-item,.nui-headers .nui-header-item-inner{
    height: 56px;
    background: $SC-5;
}
.nui-headers .nui-header-item-inner .nui-header-input{
    height: 56px;
}
.nui-headers .nui-header-item-inner .nui-header-input input{
    border: none;
    height: 40px;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: $MC-8;
}
input{
    background-color:transparent;
    FILTER: alpha(opacity=0);
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.nui-header-item span.nui-header-right-icon, .nui-header-item span.nui-header-left-icon,.nui-header-item span.nui-header-right-icon+.icon0-filter{
    top: 11px;
    font-size: 1.5625rem;
}
.nui-header-item span.nui-header-right-icon:before, .nui-header-item span.nui-header-left-icon:before,.nui-header-item span.nui-header-right-icon+.icon0-filter:before{
    color: $SC-6;
    font-size: 1.5625rem;
}
.clearHistory{
    text-decoration: none;
    color: $SC-1;
}
.history-container li,.hot-sch>ul>li a{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: $MC-4;
    border-radius: 16px;
    padding: 0 16px;
}

//account-guest
#nui-headers.account-guest{
    background: $SC-5;
}
#login-nav>ul li.active span {
    color: $SC-1;
}
#login-nav>ul li.nui-after-line.active:after {
    background: $SC-1;
    height: 4px;
}
#login-nav>ul li,#login-nav>ul li span{
    background: $SC-6;
    height: 3rem;
    line-height: 3rem;
}
//account-signed
ul li a.mui-navigate-right,ul li a.mui-navigate-right>*{
    color: $MC-5;
}
.order-card .card-detail a,.order-card .card-detail a>*{
    color: $SC-1;
}
ul li a.mui-navigate-right .left i{
    color: $MC-5;
}
.order-card .card-detail a i,ul li a.mui-navigate-right i,.mui-table-view .left i {
    margin-right: 15px;
    font-size: 18px;
}
ul li a.mui-navigate-right>i{
    margin-right: 0;
}
.account-bg{
    background: $SC-5;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.account-info ul{
    margin-top: 0;
}
.account-info ul.mui-table-view li.m-b-10{
    box-shadow: 0 4px 4px #e6e6e6;
}
.account-info ul.mui-table-view li.m-b-10 a.mui-navigate-right i.icon-jiantou{
    margin: 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.account-info ul.mui-table-view>li{
    border-bottom: 1px solid $MC-6;
}
.account-bg .info-top,.account-bg .bonus-detail{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}
.account-bg .bonus-detail{
    //justify-content: space-around;
    margin-bottom: 0;
}
.account-bg .bonus-detail a {
    flex-grow: 1;
    text-align: center;
    padding: 0;
    color: #fff;
    max-width: 40%;
    overflow: hidden;
}
.account-bg .bonus-detail > span {
    flex-grow: 1;
    text-align: center;
    max-width: 60%;
    overflow: hidden;
}
.account-bg a.avatar-wrap,.account-bg .bonus-detail,.account-bg .title{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}
.account-bg a.avatar-wrap,.account-bg a.avatar-wrap img{
    width: 70px;
    height: 70px;
}
.account-bg a.avatar-wrap{
    margin: 0 20px 0 0;
}
.account-bg .title .c-name{
    font-size: 16px;
    color: $MC-7;
    font-weight: normal;
    margin-bottom: 10px;
}
.account-bg .title p{
    font-size: 14px;
    color: #fff;
}
.account-bg .bonus-detail:after{
    display: none;
}
.account-bg .bonus-detail a p,.account-bg .bonus-detail span{
    font-size: 14px;
    color: $MC-4;
}
.account-bg .bonus-detail a p.bonus-num, .account-bg .bonus-detail a p.balance-num{
    font-size: 14px;
}
.order-card{display: block;}
.order-card .card-detail a{text-align: left;}
.order-card .card-detail a>*{
    display: inline;
    vertical-align: middle;
}
.order-card .card-detail{
    width: 100%;
}
.order-card .card-detail .mui-badge-warning{
    position: relative;
    left: 0;
    top: 0;
    border-color: $SC-1;
    color: $SC-1;
}
a.log-out{
    color: $SC-1;
    border: 1px solid $SC-1;
}
.free-tips a .tips-l i{
    color: $SC-1;
}
.free-text .free-fee{
    color: $SC-1;
}
//order-confirm
.confirm-headers .nui-header-item{
    height: 56px;
    line-height: 56px;
    background: $SC-5;
}
.confirm-headers span.nui-header-left-icon{
    top: 11px;
    color: $SC-6;
}
.confirm-headers .nui-header-item>.title{
    line-height: 56px;
    color: $MC-7;
    font-size: 14px;
}
//order-confirm-sub
.card-list#address{
    margin: 0;
    padding-top: 16px;
}
.card-list#address:before{
    display: none;
}
#proLIst .card-list>li.title h2,.card-list#payments>li.title h2{
    height: 52px;
    line-height: 52px;
}
#proLIst .card-list,.card-list#payments,.card-list#bottomTotalPrice{
    margin: 3px 0;
}
#proLIst .card-list>li.pro-detail{
    padding: 15px;
    border-bottom: 1px solid $MC-6;
}
.card-list#payments>li.pay .pay-s-group{
    line-height: 52px;
}
.card-list>li{
    border-bottom: 1px solid $MC-6;
}
.card-list>li.title.shipping-title{
    border-bottom: none;
}
div.add-address{
    color: $SC-1;
}
li.shipping div.economy{
    color: $MC-4;
}
.card-list>li.order-add>a{
    height: auto;
    position: relative;
}
.card-list>li>a{
    display: block;
}
.card-list>li.order-add .left{
    flex-grow: inherit;
    width: 100%;
    max-width: 100%;
}
.card-list>li.order-add .info{
    height: auto;
    display: block;
}
.card-list>li.order-add .right span,.card-list>li.order-add .right .iconfont{
    font-size: 14px;
    vertical-align: middle;
    display: inline;
    color: $SC-1;
}
#address>li .right{
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 24px;
    height: 24px;
}
#address>li.order-add .right{
    right: 0;
}
.card-list>li.order-add .info .name{
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    color: $MC-3;
    margin-bottom: 16px;
    font-weight: normal;
}
.card-list>li.order-add .add-text{
    color: $MC-4;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    height: auto;
    max-height: 48px;
}
.order-confirm-sub .card-list>li.title h2 i{
    display: none;
}
.card-list>li.pro-detail .data span.price{
    color: $SC-1;
}
.card-list>li.title.shipping-title .right span{
    color: $SC-1;
}
.card-list>li.shipping .left .time span,.card-list>li.shipping .left .fee span{
    color: $SC-1;
    margin-left: 5px;
    font-size: 14px;
}
.card-list>li.shipping .left .time i,.card-list>li.shipping .left .fee i{
    color: $SC-1;
    margin-right: 5px;
}
.total-info span{
    color: $SC-1;
}
.order-confirm-sub .p-bottom-bar{
    background: $SC-6;
    border:none;
}
.order-confirm-sub .p-bottom-bar>a{
    background:$SC-1;
    border-color: $SC-1;
    height: 56px;
    line-height: 56px;
    font-size: 12px;
    font-weight: normal;
}
.order-confirm-sub .p-bottom-bar .total-info,.order-confirm-sub .p-bottom-bar .total-info>*{
    font-size: 14px;
}
.card-list>li.title h2 span{
    color: $MC-5;
    font-size: 14px;
}
.card-list > li.shipping-title h2 span{
    color: $MC-4;
    font-weight: bold;
}
.card-list>li.pro-detail .info h3{
    color: $MC-4;
}
.card-list>li.pro-detail .info .size{
    color: $MC-5;
}
.card-list>li.pro-detail .data span.num{
    color: $MC-5;
}
.chooseshipping .text-primary{
    color: $SC-1;
}
.card-list>li.shipping .shipping-wrap{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-content: center;
    line-height: 52px;
}
.card-list>li.shipping .left .time,.card-list>li.shipping .left .fee{
    display: flex;
    display: -webkit-flex;
    color: $MC-4;
}
.card-list>li.shipping .left .fee{
    margin-right: 20px;
}
.order-confirm-sub .pay-s-group input[type=radio]:checked+.input-radio{
    border-color: $SC-5;
    background: $SC-5;
}
.order-confirm-sub .pay-s-group input[type=radio]:checked+.input-radio:before{
    background-color: $SC-5;
}
.order-confirm-sub .pay-s-group label img {
    max-height: 18px;
    margin-right: 0;
}
.order-confirm-sub .p-bottom-bar>a[disabled=disabled]{
    background: #f1f1f1;
}

.order-confirm-sub .order-card .card-detail .mui-badge-warning{
    color: $SC-1;
    border-color: $SC-1;
}
.card-list>li.pro-detail .data a.edit-quatity{
    color: $SC-1;
}
//my-orders
body.my-orders .top-tabs>li>a.active{
    background-color: $SC-1;
    color: $SC-6;
}
//my-orders-group
body.my-orders-group .order-list .pay-action>a{
    background: $SC-1;
    color: $SC-6;
    border-radius: 0;
}
.order-list .pro-info .num-amount .amount,.pay-info .pay-type,.pay-info .pay-amount span{
    color: $SC-1;
}
.nui-headers .nui-header-item>.title{
    line-height: 56px;
    height: 56px;
    color: $MC-7;
    font-size: 14px;
    font-weight: normal;
}
//address-list
.p-bottom-bar,.p-bottom-bar a{
    height: 56px;
    line-height: 56px;
    background: $SC-1;
}
//address-list-sub
.card-list li.address-detail[data-default="true"] .info .add-d>span{
    color: $SC-5;
}
//edit-address-sub
.form-group input:checked+.checkbox-style{
    background-color: $SC-5;
    border-color: $SC-5;
}
.alert-msg span{
    color: $SC-5;
}
//feedback-sub
.feed-btn .feed-more,.nodata .feed-more{
    border-color: $SC-1;
}
//order-detail-sub
body.order-detail-sub .p-bottom-bar{
    border:none;
}
body.order-detail-sub .button-white{
    background: $SC-6;
    border-color: $SC-6;
    color: $SC-1;
}
body.order-detail-sub .button-red{
    background: $SC-1;
}
body.order-detail-sub .order-detail-list .text-primary{
    color: $SC-1!important;
}
//order-items-rate
.upload-rate-send{
    border: none;
    color: $SC-1;
    background: none;
}
.upload-rate-send[disabled=disabled]{
    background: none;
    border: none;
}
//setting
.nui-headers h4{
    line-height: 56px;
    color: $MC-7;
    font-size: 14px;
    font-weight: normal;
}
//side-filter
body.sidefilter .filter-header h1 {
    height: 48px;
    line-height: 48px;
}
body.sidefilter .bottom-action>a{
    height: 56px;
    line-height: 56px;
    color: $SC-1;
    font-size: 14px;
}
body.sidefilter .bottom-action>a>*{
    color: $SC-1;
    vertical-align: middle;
}
body.sidefilter .bottom-action>a>i{
    font-size: 24px;
    margin-right: 10px;
}
body.sidefilter .bottom-action>a:first-child{
    background: $SC-6;
    border: none;
    border-top: 1px solid #ddd;
}
body.sidefilter .bottom-action>a:last-child{
    background:$SC-1;
    border-color: $SC-1;
    color: $SC-6;
}
body.sidefilter .bottom-action>a:last-child>*{
    color: $SC-6;
}
body.sidefilter .mall-c-list li>a>.left{
    color: $MC-4;
}
body.sidefilter .mall-c-list li>a>.right span,body.sidefilter .mall-c-list li>a>.right i{
    color: $MC-5;
}
body.sidefilter .mall-c-list li>a {
    height: 48px;
    line-height: 48px;
}
body.sidefilter .radio-group [type=radio]:checked+i{
   color: $SC-5;
}
body.sidefilter .radio-group [type=radio]:checked+i:before {
    content: "\e63c";
    background: $SC-5;
    border-radius: 50%;
}
body.sidefilter .radio-group i{
    color: #e0e0e0;
}
body.sidefilter .icon0-nocheck:before{
    background: #e0e0e0;
    border-radius: 50%;
}
body.sidefilter .mall-c-list li {
    margin-bottom: 10px;
}
//sidefilter-sub
body.sidefilter-sub .show-c-list dt{
    height: 48px;
    line-height: 48px;
}
body.sidefilter-sub .radio-group [type=radio]:checked+i{
   color: $SC-5;
}
body.sidefilter-sub .radio-group [type=radio]:checked+i:before {
    content: "\e615";
}
body.sidefilter-sub .icon0-nocheck:before{
    content:" ";
}
body.sidefilter-sub .radio-group label {
    height: 48px;
    line-height: 48px;
}
body.sidefilter-sub .show-c-list dd{
    border-bottom: none;
}
//side-search-filter
.filter-header,.filter-header h1,.search-side-wrap h3,.search-side-wrap .category-list li,.search-side-wrap .category-list li a,.search-side-wrap .category-list ul li.active a{
    height: 48px;
    line-height: 48px;
}
body.side-search-filter .category-list ul li.active{
    border-color: $SC-1;
}
body.side-search-filter .bottom-action>a{
    height: 56px;
    line-height: 56px;
    color: $SC-1;
    font-size: 14px;
}
body.side-search-filter .bottom-action>a>*{
    color: $SC-1;
    vertical-align: middle;
}
body.side-search-filter .bottom-action>a>i{
    font-size: 24px;
    margin-right: 10px;
}
body.side-search-filter .bottom-action>a:first-child{
    background: $SC-6;
     border: none;
    border-top: 1px solid #ddd;
}
body.side-search-filter .bottom-action>a:last-child{
    background:$SC-1;
    border-color: $SC-1;
    color: $SC-6;
}
body.side-search-filter .bottom-action>a:last-child>*{
    color: $SC-6;
}
body.side-search-filter .radio-group [type=radio]:checked+i{
   color: $SC-5;
}
body.side-search-filter .radio-group [type=radio]:checked+i:before {
    content: "\e63c";
    background: $SC-5;
    border-radius: 50%;
}
body.side-search-filter .radio-group i{
    color: #e0e0e0;
}
body.side-search-filter .icon0-nocheck:before{
    background: #e0e0e0;
    border-radius: 50%;
}
body.side-search-filter .sort-wrap {
    padding: 5px 15px;
}
body.side-search-filter #wrap{
    padding-bottom: 56px;
}
//cart
.cart-page #nui-headers h2, .cart-page #nui-headers h2 span, .cart-page #nui-headers h2 ourmall{
    color: $MC-7;
    font-weight: normal;
    font-size: 14px;
}
.cart-page #nui-headers{
    background: $SC-5;
    padding: 0;
}
.cart-page .header-btn{
    color: $SC-1;
}
.cart-page #nui-headers.nui-headers .nui-header-item,.cart-page #nui-headers.nui-headers .nui-header-item h2{
    height: 56px;
    line-height: 56px;
    background: $SC-5;
}
.cart-page .cart-action  .total{
    height: 56px;
    line-height: 56px;
    background: $SC-6;
}
.cart-action  .total span{
    font-size: 14px;
    color: #333;
}
.cart-page .cart-action>a{
    background: $SC-1;
    line-height: 56px;
    font-size: 12px;
    font-weight: normal;
}
.cart-page .cart-action>a[disabled=disabled] {
    background-color: #bdbdbd;
}
.cart-page .cart-action  .total span.price span,.cart-action  .total span.price span.num{
    color: $SC-1;
}
//cart-sub
.cart-list dt .check-all .shop-title .shop-name{ font-size: 14px;color: $MC-5!important;}
.cart-list dd .info h3{
    color: $MC-4;
}
.cart-list input[type=checkbox]+.icon0-nocheck,.cart-list input[type=checkbox]+.ourmallfont{
    color: #e0e0e0;
}
.cart-list input[type=checkbox]+.icon0-nocheck:before,.cart-list input[type=checkbox]+.ourmallfont:before{
    background: #e0e0e0;
    border-radius: 50%;
}
.cart-list input[type=checkbox]:checked+.icon0-nocheck{
    color: $SC-5;
}
.cart-list input[type=checkbox]:checked + .icon0-nocheck:before, .cart-list input[type=checkbox]:checked+.ourmallfont:before{
    background: $SC-5;
    color: $SC-5;
    border-radius: 50%;
}
.cart-list .nui-number-box{
    border: none;
    line-height: 24px;
    width: 100px;
}
.nui-number-box .nui-number-box-input {
    padding: 0 1.875rem;
}
.cart-list .nui-number-box .nui-number-box-input input {
    border: 1px solid #e0e0e0;
    background: #fafafa;
    color: $MC-3;
    border-radius: 3px;
}
.nui-number-box> button:first-child, .nui-number-box> button:last-child{
    border: #e0e0e0 1px solid;
    width: 24px;
    border-radius: 50%;
    line-height: 24px;
    vertical-align: middle;
}
.nui-number-box> button:first-child{
    line-height: 20px;
}
.nui-number-box> button:last-child i{
    display: block;
    line-height: 22px;
    color: $MC-3;
}
.cart-list dl{
    border-bottom: none;
}
.cart-wrap .prolist .like-pro-list-title {
    color: #333;
    font-weight: normal;
    text-align: center;
    height: 52px;
    line-height: 52px;
    border: none;
    margin-top: 3px;
    font-size: 16px;
}
#relateProducts li .info-bottom{
    background: transparent;
}
#relateProducts li .info-bottom span{ position: absolute; bottom:5px; right:7px; border-radius: 4px;
background:rgba(45,55,57,.6); color: #fff; font-size: 12px; padding: 0 5px;}
.cart-wrap .prolist ul{
    background: #eee;
}
.cart-wrap .prolist li{
    width: 49%;
    flex-grow: 1;
    margin: .5%;
    background: #fff;
    padding: 0;
    box-sizing: border-box;
}
.cart-wrap .prolist li a{
    border: none;
}
.cart-list dd .info .price{
    color: $MC-3;
    font-weight: bold;
}
.cart-list dd .side-btn{
    background: $SC-1;
    color: $SC-6;
}
.cart-list dd .attr-info .edit i{
    color: #333333;
}
.cart-list dd .attr-info .attr{
    color: #9e9e9e;
}
.cart-list dd .attr-info .attr span{
    color: #SC-1;
}
//pro-detail-platform
body.pro-detail-platform .bottom-button-group>[data-type="cart"].active:before{background: $SC-5;}
body.pro-detail-platform .bottom-button-group>[data-type="like"].active i{ color: $SC-5;}
body.pro-detail-platform .bottom-button-group>[data-type="like"].active i:before{content: "\e616";}
.buttons{
    height: 56px;

}
.buttons.single-attr .bottom-button-group {
    background: $SC-6;
    border-color: #ddd;
    min-width: 50%;
}
.buttons .bottom-button-group>a{
    line-height: 56px;
}
.bottom-button-group>a i{
    color: $SC-7;
    font-size: 22px;
}
.buttons.single-attr button{
    height: 56px;
    line-height: 56px;
    //background: $SC-1;
}
.buttons.single-attr button.red{
    height: 56px;
    line-height: 56px;
    background: $SC-1;
    border-color: $SC-1;
    font-size: 14px;
}
.star-group .star-bg{
    background: $SC-1;
}
//pro-detail-platform-sub
.specific>.title {
    line-height: 48px;
    position: relative;
    color: #767676 !important;
}
.review{
    margin: 0;
}
.specific a.specifics-more, .specific a.specifics-more i {
    text-decoration: none;
    color: #9e9e9e;
}
.specific .content{
    max-height: 0;
    overflow: hidden;
    display: none;
}
.specific.more .content{
    display: block;
}

.specific a.specifics-more {
    display: block;
    font-size: 14px;
    position: absolute;
    right: 0;
    width: auto;
    background: none;
    height: 48px;
    line-height: 48px;

}
.specific.more a.specifics-more {
    display: block;
    width: auto;
    background: none;
    height: 48px;
    line-height: 48px;
}
.specific .more:before,.specific.more .more:before{ content:"";}
.shipping-wrap .payment .title h3,.shipping-wrap .payment .title h3>*,.item-shipping-content>span,.shipping .nui-list-view .nui-list-item.nui-list-licon p.nui-list-title,.shipping .shipping-items>*{
    font-size: 14px!important;
    color: #767676 !important;
    font-weight: 300!important;
}
.shipping .nui-list-view .nui-list-item.nui-list-licon p.nui-list-title,.shipping-wrap .payment .title h3>*{
    color: #767676 !important;
    font-weight: 300 !important;
}
.shipping .shipping-items>*,.item-shipping-content>span{
    font-weight: normal!important;
}

.nui-headers.pro-detail-header .nui-header-item {
    background: none;
}
.nui-headers.pro-detail-header .nui-header-item span.nui-header-left-icon{
  background: rgba(224,224,224,0.5);
  border-radius: 50%;
  line-height: 38px;
}
.nui-headers.pro-detail-header .nui-header-item span.nui-header-left-icon:before{
    color: $MC-3;
    margin-left: -5px;
}
.item-shipping div> span i{
    color: $SC-1;
    margin-right: 5px;
}
.item-shipping div> span span{
    color: $SC-1;
}
.guarantee-inner .guarantee-title,.guarantee-inner .guarantee-title>*{
    color: $SC-1;
}
.guarantee-inner .guarantee-title i{
    color: $SC-1;
}
.guarantee-inner{
    border: none;
    background-image: none;
}
.guarantee-inner{
    //background: #fdf497;
}
.price-row p {
    width: 100%;
    float: none;
    color: #333;
    text-align: center;
}
.price-row p.stars{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px 0 5px;
}
.price-row p.stars span.val{
    margin-top: 2px;
    font-size: 16px;
    color: $MC-5;
}
.price-row p span.new{
    color: #333;
    font-weight: bold;
    float: none;
}
.review.review-shop h3 .shop-info {
    padding-left: 0;
    max-width: 60%;
}
.review.review-shop h3 .shop-info span {
    margin: 0;
}
.review .title a {
    max-width: 40%;
    height: 48px;
    line-height: 48px;
    padding-right: 25px;
}
.review .title a>* {
    color: #767676;
    display: block;
    height: 48px;
}
.review .title a i {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;
}

.pagination-container li.active {
    background: $SC-1;
}
.prolist ul.like-pro-list{
    padding: 0;
    overflow: hidden;
}
.prolist .like-pro-list-title {
    color: #333;
    font-weight: normal;
    text-align: center;
    height: 56px;
    line-height: 56px;
    border: none;
    margin-top: 0px;
    font-size: 16px;
}
.shipping-wrap .content{
    display: none;
    overflow: hidden;
    border-bottom: 10px solid #f0f0f0;
    padding: 0 .625rem;
}
.shipping-wrap.more .content {
    display: block;
}
.shipping-wrap .title span.right {
    font-size: 14px;
    position: absolute;
    right: 5px;
    width: auto;
    background: none;
    height: auto;
    line-height: none;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.shipping-wrap.more .title span.right {
    width: auto;
    background: none;
    height: auto;
    line-height: none;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}
.shipping-wrap.more .title span.right i{
     color: #616161;
}
#relateProducts li .pro-thumb .pro-price{ position: absolute; bottom:5px; right:7px; border-radius: 4px;
background:rgba(45,55,57,.6); color: #fff; font-size: 12px; padding: 2px 5px;width: auto;left: auto;}
.prolist ul{
    background: #eee;
}
.prolist li{
    width: 49%;
    flex-grow: 1;
    margin: .5%;
    background: #fff;
    padding: 0;
    box-sizing: border-box;
}
.prolist .like-pro-list li div.pro-thumb{
    border: none;
}
.item-overview .title>h3,.item-overview .overview-content h4,.shipping-wrap .title h3{
    height: 38px;
    line-height: 38px;
    font-weight: normal;
    font-size: 14px;
    color: $MC-3;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.shipping-wrap .title h3{
    height: 48px;
    line-height: 48px;
    font-weight: 400!important;
    padding: 0 .625rem;
    color: #767676;
}
.item-overview .title,.shipping-wrap .title{
    position: relative;
}
.shipping-wrap .title{
    padding: 0;
}
.item-overview div.title>span,.shipping-wrap div.title>span{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}
.item-overview .title>span i,.shipping-wrap .title>span i{
    color: $MC-5;
}
.item-overview .overview-content h4{
    border-bottom: none;
}
.item-overview .overview-content p{
    color: $MC-4;
    line-height: 20px;
}
.review.review-shop .title h3{
    border-bottom: none;
}
#wrap.pro-detail-wrap{
    background: #fff;
    border-bottom: 3px solid #f1f1f1;
}
.item-shipping:first-child{
    padding: 0;
}
.item-shipping .right{
    text-align: left;
}
.pro-detail-wrap>div.review-shop,.pro-detail-wrap>div.info,.pro-detail-wrap>div.info-share {
    padding: 0 0 0.625rem 0;
    margin: 0 0.625rem;
    background: #FFFFFF;
    border-bottom: 1px solid #ddd;
}
.pro-detail-wrap>div.review-shop{
    border-bottom: 10px solid #f0f0f0;
}
.pro-detail-wrap > div.review-shop{
    margin: 0;
    padding: 0 .625rem !important;
}
.pro-detail-wrap > div.info{
    margin: 0 10px 0;
    padding: 0 .625rem 0.625rem .625rem 0;
    border-bottom: 2px solid #f0f0f0;
}
.info-share .icon-group{
    top: 35px;
}
.shipping-wrap .nui-list-view .nui-list-item.nui-list-licon,.shipping-wrap .shipping,.shipping-wrap .payment .title h3{
    border-bottom: none;
}
.shipping-wrap .payment .title,.pro-detail-wrap .review-shop .title{padding: 0;}
.pro-detail-wrap .review-shop{
    margin: 0 0.625rem;
    padding: 0.625rem 0;
    border-bottom: 1px solid #ddd;
}
#wrap.pro-detail-wrap .info .pro-title{
    max-height: 3rem;
    line-height: 1.5rem;
}
.pro-detail-wrap .specific{
    border-bottom: none;
    margin: 0;
    padding: 0;
}
//rating-box
.rating-box{background-color:$SC-1; }
.rating-box .action a.confirm,.rating-box .fb-action a.confirm{ background-color: $SC-6; color: #fff; }
//pro-detail-review
body.pro-detail-review .nui-headers .nui-header-item{background: $SC-5!important;}
body.pro-detail-review .nui-headers .nui-header-item h2.title>*{
    color: $MC-7!important;
    line-height: 56px;
    font-size: 14px;
    font-weight: normal;
}
body.pro-detail-review #nui-headers .review-pic{
    color: $SC-6!important;
}
//pay-mask
.spec-row li.spec-item{
    color: #666666;
}
.spec-row li.spec-item.active{
    background: $SC-5;
    color: $SC-1;
    border: none;
}
.spec-row li.spec-item.img.active{
    border: $SC-5 1px solid;
    background: transparent;
}
.pay-mask-page .buttons button{
    height: 56px;
    line-height: 56px;
    background: $SC-6;
    border-top: 1px solid #ddd;
    color: $SC-1;
    font-size: 14px;
}
.pay-mask-page #buyNonw{
    background: $SC-1;
}
.pay-mask-page #btnKillBuy{
    background: $SC-1;
}
.pay-mask-page .buttons.nui-fix.single-attr #buyNonw{
    background:$SC-1;
}
.pay-mask-page .nui-number-box{
    border: none;
    position: relative;
}
.pay-mask-page .nui-number-box .nui-number-box-input {
    padding: 0 2.25rem;
}
.pay-mask-page .nui-number-box .nui-number-box-input input {
    border: 1px solid #e0e0e0;
    background: #fafafa;
    color: $MC-3;
    border-radius: 3px;
}
.pay-mask-page .nui-number-box> button:first-child,.pay-mask-page .nui-number-box> button:last-child{
    border: #e0e0e0 1px solid;
    width: 30px;
    border-radius: 50%;
    line-height: 28px;
    vertical-align: middle;
    height: 30px;
    color: $MC-3;
}
.pay-mask-page .nui-number-box> button:first-child{
    line-height: 24px;
}
.pay-mask-page .spec{
    padding-bottom: 66px;
}
.pay-mask-page .number{
    height: auto;
}
.pay-mask-page .spec-title{
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.875rem;
}
.pay-mask-page #info .content span.price,#info .content span.price span{
    color: $SC-1;
}
//pay-mask-edit
.pay-mask-edit .buttons button:last-child{
    background: $SC-1;
}
.pay-mask-edit .buttons,.pay-mask-edit .buttons button{
    height: 56px;
    line-height: 56px;
    background: $SC-1;
    border-color: $SC-1;
    color: $SC-6;
    font-size: 14px;
}
.pay-mask-edit #buyNonw{
    background: $SC-1;
}
.pay-mask-edit .buttons.nui-fix.single-attr #buyNonw{
    background:$SC-1;
}
.pay-mask-edit .nui-number-box{
    border: none;
    position: relative;
}
.pay-mask-edit .nui-number-box .nui-number-box-input {
    padding: 0 2.25rem;
}
.pay-mask-edit .nui-number-box .nui-number-box-input input {
    border: 1px solid #e0e0e0;
    background: #fafafa;
    color: $MC-3;
    border-radius: 3px;
}
.pay-mask-edit .nui-number-box> button:first-child,.pay-mask-edit .nui-number-box> button:last-child{
    border: #e0e0e0 1px solid;
    width: 30px;
    border-radius: 50%;
    line-height: 28px;
    vertical-align: middle;
    height: 30px;
    color: $MC-3;
}
.pay-mask-edit .nui-number-box> button:first-child{
    line-height: 24px;
}
.pay-mask-edit .spec{
    padding-bottom: 66px;
}
.pay-mask-edit .number{
    height: auto;
}
.pay-mask-edit .spec-title{
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.875rem;
}
#info .content span.price,#info .content span.price span{
    color: $SC-1;
}
//guarantee-mask
.guarantee .bottom-btn{
    background-color: $SC-1;
}
//guarantee-mask-sub
.guarantee-mask-sub .g-content{
    background-image: $flowerBg;
}
.guarantee-mask-sub .g-content h4{
    background-color: $SC-1;
    color: $SC-6;
}
//feedback-input
#sendFeedback .action button.btn-white{
    background-color: $SC-1!important;
    border-color: $SC-1!important;
}
//chat-message
body.chat-message .top-btn-right{
    color: $SC-6;
}
//chat-message-sub
body.chat-message-sub .input-msg-group .submit{
    background: $SC-6;
    color: $SC-5;
}
body.chat-message-sub .input-msg-group .submit i{
    color: $SC-5;
}
body.chat-message-sub .message-focus .price{
    color: $SC-1;
}
body.chat-message-sub .qa dt.active span{
    color: $SC-1;
}
body.chat-message-sub .qa-title {
    background-color: $SC-6;
    background-size: 95px;
}
body.chat-message-sub .qa-title p span{
    color: $SC-1;
    font-weight: bold;
    padding-left: 35%;
    text-align: right;
}
body.chat-message-sub .chat-bubble-list>li.right .chat-bubble{
    background: $SC-5;
}
body.chat-message-sub .chat-bubble-list .right .chat-bubble .arrow{
    border-left-color: $SC-5;
}
body.chat-message-sub .fixed-footer{
    border-top: 1px solid $SC-5;
    padding-top: 12px;
}
body.chat-message-sub .fixed-footer textarea{
    border-bottom-color: transparent;
    height: 24px;
}
//FAQ-sub
body.faq-sub .faq-wrap dt.active span{
    color: $SC-1;
    font-weight: bold;
}
//size-guide
body.size-guide #nui-headers .nui-header-item{
    background: $SC-5;
}
body.size-guide .nui-header-item span.nui-header-right-icon, .nui-header-item span.nui-header-left-icon{
    background: none;
}
body.size-guide #nui-headers h2{
    font-size: 14px;
    font-weight: normal;
    line-height: 56px;
}
//mallGroup
.share-bage-wrap .new-deal{
    background: $SC-1;
    color: $SC-1;
}
.share-bage-wrap .new-deal:after{
    border-top-color: $SC-1;
}
//setting
body.setting .mui-table-view .left span{
    font-size: 16px;
    color: $MC-5;
}
//my-coupon-list
.coupon-list li .coupon-val{
    color: $SC-1;
}
.expire-alert span{
    color: $SC-1;
}
.coupon-list li .coupon-val .off{
    color: $SC-1;
}
.cash-alert span{
    color: $SC-1;
}
.coupon-list li .coupon-val .currency{
    color: $SC-1;
}
.order-list .pay-action.track-receive-btn>a.track-info{
    border-color:$SC-1;
    color: $SC-1;
    background:$SC-6;
}
.trackinfo-detail .package-category a.active{
    border-color: $SC-1;
    color: $SC-1;
}
.header .scroller {
  text-transform: uppercase;
 }

 .feedback-header .nui-header-item span.nui-header-left-icon:before{
   color: $MC-7;
 }
 .feedback-header .nui-header-item span.nui-header-right-icon:before{
   color: $SC-5;
 }
 .feedback-header .nui-headers .nui-header-item {
 background: $SC-6;
 border-bottom: 1px solid $SC-8;
 }
 .feedback-header .nui-headers {
   background: $MC-6 !important;
 }
.buyer-protection {
  border-bottom: 3px solid #f1f1f1;
  font-size: 14px;
  background: $SC-6;
  padding: 0 10px 10px;
}
.buyer-protection-title{
  line-height: 48px;
  position: relative;
}
.buyer-protection-title > span{
  display: inline-block;
  font-size: 16px;
  color: #767676;
}
.buyer-protection-title > a{
  display: inline-block;
  font-size: 14px;
  position: absolute;
  right: 0;
  width: auto;
  background: none;
  height: 48px;
  line-height: 48px;
  color: #9e9e9e;
}
.buyer-protection-title > a > i{
  color: #9e9e9e;
}
.buyer-protection p {
  display: block;
  font-size: 14px;
  margin-bottom: 7px;
}
