@import "ourmall/iconfont.css";
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482151588680'); /* IE9*/
  src: url('iconfont.eot?t=1482151588680#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482151588680') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482151588680') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482151588680#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before { content: "\e600"; }

.icon-facebook:before { content: "\e617"; }

.icon-twitter:before { content: "\e634"; }

.icon-pinterest:before { content: "\e621"; }

.icon-jiahao:before { content: "\e62a"; }

.icon-guanbi:before { content: "\e603"; }

.icon-shouye:before { content: "\e6a2"; }

.icon-wo:before { content: "\e6a3"; }

.icon-youtube:before { content: "\e953"; }

.icon-hert:before { content: "\e616"; }

.icon-fenxiang:before { content: "\e775"; }

.icon-iconfontmark:before { content: "\e624"; }

.icon-gouwuche:before { content: "\e611"; }

.icon-weibiaoti205:before { content: "\e61a"; }

.icon-jiantou:before { content: "\e608"; }

.icon-duihao:before { content: "\e625"; }

.icon-fanhuidingbu:before { content: "\e61c"; }

.icon-jiantou2:before { content: "\e672"; }

.icon-gouwudai:before { content: "\e626"; }

.icon-biao:before { content: "\e601"; }

.icon-jiantou1:before { content: "\e60b"; }

.icon-zhuye:before { content: "\e663"; }

.icon-xin:before { content: "\e641"; }

.icon-jiantou-copy:before { content: "\e655"; }

.icon-shanchu:before { content: "\e770"; }

.icon-huifu:before { content: "\e61b"; }

.icon-yunfeizhifu:before { content: "\e65b"; }

.icon-shipin:before { content: "\e669"; }

.icon-huangguan:before { content: "\e7b1"; }

.icon-bofang:before { content: "\e607"; }

.icon-dunpai:before { content: "\e6a1"; }

.icon-google:before { content: "\e635"; }

.icon-sousuo-sousuo:before { content: "\e662"; }

.icon-feiji11:before { content: "\e602"; }

.icon-Instagram:before { content: "\e60f"; }

.icon-jinbi1:before { content: "\e637"; }

@font-face {font-family: "v2_iconfont";
  src: url('v2_fonts/iconfont.eot'); /* IE9*/
  src: url('v2_fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('v2_fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('v2_fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('v2_fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}
