<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>chat message sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/show.css" />
		<link rel="stylesheet" href="../../css/chat-messge.css" />
		<style>
			html,body{ background: #e6e6e6; min-height: 100%;}
			#wrap{ min-height: 100%; padding: 15px 15px 0; margin-bottom: 60px;}
			.new-msg{ position: absolute; top: -25px; left: 50%; z-index: 1; -webkit-transform: translateX(-50%); transform: translateX(-50%); height: 22px; line-height: 22px; 
			background:rgba(21,21,21,.7); font-size: 12px; color: #fff; padding: 0 8px; border-radius: 4px;}
			.new-msg>i{ color: #fff; font-size: 12px;}
			.qa{ margin-bottom: 25px; background:#fff; padding: 10px 0 10px 0; border-radius: 0 0 8px 8px;}
			.qa dt{ display: flex; justify-content: space-between; align-items: center; padding: 0 15px; color: #222; font-size: 12px; line-height: 32px;
			 border-bottom: 1px #ddd solid;}
			.qa dt i{ color: #999;}
			.qa dd{ overflow: hidden; height: 0; padding: 0 15px; color: #767676; font-size: 12px; line-height: 22px;}
			.qa dt.active{ border-bottom: 1px #ddd solid !important;}
			.qa dt.active span{ color: #E62117; font-weight: 700;}
			.qa dt.active i{ -webkit-transform:rotate(180deg); transform: rotate(180deg);}
			.qa dt.active+dd{ height: auto; border-bottom: 1px #ddd solid; padding-top: 10px; padding-bottom: 10px;}
			.qa dt.last.active+dd{ border-bottom: none;}
			.qa-title{ position: relative; min-height: 60px; background-color: #E62117; border-radius: 8px 8px 0 0;
			background-image: url(../../image/icon-bg.png); background-repeat: no-repeat; background-size: auto 180%; background-position: 15px 10px;}
			.qa-title p{ color: #fff; font-size: 16px; width: 100%; padding-top: 12px; padding-right: 15px;}
			.qa-title p span{ color: #fff; line-height: 22px;}
			.qa-title p span:first-child{ text-align: right; font-size: 14px;}
			.qa-title p span:last-child{ font-size: 12px; opacity: .9;}
			.qa dt.last{ border-bottom: none;}
			.ios-fixed-hack #wrap{ overflow-y:scroll; -webkit-overflow-scrolling:touch;}
			.ios-fixed-hack .fixed-footer{ position: static; bottom: 0;}
		</style>
		<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>

	<body class="chat-message-sub">
		<div id="wrap" v-cloak>
			<div class="pulldownload" v-show="pageLoading && loadingShow" style="display: block;">
		        <div class="loader"></div>
			</div>
			<!--初始欢迎-->
			<ul class="chat-bubble-list" v-if="welcomeShow">
				<li>
					<div class="chat-bubble-wrap">
						<div class="chat-avatar" style="background-image:url(../../image/om-avatar.png)"></div>
						<div class="chat-bubble" style="max-width: 80%;">
							<p i18n-tag>Dear, you are welcome to ZoodMall. I am your online shopping assistant. I am here to help you solve all the problems. Let me know what I can do for you.</p>
							<div class="arrow"></div>
						</div>
					</div>
					<div class="time"></div>
				</li>
			</ul>	
			<div class="qa-wrap"  v-if="welcomeShow">
				<div class="qa-title">
					<p>
						<span i18n-tag>Feel free to contact us</span>
						<span i18n-tag>When you have any questions</span>
					</p>	
				</div>
				<dl class="qa">
					<template v-for="(item,index) in qaList">
						<dt tapmode :class="{last: index == qaList.length-1,active: item.active}" @click="qaListActive(index)">
							<span v-text="$.i18n.prop(item.Q)"></span>
							<i class="iconfont icon-jiantou-copy"></i>
						</dt>
						<dd v-text="$.i18n.prop(item.A)"></dd>
					</template>
				</dl>
			</div>
			<!--历史聊天-->
			<ul class="chat-bubble-list">
				<li v-for="(item,index) in historyChatList" :class="item.status == 2 ? 'right':'' ">
					<a v-if="item.status == 3 && ( item.pic || item.title )" href="javascript:;" class="message-focus" tapmode :onclick="'openParentPage('+ JSON.stringify(item) +')'">
						<div class="p-pic" :style="{backgroundImage: 'url(' + item.pic + ')'}">	
						</div>
						<div class="right">
							<div class="p-name nui-ellipsis2" v-text="item.title"></div>
							<div class="price" v-text="getDisplayCurrency('symbol') + getDisplayCurrencyNumber(item.price)"></div>
							<div class="action"><ourmall i18n-tag>more</ourmall>...</div>
						</div>
					</a>
					<div class="time" v-text="getLocalTimeFromDatetime(item.time, 'en')" v-else></div>
					<div class="chat-bubble-wrap" v-if="item.status == 1 || item.status == 2">
						<div class="chat-avatar" :style="avatarShow(item.status)"></div>
						<div class="chat-bubble">
							<p v-html="item.text"></p>
							<div class="arrow"></div>
						</div>
					</div>
					
				</li>
			</ul>	
			<ul class="chat-bubble-list">
				<li>
					<a v-if="parentPage.pic|| parentPage.title" href="javascript:;" class="message-focus" tapmode :onclick="'openParentPage('+ JSON.stringify(parentPage) +')'">
						<div class="p-pic" :style="{backgroundImage: 'url(' + parentPage.pic + ')'}">	
						</div>
						<div class="right">
							<div class="p-name nui-ellipsis2" v-text="parentPage.title"></div>
							<div class="price" v-text="getDisplayCurrency('symbol') + getDisplayCurrencyNumber(parentPage.price)"></div>
							<div class="action">
								<ourmall i18n-tag>more</ourmall>...
							</div>
						</div>
					</a>
				</li>
				<li v-for="(item,index) in chatList" :class="item.status == 2 ? 'right':'' ">
					<div class="time" v-text="getLocalTimeFromDatetime(item.time, 'en')"></div>
					<div class="chat-bubble-wrap">
						<div class="chat-avatar"  :style="avatarShow(item.status)"></div>
						<div class="chat-bubble">
							<p v-html="item.text"></p>
							<div class="arrow"></div>
						</div>
					</div>
				</li>
				<li v-if="!!submitting.text" class="submitting right">
					<div class="chat-bubble-wrap">
						<div class="chat-avatar" :style="avatarShow(submitting.status)"></div>
						<div class="chat-bubble">
							<p v-html="submitting.text"></p>
							<div class="arrow"></div>
							<div class="loading"><i class="ourmallfont icon0-loading"></i></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="fixed-footer">
			<div v-cloak v-show="newMsg" class="new-msg" tapmode onclick="showNewMsg();"><ourmall i18n-tag>New messages</ourmall><i class="iconfont icon-jiantou"></i></div>
			<div class="input-msg-group">
				<textarea id="inputMsg" onfocus="scrollToBottom();" placeholder="Please type your question here"></textarea>
				<button id="inputSubmit" class="submit" type="button" tapmode onclick="submitMessage()"><i class="ourmallfont icon0-p-air"></i></button>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js"></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js"></script>
	<script type="text/javascript" src="../../script/homeGroupCommon.js"></script>
	<script type="text/javascript" src="../../script/vue.min.js"></script>
	<script type="text/javascript" src="../../script/chat-message.js"></script>
	<script type="text/javascript">
	if(localStorage.getItem('DEFAULT_APP_LANGUAGE')== 'fa')
		$('head').append('<link rel="stylesheet" type="text/css" href="../../css/style-rtl.css">');
    // load langugae property files
    loadProperties();

    //输入框自动大小
	$(".input-msg-group textarea").autogrow();
	//
	$(window).scroll(function(){
		var docH = $(document).outerHeight()
		var scrollTH = api.frameHeight + $(window).scrollTop();
		if(docH<scrollTH+10){
			showNewMsgVM.newMsg = false;
		}
	});
	//初始化
	var showUploadVM,showNewMsgVM,page = 1,totalPage = 1,newMsg = false,loadingShow = true;
	var submitMessage = openParentPage = updateHistoryMessage = saveMessage = onloadChating = showNewMsg = firstLoad =  function(){};
	var userInfo = JSON.parse(localStorage.getItem('OURMALL_USERINFO'));
	var isFirstLoad = true;
	var chatListCache = $api.getStorage('OURMALL_CHATLIST');
	var openOrderDetail = function(code){
		$api.openWin({
			name: 'order-detail',
			url: 'widget://html/account/order-detail.html',
			reload:true,
			animation:{
				type:"movein",
				subType:"form_right"
			},
			pageParam:{
				code:code
			}
		});
	}
	var qaList = [
					{ active: false, Q: "How about the quality of ZoodMall Items?", A: "ZoodMall Items are of good quality with good price."},
					{ active: false, Q: "Do ZoodMall offer coupon and how to use it?", A: "Yes! You will be rewarded coupons when you register as a new user. If you invite your friends to register on ZoodMall via our invitation link, you will get coupons when your friend pay the the first order successfully. Before you pay order, click and choose available coupon from the ‘coupon column’ which is below the ‘payment column’ instead of redeemed coupon by inputting coupon code."},
					{ active: false, Q: "How much does ZoodMall charge shipping fees?", A: "Your shipping charge will display in the order confirmation page. Some products' shipping are charged free."},
					{ active: false, Q: "What forms of payment do ZoodMall accepts?", A: "ZoodMall currently accepts Credit Card, Debit Card via Paypost for all orders. It is safe for you to use your Credit Card or Debit Card online."},
					{ active: false, Q: "How long will the order take to arrive?", A: "For standard shipping, you should receive your order within 15-45 (import) and 1-2 days (local) business days except for special cases like holiday, Customs clearance delay etc.."},
					{ active: false, Q: "How do I return my order?", A: "Please contact ZoodMall's Support Team."}
				]
	function AR() {
		$('textarea').each(function(){
			if($(this).attr('placeholder')) {
				$(this).attr('placeholder', $.i18n.prop($(this).attr('placeholder')));
			}
		});
		//模板
		showUploadVM = new Vue({
			el: '#wrap',
			data: {
				welcomeShow: false,
				qaList: qaList,
				pageLoading: true,
				avatar: {sys: '../../image/om-avatar.png', customer: '../../image/d-avatar.jpg', scale: 1},
				chatList: [],   //聊天列表
				historyChatList: [], //历史聊天列表
				submitting: { text: '', status: 2}, //正在发送的消息
				parentPage:{},
				loadingShow:loadingShow
			},
			mounted: function(){
				scrollToBottom();
			},
			methods: {
				qaListActive: function(_index){
					var state = this.qaList[_index].active;
					for( var i = 0; i<this.qaList.length; i++){
						this.qaList[i].active = false;
					}
					if(state){
						this.qaList[_index].active = false;
					}else{
						this.qaList[_index].active = true;
					}
				},
				avatarShow: function(status){
					var url = status == 2 ? this.avatar.customer : this.avatar.sys;
					var imgStyle;
					if(this.avatar.scale != 1){
						imgStyle =  {backgroundImage: 'url(' + url +')', backgroundSize: 'auto 102%'}
					}else{
						imgStyle =  {backgroundImage: 'url(' + url +')'}
					}
					return imgStyle;
				}
			}
		});
		showNewMsgVM = new Vue({
			el: '.new-msg',
			data:{
				newMsg: newMsg
			}
		})
		showUploadVM.pageLoading = false;
		firstLoad = function(){
			var _data = $api.getStorage('OURMALL_CHATLIST');
			if( typeof _data == "object" && _data.length > 0 ){
				for(var i=0; i<_data.length; i++){
					showUploadVM.historyChatList.push(_data[i])
				}
				setTimeout(function(){
					showUploadVM.loadingShow = false;
				},8000)
				
			}
			onloadChatList();
		}
		onloadChatList = function(){
			showUploadVM.pageLoading = true;
			$.mamall_request('feedback.find', {
				customerId:userInfo.customerId,
				OM_DEVICE_UUID: api.deviceId,
				page:1,
				rowsPerPage:10
			},function(r) {
				showUploadVM.chatList = [];
				if(!isFirstLoad)showUploadVM.parentPage = {};
				
				if (r.ErrorCode == '9999'){
					for(var key in r.Data.feedbacks){
						if(showUploadVM.historyChatList.length == 0){
							pushHistoryChatList(r.Data.feedbacks[key]);
						}else if(showUploadVM.historyChatList[showUploadVM.historyChatList.length-1].timestamp < r.Data.feedbacks[key].time){
							pushHistoryChatList(r.Data.feedbacks[key]);
							if(r.Data.feedbacks[key].status == 1){
								var docH = $(document).outerHeight()
								var scrollTH = api.frameHeight + $(window).scrollTop();
								if(docH>scrollTH+50){
									showNewMsgVM.newMsg = true;
								}else{
									scrollToBottom();
								}
							}
						}	
					}
					if(showUploadVM.historyChatList.length==0){
						showUploadVM.welcomeShow = true;
					}
					$api.setStorage('OURMALL_CHATLIST',showUploadVM.historyChatList.slice(-10));					
					totalPage = r.Data.Pagination.totalPage;
				}
				showUploadVM.pageLoading = false;
				setTimeout(function(){
					showUploadVM.loadingShow = false;
					onloadChatList();
				},8000)
			},undefined,api)
		}
		if(getUserInfo('')){
			firstLoad();
		}else{
			showUploadVM.welcomeShow = true;
		}
		function pushHistoryChatList(_data){
			if(_data.parentPage){
				_data.parentPage = JSON.parse(_data.parentPage);
				_data.parentPage.status = 3;
				_data.parentPage.timestamp = _data.time;
				showUploadVM.historyChatList.push(_data.parentPage);
				
			}
			showUploadVM.historyChatList.push({
				text : _data.content,
				time : formatEnTime(_data.time),
				status : _data.status,
				timestamp : _data.time
			});
		}
		//用户信息
		var localUinfo,avaterUrl;
		if(getUserInfo('')){
			localUinfo = JSON.parse(localStorage.getItem('OURMALL_USERINFO'));
			avaterUrl = localUinfo.portrait;
		}else{
			avaterUrl = '../../image/d-avatar.jpg'
		}

        var tempAvater = new Image();
        tempAvater.src = avaterUrl;
        tempAvater.onload = function(){
        	showUploadVM.avatar.customer = avaterUrl;//替换临时头像
        	if(tempAvater.width > tempAvater.height){
        		showUploadVM.avatar.scale = 2;
        	}
        }
        //父页面信息
		showUploadVM.parentPage = api.pageParam.parentPageData;	
		showUploadVM.parentPage.winName = api.pageParam.winName;
		showUploadVM.parentPage.frameName = api.pageParam.frameName;
		openParentPage =  function(_data){
			switch(_data.winName)
			{
				case 'pro-detail-platform':
					openProDetail( '1', undefined, _data.pid, _data.sid);
					//沉浸式状态栏
					if(api.systemType=="ios"){
			            if(parseInt(api.systemVersion,10)>=7){
			               api.addEventListener({
							    name:'viewappear'
							}, function(ret, err){
								setTimeout(function(){
									api.setStatusBarStyle({
									    style: 'light',
									    color:'transparent'
									});
								},200);
							});
			           }
			    	}	
					break;	
				case 'order-detail':
					openOrderDetail(_data.code);
					break;
			}
		};
		//提交聊天
		submitMessage = function(){
			getUserInfo(function(){
				var el = document.getElementById('inputMsg');
				var text = el.value.replace(/(^[\s\t\xa0\u3000]+)|([\u3000\xa0\s\t]+$)/g, "");
				if(!text.replace(/\n/g,'') || document.getElementById('inputSubmit').disabled){
					//不符合提交条件,重置
					el.value = '';
					el.style.height = '34px';
					return;
				} 
				text = HTMLEncode(text); //html转义
				text = text.replace(/\n/g,'<br>');   //回车改 br
				showUploadVM.submitting.text = text;
				el.value = ''; //输入框内容清空 ，提交按钮禁用
				el.style.height = '34px';
				el.blur();
				document.getElementById('inputSubmit').disabled = true;
				setTimeout(function(){
					scrollToBottom();
				},1000);
				//提交成功后
				var params = {};
				if (isFirstLoad) 
				{
					params =  {
								customerId:userInfo.customerId,
								OM_DEVICE_UUID: api.deviceId,
								content : text,
								parentPage : (showUploadVM.parentPage.pic || showUploadVM.parentPage.title) ? JSON.stringify(showUploadVM.parentPage) : undefined
								};
					saveMessage(params);
				}
				else 
				{
					params = {customerId:userInfo.customerId,OM_DEVICE_UUID: api.deviceId,content : text};
					saveMessage(params);
				}
	
				isFirstLoad = false;
			});
			
		}
		saveMessage = function(params){
			$.mamall_request('feedback.insertfromh5',params, function(r) {
					var dataList = [];var Items = [];
					if (r.ErrorCode == '9999')
					{
						chatAction = true;
						isFirstLoad = false;
						showUploadVM.submitting.text = ''; //删除在上传留言
						showUploadVM.chatList.push({
							text: params.content, 
							time:formatEnTime(Date.parse(new Date()) / 1000),
							status:2
						}); //新增留言放入列表
						setTimeout(function(){
							scrollToBottom();
						},200)
						document.getElementById('inputSubmit').disabled = false; //提交按钮恢复
					}
				},undefined,api);
		}

		updateHistoryMessage = function(){
			api.refreshHeaderLoadDone();
			if(!getCId())return;
			showUploadVM.pageLoading = true; 
			showUploadVM.loadingShow = true;
			page++
			$.mamall_request('feedback.find', {
				customerId : userInfo.customerId,
				OM_DEVICE_UUID : api.deviceId,
				page : page,
				rowsPerPage:10
			}, function(r) {
				showUploadVM.pageLoading = false;
				var tempArr = new Array;
				if (r.ErrorCode == '9999'){
					for (var key in r.Data.feedbacks) 
					{
						if(r.Data.feedbacks[key].parentPage){
							r.Data.feedbacks[key].parentPage = JSON.parse(r.Data.feedbacks[key].parentPage);
							r.Data.feedbacks[key].parentPage.status = 3;
							r.Data.feedbacks[key].parentPage.timestamp = r.Data.feedbacks[key].time;
							tempArr.push(r.Data.feedbacks[key].parentPage);
							
						}
						tempArr.push({
							text : r.Data.feedbacks[key].content,
							time : formatEnTime(r.Data.feedbacks[key].time),
							status : r.Data.feedbacks[key].status,
							timestamp : r.Data.feedbacks[key].time
						});
					}
					showUploadVM.historyChatList = tempArr.concat(showUploadVM.historyChatList);
					showUploadVM.pageLoading = false;
					totalPage = r.Data.Pagination.totalPage;
				}
				else page--;
			},undefined,api);
		}

		//下拉获取历史
		nui.pullrefresh(function(){
			if(showUploadVM.pageLoading) return false;
			if(page > totalPage)
			{
				nui.toast($.i18n.prop("No more data"));
				api.refreshHeaderLoadDone();
				showUploadVM.pageLoading = false
				return false;
			}
			updateHistoryMessage();
		})
		showNewMsg = function(){
			showNewMsgVM.newMsg = false; 
			scrollToBottom();
		}
		//如果没登录获取焦点登录
		$("#inputMsg").focus(function(){
			//先登录
			getUserInfo(function(){});
			if(api.systemType == 'ios'){
				$('html').addClass('ios-fixed-hack');
			}
			scrollToBottom();
		});
		$("#inputMsg").blur(function(){
			$('html').removeClass('ios-fixed-hack');
		});
	}
	</script>
</html>