<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>share mask</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/share-mask.css" />
		<style>
			html{ min-height:100%;}
			html,body,#wrap{
				background: transparent;
			}
			.mask{ position: fixed; top: 0; left: 0; z-index: 1; width: 100%; height: 100%;}
			#wrap{ position: relative; z-index: 2;}
		</style>
		<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>
	
	<body>
		<div class="mask" tapmode onclick="closeMask();"></div>
		<div id="wrap">
			<div class="share-btn-group" v-cloak v-show="thisShow">
				<ul class="share-btn-list">
					<li v-for="(item,index) in shareList">
						<a href="javascript:;" :class="item.title" tapmode @click="shareTo(item.target)">
							<em>
								<i class="ourmallfont" :class="'icon0-' + item.title" :title="$.i18n.prop(item.name)"></i>
							</em>
							<span>{{$.i18n.prop(item.name)}}</span>
						</a>
					</li>
					<li v-if="QR">
						<a href="javascript:;" class="qr" tapmode onclick="openQR()">
							<em>
								<i class="ourmallfont icon0-code"></i>	
							</em>
							<span>{{$.i18n.prop("QR")}}</span>
						</a>	
					</li>
					<li v-if="URL">
						<a href="javascript:;" class="url" tapmode  :data-clipboard-text="URL">
							<em>
								<i class="ourmallfont icon0-link"></i>
							</em>
							<span>{{$.i18n.prop("Copy Link")}}</span>
						</a>
					</li>
				</ul>
				<a href="javascript:;" tapmode  onclick="closeMask();" i18n-tag>CANCEL</a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/common.js" ></script>
	<script type="text/javascript" src="../../script/vue.min.js"></script>
	<script type="text/javascript" src="../../script/clipboard.min.js"></script>
	<script>
        // load langugae property files
        loadProperties();

        var mobShare;
		var closeMask = openQR = openSharePlatform = function(){};
		var shareContent = new Object;
		var shareTarget,
			shareData = {//分享参数
							facebook: {title:'facebook',name:'Facebook',target:'facebook'},
							twitter: {title:'twitter',name:'Twitter',target:'twitter'},
							google: {title:'google',name:'Google+',target:'googlePlus'},
							whatsApp: {title:'whatsApp',name:'WhatsApp',target:'whatsApp'},
							// wechat: {title:'wechat',name:'Wechat',target:'wxSession'},
							// pinterest: {title:'pinterest',name:'Pinterest',target:'pinterest'},
							// instagram: {title:'instagram',name:'Instagram',target:'instagram'},
							whatsApp: {title:'whatsapp',name:'WhatsApp',target:'whatsApp'},
							mail: {title:'mail',name:'Mail',target:'mail'},
							sms: {title:'sms',name:'SMS',target:'sms'}
						  }
		
		var shareList = new Array;
		var loadingId = '';
		var UILoading;
		var shareMV = new Vue({
			el:'.share-btn-group',
			data:{
				thisShow: false,
				shareList: shareList,
				QR:'',
				URL:''
			},	
			methods:{
				shareTo: function(_target){
					UILoading.flower({
		                center: {
		                    x: api.winWidth / 2.0,
		                    y: api.winHeight / 2.0
		                },
		                size: 40,
		                fixed: true
		            }, function(ret) {
		                loadingId = ret;
		            });

					if(! $api.getStorage('NOTIFY_SHARE_LONG_TIME')) {
						api.alert({
						    title: '',
						    msg: $.i18n.prop("Please be patient to wait the share page loading, it will take several seconds."),
						}, function(ret, err) {
							openSharePlatform(_target);
							$api.setStorage('NOTIFY_SHARE_LONG_TIME', true);
						});
					} else {
						openSharePlatform(_target);
					}
					setTimeout(function(){
						UILoading.closeFlower(loadingId);
					}, 100);
				}
			}	
		});

		function AR() {
			shareMV.thisShow = true;
			UILoading = api.require('UILoading');
			mobShare = api.require('mobShare');
			shareContent = api.pageParam._data;
			shareMV.QR = shareContent.functionName;
			shareMV.URL = shareContent.url;
			//分享到哪些平台
			shareTarget = api.pageParam._targets;
			
			if(!shareTarget || typeof shareTarget != 'object'){
				shareTarget = new Array;
			}
			//生成分享菜单
			if(shareTarget.length==0){
				for(var i in shareData){
					shareMV.shareList.push(shareData[i]);	
				}
			}else{
				for(var i = 0; i < shareTarget.length; i++){
					shareMV.shareList.push(shareData[shareTarget[i]]);	
				}
			}
			closeMask = function(){
				$api.setStorage("openShareState",false);
				setTimeout(function(){
					api.closeFrame({});
				},200)	
			}
			openQR = function(){
				api.execScript({
					name: shareContent.winName,
					frameName:  shareContent.frameName,
					script: shareContent.functionName
				})
				setTimeout(closeMask,200);
			}
			var clipboard = new Clipboard('.url');
			clipboard.on('success', function(e) {
				nui.toast($.i18n.prop("Copy Succeed"));
				setTimeout(closeMask,2000)
			});
			clipboard.on('error', function(e) {
				nui.toast($.i18n.prop("Copy Failed,please try another share type"));
			});

			openSharePlatform = function(_target) {
				if(_target == 'facebook' || _target == 'twitter' || _target == 'google' || _target == 'whatsApp') {
					api.showProgress({
			            style: 'default',
			            animationType: 'fade',
			            title: $.i18n.prop("Posting..."),
			            text: ''
			        });
				} else {
					UILoading.flower({
		                center: {
		                    x: api.winWidth / 2.0,
		                    y: api.winHeight / 2.0
		                },
		                size: 40,
		                fixed: true
		            }, function(ret) {
		                setTimeout(function(){ UILoading.closeFlower(ret); }, 3000);
		            });
				}
				mobShare.shareTo({
				    target: _target,
				    title: _target=='facebook'||_target=='google'||_target=='whatsApp'?'':shareContent.title,
				    text: _target=='facebook'||_target=='google'?'':shareContent.text + ' #ZoodMall',
				    imgPaths: _target=='twitter'?'':shareContent.imgPaths,
				    url: shareContent.url
				    
				}, function(ret, err) {
					api.hideProgress();
	                if (ret.status) {
				    	var isShareEarn = shareContent.isShareEarn;
				    	if (isShareEarn == 1) {
							shareOpenCoupon();
				    	} else{
				    		nui.toast($.i18n.prop("Share succeed"));
				    	}
				    } else if (_target == 'whatsApp' && api.systemType == 'ios') {
				    	//ios打开失败，尝试用whatsapp://打开应用
				    	api.openApp({'iosUrl':'whatsapp://send?text=' + shareContent.text}, function(ret, err) {});
				    }
				    setTimeout(function(){
				    	api.closeFrame({name:'share-mask'});
					}, 500);
				});
			}
		}
	</script>
</html>
