<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>side filter</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<style>
			html,body{ background: transparent; height: 100%;}
			#wrap{ background: #fff; min-height: 100%;}
			#wrap.hide{ display: none;}
			.filter-header{ position: relative; border-bottom: 1px #ddd solid; padding: 0 15px;}
			.filter-header h1{ height: 32px; line-height: 32px; font-size: 16px; font-weight: 500; color: #222;}
			.filter-header a{ position: absolute; top: 50%; right: 15px; -webkit-transform: translateY(-50%); transform: translateY(-50%);
			color: #767676; font-size: 12px;}
			.mall-filter-wrap,.show-filter-wrap{ padding-top: 15px ;}
			.mall-c-list{ margin-bottom: 10px; padding: 0 15px 15px; border-bottom: 1px #ddd solid;}
			.mall-c-list li{ margin-bottom: 10px;}
			.mall-c-list li:last-child{ margin-bottom: 0; border-bottom: none;}
			.mall-c-list li>a{ display: flex; justify-content: space-between; align-items: center;
			 font-size: 14px; height: 22px;}
			.mall-c-list li>a>.left{ color: #767676; font-size: 14px;} 
			.mall-c-list li>a>.right{ display: flex; align-items: center;}
			.mall-c-list li>a>.right span{ margin-right: 5px; color: #222; font-size: 14px;}
			.title{ margin-bottom: 10px; padding: 0 15px; color: #222; font-size: 14px; font-weight: 400;}
			.range-wrap{ margin-bottom: 15px; padding: 0 15px 15px; border-bottom: 1px #ddd solid;
			display: flex; align-items: center;}
			.range-wrap>span{ margin: 0 10px;}
			.input-group{ }
			.input-group input{ border:1px #ddd solid; width: 100%; height: 26px; padding: 0 8px; font-size: 14px; text-align: center;}
			.sort-wrap{ padding: 5px 15px 15px;}
			.radio-group{ margin-bottom: 10px;}
			.radio-group label{ display: flex; justify-content: space-between; align-items: center; line-height: 26px;}
			.radio-group label>span{ font-size: 14px; color: #767676;}
			.radio-group i{ color: #767676; font-size: 18px;}
			.radio-group [type=radio]:checked+i{ color: #E62117;}
			.radio-group [type=radio]:checked+i:before{ content:"\e63c";}
			.bottom-action{ position: fixed; left:0; bottom:0; width: 100%; display: flex;}
			.bottom-action>a{ width: 50%; line-height: 34px; height: 36px; text-align: center; border:1px #E62117 solid;}
			.bottom-action>a:first-child{  color: #E62117; background:#fff;}
			.bottom-action>a:last-child{  color: #fff; background:#E62117;}
			.show-filter-wrap .range-wrap{ margin-bottom: 0;}
			.range-wrap .btn{ display: block; margin: 0 auto; width: 80%; background:#f1f1f1; height: 26px; line-height: 24px;
			text-align: center; border:1px #ddd solid; font-size: 14px;}
			.range-wrap .btn.active{ border-color: #E62117; color: #E62117; background-color: #fff;}
			.show-c-list{ padding-bottom: 36px;}
			.show-c-list dt{ padding: 0 15px; height:36px; line-height:36px; color: #333; font-size: 14px; border-bottom: 1px #ddd solid;}
			.show-c-list dd{ padding: 0 15px; border-bottom: 1px #ddd solid;}
			.show-c-list dd .radio-group{ margin-bottom: 0;}
			.show-c-list dd .radio-group label{ line-height: 36px;}
		</style>
		<script type="text/javascript" src="../../script/api.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>
	<body class="sidefilter">
		<div class="header_status">
			
		</div>
		<div id="wrap">
			<div class="filter-header">
				<h1 i18n-tag>Filter</h1>
				<a href="javascript:closeSide();" tapmode><i class="iconfont icon-guanbi"></i></a>
			</div>
			<div class="mall-filter-wrap" v-show="activeClass == 'mall'">
				<ul class="mall-c-list">
					<li v-for="(item,index) in mallSelectList">
						<a href="javascript:;" tapmode :onclick="'openSubSidePane('+index+');'">
							<span class="left" v-text="index == 0 ? $.i18n.prop(item.name) : item.name "></span>
							<div class="right">
								<span v-text="showName(item.selectVal)"></span>
								<i class="iconfont icon-jiantou"></i>
							</div>
						</a>
					</li
				</ul>
				<h3 class="title" i18n-tag>Price Range</h3>
				<div class="range-wrap">
					<div class="input-group">
						<input type="number" class="r-input" placeholder="min" id="inputMinPrice" :value="minPrice" v-model="minPrice">
					</div>
					<span> - </span>
					<div class="input-group">
						<input type="number" class="r-input" placeholder="max" id="inputMaxPrice" :value="maxPrice" v-model="maxPrice">
					</div>
				</div>
				<h3 class="title" i18n-tag>Sort</h3>
				<div class="sort-wrap">
					<div class="radio-group">
						<label>
							<span><ourmall i18n-tag>Price</ourmall>: <ourmall i18n-tag>lowest first</ourmall></span>
							<input type="radio" name="radioMall" value="1" :checked="sortBy == 1 ? 'checked' : ''" v-model="sortBy">
							<i class="ourmallfont icon0-nocheck"></i>	
						</label>
					</div>
					<div class="radio-group">
						<label>
							<span><ourmall i18n-tag>Price</ourmall>: <ourmall i18n-tag>highest first</ourmall></span>
							<input type="radio" name="radioMall" value="2" :checked="sortBy == 2 ? 'checked' : ''" v-model="sortBy">
							<i class="ourmallfont icon0-nocheck"></i>	
						</label>
					</div>
				</div>
			</div>
			<div class="show-filter-wrap"  v-show="activeClass == 'show'">
				<h3 class="title" i18n-tag>Sort</h3>
				<div class="range-wrap">
					<a href="javascript:showNewSort();" class="btn" :class="{active:showSort}" tapmode><ourmall i18n-tag>Time</ourmall>: <ourmall i18n-tag>newly listed</ourmall></a>
				</div>
				<dl class="show-c-list">
					<dt v-text="showTitle"></dt>
					<dd v-for="item in showSelectList">
						<div class="radio-group">
							<label>
								<span v-text="item"></span>
								<input type="radio" name="radioShow" :value="item" :checked="item == showSelectVal ? 'checked':''" v-model="showSelectVal">
								<i class="ourmallfont icon0-nocheck"></i>	
							</label>
						</div>
					</dd>
				</dl>	
			</div>
			<div class="bottom-action">
				<a href="javascript:sideAction('reset');" tapmode><i class="ourmallfont icon0-shuaxin"></i><ourmall i18n-tag>RESET</ourmall></a>
				<a href="javascript:sideAction('confirm');" tapmode><i class="iconfont icon-duihao"></i><ourmall i18n-tag>CONFIRM</ourmall></a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js"></script>
	<script type="text/javascript" src="../../script/vue.min.js"></script>
	<script type="text/javascript" src="../../script/common.js"></script>
	<script>
	if(localStorage.getItem('DEFAULT_APP_LANGUAGE')== 'fa')
	$('head').append('<link rel="stylesheet" type="text/css" href="../../css/style-rtl.css">');
    // load langugae property files
    loadProperties();

    //初始化	方法
	var closeSide = updataPage = openSubSidePane = changeClassSelect = sideAction = showNewSort = function(){};
	var activeMallCategroy,sidePaneMallSubCategory,mallSubCategory,activeShowCategroy;
	var filterOption = new Object;
	//模板
	var filterMV = new Vue({
			el:'#wrap',
			data:{
				activeClass: '',//显示哪个筛选
				mallSelectList:[], //mall筛选列表
				minPrice:'',
				maxPrice:'',
				sortBy:'',
				showSelectList:[],
				showTitle:'',
				showSort:false,
				showSelectVal:''
			},
			methods:{
				showName: function(text){
					text = text.split('::').pop();
					return text == 'All' ? $.i18n.prop(text) : text;
				}
			}
		});
	function AR(){
		closeSide = function(){
			api.closeWin();
		}
		updataPage = function(){
			//沉浸式
			var header = $api.dom('.header_status');
				fixStatusBar(header);
			var header_h = $api.cssVal(header,'padding-top');
			if(header){
				document.querySelector("#wrap").style.paddingTop = header_h;
			}else{
				document.querySelector("#wrap").style.paddingTop = 0;
			};
			$api.css(header,'background-color:rgba(0,0,0,.05);');	
			
	var statusBar = document.querySelector(".header_status");
	if(statusBar){
		window.onscroll = function(e){
			var ct = document.documentElement.scrollTop || document.body.scrollTop;
			if(ct <= 10){
				if(api.systemType=="ios"){
		            if(parseInt(api.systemVersion,10)>=7){
		                  statusBar.style.backgroundColor = "transparent";
		                   
		            }else{
		                  statusBar.style.backgroundColor = "transparent";
		                  
		            }
			    }else{
			    	if(parseFloat(api.systemVersion)>=4.4 && parseFloat(api.systemVersion)<=5.0){
	                        statusBar.style.backgroundColor  = '#000000';
	                        
		                }else if(parseFloat(api.systemVersion)>5.0){
		                	statusBar.style.backgroundColor = '#000000';
		                        
		                }else{
		                	statusBar.style.backgroundColor = "transparent";
		                }
			    };
				
			}else{
				if(api.systemType=="ios"){
		            if(parseInt(api.systemVersion,10)>=7){
		                  statusBar.style.backgroundColor = '#ffffff';
		                   
		            }else{
		                  statusBar.style.backgroundColor = "transparent";
		                  
		            }
			    }else{
			    	if(parseFloat(api.systemVersion)>=4.4 && parseFloat(api.systemVersion)<=5.0){
	                        statusBar.style.backgroundColor  = '#000000';
	                        
		                }else if(parseFloat(api.systemVersion)>5.0){
		                	statusBar.style.backgroundColor = '#000000';
		                        
		                }else{
		                	statusBar.style.backgroundColor = "transparent";
		                }
			    };
			}
		}
	};
			filterMV.activeClass = $api.getStorage('activeMainMenu'); //显示哪块
			
			switch(filterMV.activeClass){
				case 'mall':
					activeMallCategroy = $api.getStorage('activeMallCategroy');
					if(!activeMallCategroy) return;
					if(activeMallCategroy == '9999' || activeMallCategroy == '9998') return;
					sidePaneMallSubCategory = $api.getStorage('sidePaneMallSubCategory');
					filterMV.mallSelectList = [];//清空
					var subList = new Array;
					//获取子分类
					var mallSubCategory = JSON.parse($api.getStorage('sidePane')).Data
					for(var key in mallSubCategory){
						if(mallSubCategory[key].id == activeMallCategroy){
							for( var childKey in mallSubCategory[key].child){
								subList.push(childKey + '::' + mallSubCategory[key].child[childKey])
							}
							filterMV.mallSelectList.push({name: mallSubCategory[key].name, selectVal: 'All', subList: subList})
						}
					}
					//获取选项参数
					subList = new Array;
					for(var key in sidePaneMallSubCategory[activeMallCategroy]){
						for( var i = 0; i < sidePaneMallSubCategory[activeMallCategroy][key].value.length; i++){
							for( var childKey in sidePaneMallSubCategory[activeMallCategroy][key].value[i]){
								subList.push(childKey + '::' + sidePaneMallSubCategory[activeMallCategroy][key].value[i][childKey])
							}
						}
						filterMV.mallSelectList.push({name: sidePaneMallSubCategory[activeMallCategroy][key].name, selectVal: 'All', subList: subList})
					}
					//如果有缓存 赋初始值
					filterOption = JSON.parse($api.getStorage('MallProductCategoryFilter')); //获取初始筛选
					if(typeof filterOption[activeMallCategroy] != 'object') return false;
					
					if(filterOption[activeMallCategroy].nameLike || filterOption[activeMallCategroy].nameLikeTXT){
						filterMV.mallSelectList[0].selectVal = filterOption[activeMallCategroy].nameLike + '::' + filterOption[activeMallCategroy].nameLikeTXT;
					}
					
					filterMV.minPrice = '';
					if(filterOption[activeMallCategroy].minPrice){
						filterMV.minPrice = filterOption[activeMallCategroy].minPrice;
					}
					
					filterMV.maxPrice = '';
					if(filterOption[activeMallCategroy].maxPrice){
						filterMV.maxPrice = filterOption[activeMallCategroy].maxPrice;
					}
					
					if(typeof filterOption[activeMallCategroy].specificsQueryCond == 'object' ){
						for(var i = 0; i < filterOption[activeMallCategroy].specificsQueryCond.length; i++){
							filterMV.mallSelectList[i+1].selectVal = filterOption[activeMallCategroy].specificsQueryCond[i] + '::' + filterOption[activeMallCategroy].specificsQueryCondTXT[i];
						}
					}
					
					filterMV.sortBy = '';
					if(filterOption[activeMallCategroy].sortBy){
						filterMV.sortBy = filterOption[activeMallCategroy].sortBy;
					}

					break;
			}
		}
		updataPage();
		openSubSidePane = function(_index){
			$api.openWin({
			    name: 'sideFilter-sub',
			    url: 'widget://html/main/sideFilter-sub.html',
			    rect: {
			        x: 0,
			        y: 0,
			        w: 'auto',
			        h: 'auto'
			    },
			    reload:true,
			    animation:{
			    	type: 'movein',
			    	subType: 'form_right',
			    	duration: 300
			    },
			    pageParam: {
			        data: filterMV.mallSelectList[_index],
			        index: _index
			    }
			});
		}
		changeClassSelect = function(val,i){
			filterMV.mallSelectList[i].selectVal = val;
		}
		
		sideAction = function(type){
			switch(filterMV.activeClass){
				case 'mall':
					filterOption[activeMallCategroy].nameLike = '',
					filterOption[activeMallCategroy].nameLikeTXT = '',
					filterOption[activeMallCategroy].minPrice = '',
					filterOption[activeMallCategroy].maxPrice = '',
					filterOption[activeMallCategroy].sortBy = '',
					filterOption[activeMallCategroy].specificsQueryCond = [],
					filterOption[activeMallCategroy].specificsQueryCondTXT = [];
					if(type == 'reset'){
						//filterMV.mallSelectList
						filterMV.minPrice = '',
						filterMV.maxPrice = '',
						filterMV.sortBy = '';
						for(var i = 0; i < filterMV.mallSelectList.length; i++){
							filterMV.mallSelectList[i].selectVal = 'All'
						}
						
					}else if(type == 'confirm'){
						filterOption[activeMallCategroy].nameLike = filterMV.mallSelectList[0].selectVal == 'All' ? '' : filterMV.mallSelectList[0].selectVal.split('::').shift(),
						filterOption[activeMallCategroy].nameLikeTXT = filterMV.mallSelectList[0].selectVal == 'All' ? '' : filterMV.mallSelectList[0].selectVal.split('::').pop(),
						filterOption[activeMallCategroy].minPrice = $('#inputMinPrice').val(),
						filterOption[activeMallCategroy].maxPrice = $('#inputMaxPrice').val(),
						filterOption[activeMallCategroy].sortBy = $('[name=radioMall]:checked').val();
						for( var i = 1; i < filterMV.mallSelectList.length; i++){
							filterOption[activeMallCategroy].specificsQueryCond.push(filterMV.mallSelectList[i].selectVal.split('::').shift())
						}
						for( var i = 1; i < filterMV.mallSelectList.length; i++){
							filterOption[activeMallCategroy].specificsQueryCondTXT.push(filterMV.mallSelectList[i].selectVal.split('::').pop())
						}
					}					
					$api.setStorage('MallProductCategoryFilter',JSON.stringify(filterOption));
					//刷新那个页面
					removeLocalPageData('MALL_GROUP_' + activeMallCategroy) //删除页面缓存
					api.execScript({
					    name: 'main',
						script: 'openFrameReload($("#mall ul>li[data-categoryId='+activeMallCategroy+']").index())'
					});	
					break;
				case 'show':
					filterOption[activeShowCategroy].nameLike = '',
					filterOption[activeShowCategroy].sortBy = '';
					if(type == 'reset'){
						filterMV.showSelectVal = 'All'; 
						filterMV.showSort = false;
					}else if(type == 'confirm'){
						filterOption[activeShowCategroy].nameLike = filterMV.showSelectVal == 'All' ? '' : filterMV.showSelectVal,
						filterOption[activeShowCategroy].sortBy = filterMV.showSort == true ? '1' : '';	
					}
					$api.setStorage('ShowProductCategoryFilter', JSON.stringify(filterOption));//存本地
					//刷新那个页面
					removeLocalPageData('SHOW_GROUP_' + activeShowCategroy) //删除页面缓存
					api.execScript({
					    name: 'main',
						script: 'openFrameReload($("#show ul>li[data-categoryId='+activeShowCategroy+']").index(),"show")'
					});
					break;
			}
			api.execScript({
				name:'main',
				script:'filterBadgeActive();'
			});
			
			closeSide();
			
		}
		showNewSort = function(){
			filterMV.showSort = !filterMV.showSort;	
		}
	}
	</script>
</html>