<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>side filter sub</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<style>
			html,body{ background: transparent; height: 100%;}
			#wrap{ background: #fff; min-height: 100%;}
			#wrap.hide{ display: none;}
			.title{ margin-bottom: 10px; padding: 0 15px; color: #222; font-size: 14px; font-weight: 400;}
			.range-wrap{ margin-bottom: 15px; padding: 0 15px 15px; display: flex; align-items: center;}
			.range-wrap>span{ margin: 0 10px;}
			.input-group{ }
			.input-group input{ border:1px #ddd solid; width: 100%; height: 26px; padding: 0 8px; font-size: 14px; text-align: center;}
			.sort-wrap{ padding: 0 15px 15px;}
			.radio-group{ margin-bottom: 10px;}
			.radio-group label{ display: flex; justify-content: space-between; align-items: center; line-height: 32px;}
			.radio-group label>span{ font-size: 14px; color: #767676;}
			.radio-group i{ color: #767676; font-size: 18px;}
			.radio-group [type=radio]:checked+i{ color: #E62117;}
			.radio-group [type=radio]:checked+i:before{ content:"\e63c";}
			.range-wrap .btn{ display: block; margin: 0 auto; width: 80%; background:#f1f1f1; height: 26px; line-height: 24px;
			text-align: center; border:1px #ddd solid; font-size: 14px;}
			.show-c-list dt{ position: relative;  padding: 0 15px; line-height: 36px; height: 36px; color: #333; font-size: 14px; 
			border-bottom: 1px #ddd solid;}
			.show-c-list dd{ padding: 0 15px; border-bottom: 1px #ddd solid;}
			.show-c-list dd .radio-group{ margin-bottom: 0;}
			.show-c-list dt>a{ position: absolute; top: 50%; right:15px; -webkit-transform: translateY(-50%); transform: translateY(-50%);
			font-size: 12px; color: #767676;}
		</style>
		<script type="text/javascript" src="../../script/api.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>
	<body class="sidefilter-sub">
		<div class="header_status">
			
		</div>
		<div id="wrap">
			<div class="show-filter-wrap">
				<dl class="show-c-list">
					<dt>{{num == 0 ? $.i18n.prop(title) : title}}<a href="javascript:closeFrame();" tapmode><i class="iconfont icon-guanbi"></i></a></dt>
					<dd>
						<div class="radio-group">
							<label tapmode onclick="selectSubClass('All')">
								<span i18n-tag>All</span>
								<input type="radio" name="radioShow" value="All" :checked="selectVal == 'All' ? 'checked':''">
								<i class="ourmallfont icon0-nocheck"></i>	
							</label>
						</div>
					</dd>
					<dd v-for="(item,index) in subList">
						<div class="radio-group" >
							<label  tapmode :onclick="'selectSubClass('+index+')'">
								<span v-text="showName(item)"></span>
								<input type="radio" name="radioShow" :value="item"  :checked="selectVal == item ? 'checked':''">
								<i class="ourmallfont icon0-nocheck"></i>	
							</label>
						</div>
					</dd>
				</dl>	
			</div>	
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js"></script>
	<script type="text/javascript" src="../../script/vue.min.js"></script>
	<script type="text/javascript" src="../../script/common.js"></script>
	<script>
	if(localStorage.getItem('DEFAULT_APP_LANGUAGE')== 'fa')
	$('head').append('<link rel="stylesheet" type="text/css" href="../../css/style-rtl.css">');
    // load langugae property files
    loadProperties();

    var closeFrame = selectSubClass = function(){};
	//模板
	var filterSubMV = new Vue({
			el:'#wrap',
			data:{
				title: '',//标题
				selectVal:'',
				subList:[], //列表
				num: undefined
			},
			methods:{
				showName: function(text){
					text = text.split('::').pop();
					return text;
				}
			}
		});	
	function AR(){
		//沉浸式
			var header = $api.dom('.header_status');
				fixStatusBar(header);
			var header_h = $api.cssVal(header,'padding-top');
			if(header){
				document.querySelector("#wrap").style.paddingTop = header_h;
			}else{
				document.querySelector("#wrap").style.paddingTop = 0;
			};
	var statusBar = document.querySelector(".header_status");
	
	if(statusBar){
		window.onscroll = function(e){
			var ct = document.documentElement.scrollTop || document.body.scrollTop;
			if(ct <= 10){
				if(api.systemType=="ios"){
		            if(parseInt(api.systemVersion,10)>=7){
		                  statusBar.style.backgroundColor = "transparent";
		                   
		            }else{
		                  statusBar.style.backgroundColor = "transparent";
		                  
		            }
			    }else{
			    	if(parseFloat(api.systemVersion)>=4.4 && parseFloat(api.systemVersion)<=5.0){
	                        statusBar.style.backgroundColor  = '#000000';
	                        
		                }else if(parseFloat(api.systemVersion)>5.0){
		                	statusBar.style.backgroundColor = '#000000';
		                        
		                }else{
		                	statusBar.style.backgroundColor = "transparent";
		                }
			    };
				
			}else{
				if(api.systemType=="ios"){
		            if(parseInt(api.systemVersion,10)>=7){
		                  statusBar.style.backgroundColor = '#ffffff';
		                   
		            }else{
		                  statusBar.style.backgroundColor = "transparent";
		                  
		            }
			    }else{
			    	if(parseFloat(api.systemVersion)>=4.4 && parseFloat(api.systemVersion)<=5.0){
	                        statusBar.style.backgroundColor  = '#000000';
	                        
		                }else if(parseFloat(api.systemVersion)>5.0){
		                	statusBar.style.backgroundColor = '#000000';
		                        
		                }else{
		                	statusBar.style.backgroundColor = "transparent";
		                }
			    };
			}
		}
	};
			
		var _data = api.pageParam.data,
		    selectIndex = api.pageParam.index;
		filterSubMV.num =  selectIndex;   
		filterSubMV.title = _data.name;
		filterSubMV.selectVal = _data.selectVal;
		for( var i = 0; i< _data.subList.length; i++){
			filterSubMV.subList.push(_data.subList[i])
		}
		filterSubMV.subList.sort();
		closeFrame = function(){
			api.closeWin();
		}
		selectSubClass = function(_select){
			if(_select != 'All'){
				_select = filterSubMV.subList[_select]
			}
			filterSubMV.selectVal = _select;
			api.execScript({
				name: 'sideFilter',
				script: 'changeClassSelect("' + _select + '","' + selectIndex + '")'
			});
			closeFrame();
		}
		
	}
	</script>
</html>