<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>side search filter</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<style>
			html,body{ background: transparent; height: 100%;}
			#wrap{ background: #fff; min-height: 100%;}
			#wrap.hide{ display: none;}
			.filter-header{ position: relative; border-bottom: 1px #ddd solid; padding: 0 15px;}
			.filter-header h1{ height: 32px; line-height: 32px; font-size: 16px; font-weight: 500; color: #222;}
			.filter-header a{ position: absolute; top: 50%; right: 15px; -webkit-transform: translateY(-50%); transform: translateY(-50%);
			color: #767676; font-size: 12px;}
			
			.title{ margin-bottom: 10px; padding: 0 15px; color: #222; font-size: 14px; font-weight: 400;}
			.range-wrap{ margin-bottom: 15px; padding: 0 15px 15px; border-bottom: 1px #ddd solid;
			display: flex; align-items: center;}
			.range-wrap>span{ margin: 0 10px;}
			.input-group{ }
			.input-group input{ border:1px #ddd solid; width: 100%; height: 26px; padding: 0 8px; font-size: 14px; text-align: center;}
			.sort-wrap{ padding: 5px 15px 15px;}
			.radio-group{ margin-bottom: 10px;}
			.radio-group label{ display: flex; justify-content: space-between; align-items: center; line-height: 26px;}
			.radio-group label>span{ font-size: 14px; color: #767676;}
			.radio-group i{ color: #767676; font-size: 18px;}
			.radio-group [type=radio]:checked+i{ color: #E62117;}
			.radio-group [type=radio]:checked+i:before{ content:"\e63c";}
			.bottom-action{ position: fixed; left:0; bottom:0; width: 100%; display: flex;}
			.bottom-action>a{ width: 50%; line-height: 34px; height: 36px; text-align: center; border:1px #E62117 solid;}
			.bottom-action>a:first-child{  color: #E62117; background:#fff;}
			.bottom-action>a:last-child{  color: #fff; background:#E62117;}
			.show-filter-wrap .range-wrap{ margin-bottom: 0;}
			.range-wrap .btn{ display: block; margin: 0 auto; width: 80%; background:#f1f1f1; height: 26px; line-height: 24px;
			text-align: center; border:1px #ddd solid; font-size: 14px;}
			.range-wrap .btn.active{ border-color: #E62117; color: #E62117; background-color: #fff;}
			.search-side-wrap{ padding-top: 10px;}
			.category-list{ padding: 0 15px; margin-bottom: 10px; border-bottom: 1px #ddd solid;}
			.category-list ul li{ margin-bottom: 10px; padding: 0 8px;}
			.category-list ul li.active{ border:1px #E62117 solid;  border-radius: 6px; padding: 0 7px;}
			.category-list ul a{ display: flex; justify-content: space-between; align-items: center; height: 30px; line-height: 30px;}
			.category-list ul li.active a{ height: 28px; line-height: 28px;}
			.category-list ul a span{ font-size: 14px; color: #767676;}
			.category-list ul a .num{ font-size: 12px; color: #aaa;}
		</style>
		<script type="text/javascript" src="../../script/api.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>
	<body class="side-search-filter">
		<div class="header_status">
		</div>
		<div id="wrap">
			<div class="filter-header">
				<h1 i18n-tag>Filter</h1>
				<a href="javascript:closeSide();" tapmode><i class="iconfont icon-guanbi"></i></a>
			</div>
			<div class="search-side-wrap">
				<h3 class="title" i18n-tag>Category</h3>
				<div class="category-list">
					<ul>
						<li v-for="(item,index) in categoryList" :class="item.active ? 'active':''" tapmode @click="activeCategory(index)">
							<a href="javascript:;">
								<span class="name" v-text="$.i18n.prop(item.name)"></span>
								<span class="num" v-text="item.num"></span>
							</a>
						</li>
					</ul>
				</div>
				<h3 class="title" i18n-tag>Price Range</h3>
				<div class="range-wrap">
					<div class="input-group">
						<input type="number" class="r-input" placeholder="min" id="inputMinPrice" :value="minPrice" v-model="minPrice">
					</div>
					<span> - </span>
					<div class="input-group">
						<input type="number" class="r-input" placeholder="max" id="inputMaxPrice" :value="maxPrice" v-model="maxPrice">
					</div>
				</div>
				<h3 class="title" i18n-tag>Sort</h3>
				<div class="sort-wrap">
					<div class="radio-group">
						<label tapmode>
							<span><ourmall i18n-tag>Price</ourmall>: <ourmall i18n-tag>lowest first</ourmall></span>
							<input type="radio" name="radioMall" value="1" :checked="sortBy == 1 ? 'checked' : ''" v-model="sortBy">
							<i class="ourmallfont icon0-nocheck"></i>	
						</label>
					</div>
					<div class="radio-group">
						<label tapmode>
							<span><ourmall i18n-tag>Price</ourmall>: <ourmall i18n-tag>highest first</ourmall></span>
							<input type="radio" name="radioMall" value="2" :checked="sortBy == 2 ? 'checked' : ''" v-model="sortBy">
							<i class="ourmallfont icon0-nocheck"></i>	
						</label>
					</div>
				</div>
			</div>
			<div class="bottom-action">
				<a href="javascript:sideAction('reset');" tapmode><i class="ourmallfont icon0-shuaxin"></i><ourmall i18n-tag>RESET</ourmall></a>
				<a href="javascript:sideAction('confirm');" tapmode><i class="iconfont icon-duihao"></i><ourmall i18n-tag>CONFIRM</ourmall></a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="../../script/baserequest.min.js"></script>
	<script type="text/javascript" src="../../script/nui.js"></script>
	<script type="text/javascript" src="../../script/vue.min.js"></script>
	<script type="text/javascript" src="../../script/common.js"></script>
	<script>
	if(localStorage.getItem('DEFAULT_APP_LANGUAGE')== 'fa')
	$('head').append('<link rel="stylesheet" type="text/css" href="../../css/style-rtl.css">');
    // load langugae property files
    loadProperties();

    var sideAction = function(){}
	var filterMV = new Vue({
		el: '#wrap',
		data:{
			categoryList:[],
			minPrice:'',
			maxPrice:'',
			sortBy:''
		},
		methods:{
			activeCategory: function(index){
				if(this.categoryList[index].num == 0) return;
				for(var i = 0; i < this.categoryList.length; i++){
					this.categoryList[i].active = false;
				}
				this.categoryList[index].active = true;
			}
		}
	});
	
	function AR(){
		//沉浸式
			var header = $api.dom('.header_status');
				fixStatusBar(header);
			var header_h = $api.cssVal(header,'padding-top');
			if(header){
				document.querySelector("#wrap").style.paddingTop = header_h;
			}else{
				document.querySelector("#wrap").style.paddingTop = 0;
			};
			$api.css(header,'background-color:rgba(0,0,0,.05);');	
		var keyword = api.pageParam.keyword; //关键词
		var categoryList = JSON.parse($api.getStorage('sidePane')).Data; //获取分类
		var defaultCid;
		for(var i = 0; i < categoryList.length; i++){
			if(categoryList[i].id !=  '9997' && categoryList[i].id !=  '9998' && categoryList[i].id !=  '9999'){
				filterMV.categoryList.push({id: categoryList[i].id, name:categoryList[i].name, active: false, num: 0});
			}
		}
		if(typeof $api.getStorage('searchFilterCategoryStorage') == 'object' && typeof $api.getStorage('searchFilterStorage') == 'object' ){
			var historyData = $api.getStorage('searchFilterStorage');
			filterMV.categoryList = $api.getStorage('searchFilterCategoryStorage');
			var categoryInfo = $api.getStorage('searchFilterCategoryInfo');
			for( var key in categoryInfo){
				for( var i = 0; i < filterMV.categoryList.length; i++){
					if(filterMV.categoryList[i].id == key){
						filterMV.categoryList[i].num = categoryInfo[key]
					}
				}
			}
			filterMV.minPrice = historyData.minPrice;
			filterMV.maxPrice = historyData.maxPrice;
			filterMV.sortBy = historyData.sortBy;
		}else{
			var categoryInfo = $api.getStorage('searchFilterCategoryInfo');
			for( var key in categoryInfo){
				for( var i = 0; i < filterMV.categoryList.length; i++){
					if(filterMV.categoryList[i].id == key){
						filterMV.categoryList[i].num = categoryInfo[key]
					}
				}
				if(key == 'key'){
					var activeId = categoryInfo[key];
					for( var i = 0; i < filterMV.categoryList.length; i++){
						if(filterMV.categoryList[i].id == activeId){
							defaultCid = i;
							filterMV.categoryList[i].active = true;
						}
					}
				}
			}
		}		
		closeSide = function(){
			api.closeWin();
		}
		sideAction = function(type){
			var searchFilterStorage = new Object;
			if(type == 'reset'){
				for(var i = 0; i < filterMV.categoryList.length; i++){
					filterMV.categoryList[i].active = false;
				}
				if(defaultCid){
					filterMV.categoryList[defaultCid].active = true;
				} 
				filterMV.minPrice = filterMV.maxPrice = filterMV.sortBy = '';
				$api.rmStorage('searchFilterStorage');
				$api.rmStorage('searchFilterCategoryStorage');
			}else if(type == 'confirm'){
				for( var i = 0; i < filterMV.categoryList.length; i++){
					if(filterMV.categoryList[i].active){
						searchFilterStorage.cid = filterMV.categoryList[i].id
						break;
					}
				}
				searchFilterStorage.minPrice = filterMV.minPrice;
				searchFilterStorage.maxPrice = filterMV.maxPrice;
				searchFilterStorage.sortBy = filterMV.sortBy;	
				$api.setStorage('searchFilterStorage',searchFilterStorage);
				$api.setStorage('searchFilterCategoryStorage',filterMV.categoryList);
			}
			api.execScript({
				name: 'searchitem',
				frameName: 'searchitem-sub',
				script: 'page=1; $("#products").html(""); getProductList()'
			})
		}
	}
	</script>
</html>