<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>str to qrcode</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/nui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<script type="text/javascript" src="../../script/api.js"></script>
		<script type="text/javascript" src="../../script/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="../../script/jquery.i18n.properties-min-1.0.9.js"></script>
		<script type="text/javascript" src="../../script/baserequest.min.js" ></script>
		<script type="text/javascript" src="../../script/nui.js"></script>
		<script type="text/javascript" src="../../script/common.js" ></script>
		<script type="text/javascript" src="../../script/baiduTemplate.js" ></script>
		<style>
			html,body,#wrap{
				background: transparent;
				height: 100%;
			}
			.container{
				width: 80%;
				position: fixed;
				top: 50%;
				left:50%;
				background: #FFFFFF;
				-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);	
				border-radius: 8px;
				padding: 20px 10px;
			}
			.close{ position: absolute; top: 3px; right:8px;}
			.QR{ margin-bottom: 5px;}
			.QR img{ width: 90%; margin: 0 auto;opacity: 0; min-height: 152px;}
			.bottom-info{ text-align: center;}
			.title{ display: flex; align-items: center;}
			.avatar-wrap{ width: 38px; height: 38px; border:2px #fff solid; border-radius: 50%; overflow: hidden;
			box-shadow: 1px 1px 6px #ccc; margin-right: 15px;}
			.avatar-wrap img{ width: 34px; height: 34px;}
			.name{ width: 50%; flex-grow: 1; color: #767676;}
		</style>
		
		<script type="text/javascript" src="../../script/api.js"></script>
<script>$('head').append("<link rel='stylesheet' type='text/css' href='../../css/skin"+localStorage.getItem('APP_MARKET_CODE')+".css'>");</script>
	</head>
	
	<body>
		<div id="wrap">
			<div class="pulldownload" style=" display:block; position: relative; top: 50%; left: 0; margin: 10px auto; transform: translateY(-50%); z-index: 99;">
			    <div class="loader" style="top: 4px;"></div>
			</div>
		</div>
		<div class="container">
			<a href="javascript:;" class="close" tapmode onclick="api.closeFrame({});"><i class="iconfont icon-guanbi"></i></a>
			<div class="QR">
				
			</div>
			<div class="bottom-info" i18n-tag>Scan QR code via ZoodMall App.</div>
		</div>
	</body>
	<script type="text/html" id="showQrCodeTemp">
		<a href="javascript:;" class="close" tapmode onclick="api.closeFrame({});"><i class="iconfont icon-guanbi"></i></a>
		<%if(type=='show'){%>
		<div class="title">
			<div class="avatar-wrap">
				<img src="<%=userPortrait%>" data-lazyload="true" data-original="<%=userPortrait%>" >
			</div>
			<div class="name nui-ellipsis1">
				<%=userName%>
			</div>
		</div>
		<%}%>
		<div class="QR">
		</div>
		<div class="bottom-info">
			<%=$.i18n.prop("Scan QR code via ZoodMall App.")%>
		</div>		
	</script>	
</html>
<script type="text/javascript">
    // load langugae property files
    loadProperties();

    var FNScanner;var fs;	var saveImgUrl ;
	function qrReady(el){
		$('.QR img').removeAttr("onload");
		$("#wrap .pulldownload").hide();
		$(el).css('opacity','1');
		var filename = 'fs://qrcode/scan-temp.png';
		var fs = api.require('fs');
		fs.remove({
		    path: filename
		}, function(ret, err) {
		    FNScanner.encodeImg({
			    content: api.pageParam.str,
				saveImg: {
					path: filename,
					w: 300,
					h: 300
				}
			}, function(ret, err) {
			    if (ret.status) {
					$('.QR img').attr("src",ret.imgPath);

					setTimeout(function(){
						fs.remove({ path:ret.imgPath},function(rets,errs){ });
					}, 1000);
				} else {
			        nui.toast($.i18n.prop("Oops, fail to generate this QR code, please try later!"));
			        api.closeFrame({name:'str-to-qrcode'});
			    }
			});
		});
	}
	
	function AR() {
		FNScanner = api.require('FNScanner');
		fs= api.require('fs');
		var obj = $api.getStorage('genCodeData');
		$api.setStorage('genCodeData', '');
		if(obj){
			$('.container').html(baidu.template("showQrCodeTemp", obj));	
			
		}
		$('.QR').html('<img src="../../image/placeholder300.png" onload="qrReady(this)">')
		$('#wrap').on('click',function(e){
			e.stopPropagation();
			api.closeFrame({});
		})
	}
</script>